<div id="ui-perferences" class="bg-white">
    <div class="wrapper-20 mt-70">
        <div class="row">
            <div class="col-md-12">
                <h4 class="pt-20 pb-28">Preferences</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 p-0 pt-1">
                <ul class="vertical-menu">
                    <li (click)="viewMode ='tab1'" [ngClass]="{'b-ua':viewMode =='tab1'}" class="c-p">
                        Biller profile</li>
                    <li (click)="viewMode ='tab2';getPrefixData(1)" [ngClass]="{'b-ua':viewMode =='tab2'}" class="c-p">
                        Invoice</li>
                    <li (click)="viewMode ='tab3';getPrefixData(2)" [ngClass]="{'b-ua':viewMode =='tab3'}" class="c-p">
                        Quotations</li>
                    <li (click)="viewMode ='tab4';getPrefixData(3)" [ngClass]="{'b-ua':viewMode =='tab4'}" class=" c-p">
                        Subscriptions</li>
                    <li (click)="viewMode ='tab5'" [ngClass]="{'b-ua':viewMode =='tab5'}" class=" c-p">
                        Email settings</li>
                </ul>

            </div>
            <div class="col-md-10 b-a p-0 min-height" [ngSwitch]="viewMode">
                <div *ngSwitchCase="'tab1'">
                    <div class="wrapper-12 pb-0">
                        <div class="row" (click)="Open('','billerProfile','open')">
                            <div class="col-md-12 right text-right pr-4">
                                <button mat-stroked-button class="btn-primary addon"><i
                                        class="material-icons">add</i>ADD NEW</button>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-16 pt-8" *ngFor="let singleBillerProfile of billerProfileData">
                        <div class="row b-a bg-grey lter pt-20 pb-16">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8 p-0">
                                        <h3 class="mb-0">{{singleBillerProfile.companyDisplayName}}</h3>
                                    </div>
                                    <div class="col-md-4">

                                        <button mat-stroked-button class="text-primary br-0">PRIMARY</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <i class="material-icons text-right right text-custom f-28 c-p" [matMenuTriggerFor]="menu"
                                    [matMenuTriggerFor]="belowMenu">
                                    more_vert
                                </i>
                                <mat-menu #menu="matMenu">
                                    <a mat-menu-item>Set as Primary</a>
                                    <a mat-menu-item (click)="Open(singleBillerProfile,'billerProfile','open')">Edit
                                        Biller Profile</a>
                                    <a mat-menu-item class="bt-1" (click)="deleteModal('SUBSCRIPTION')">Delete Biller
                                        Profile</a>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="b-a bt-none">

                            <div class="row">
                                <div class="col-md-6 p-0">
                                    <div class="wrapper-16">
                                        <p class="f-12">GST</p>
                                        <h5>{{singleBillerProfile.gstin}}</h5>
                                        <p class="f-12 pt-24">PAN</p>
                                        <h5>{{singleBillerProfile.pan}}</h5>
                                        <p class="f-12 pt-24">ADDRESS</p>
                                        <h5>203-A,”A” Wing, Suashish IT Park,<br> Off. Dattapada Road,<br> Borivali
                                            East<br> Mumbai 400 066<br> Maharashtra, India</h5>
                                    </div>
                                    <hr>
                                    <div class="wrapper-16">
                                        <div class="row">
                                            <div class="col-md-8 p-0">
                                                <p>Name on bank A/c</p>
                                                <h5>{{singleBillerProfile.nameAsPerBank}}</h5>
                                            </div>
                                            <div class="col-md-4 p-0">
                                                <p>Account No.</p>
                                                <h5>{{singleBillerProfile.acNumber}}</h5>
                                            </div>
                                        </div>

                                        <div class="row pt-24">
                                            <div class="col-md-8 p-0">
                                                <p>Bank name</p>
                                                <h5>{{singleBillerProfile.bankName}}</h5>
                                            </div>
                                            <div class="col-md-4 p-0">
                                                <p>IFSC code</p>
                                                <h5>{{singleBillerProfile.ifscCode}}</h5>
                                            </div>
                                            <div class="col-md-12 p-0 pt-24">
                                                <p class="f-12">ADDRESS</p>
                                                <h5>203-A,”A” Wing, Suashish IT Park,<br> Off. Dattapada Road,<br>
                                                    Borivali East<br> Mumbai 400 066<br> Maharashtra, India</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0 bl-1">
                                    <div class="wrapper-16">
                                        <p class="f-12">YOUR LOGO</p>
                                        <img src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png"
                                            class="img-icons">
                                    </div>
                                    <hr>
                                    <div class="wrapper-16">
                                        <p class="f-12">Footnote</p>
                                        <h5>{{singleBillerProfile.footnote}}</h5>
                                        <p class="pt-32">Terms & Conditions</p>
                                        <p class="f-16 notes">{{singleBillerProfile.terms}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div *ngSwitchCase="'tab2'">
                    <div *ngIf="showLoader">
                        <mat-spinner class="loader" [diameter]="30"></mat-spinner>
                    </div>         
                        <div [formGroup]="prefixData" class="wrapper-44" *ngIf="showLoader==false">
                            <div class="row pl-44">
                                <div class="col-md-3 pr-0 mr-40">
                                    <h5 class="m-0 f-14 text-black">Invoice prefix</h5>
                                    <div class="form-group pt-12">
                                        <input type="text" class="form-control br-0" formControlName="prefix">
                                    </div>

                                </div>
                                <div class="col-md-3 pr-0 ">
                                    <h5 class="m-0 f-14 text-black">Invoice next number</h5>
                                    <div class="form-group pt-12">
                                        <input type="text" class="form-control br-0" formControlName="nextNo">
                                    </div>
                                </div>
                                <div class="col-md-12 pt-40">
                                    <button mat-stroked-button class="btn-primary br-0 mr-8"
                                        (click)="savePrefix()">SAVE</button>
                                    <button mat-stroked-button class="text-primary br-0">CANCEL</button>
                                </div>
                            </div>
                        </div>
                
                </div>
                <div *ngSwitchCase="'tab3'">
                    <div *ngIf="showLoader">
                        <mat-spinner class="loader" [diameter]="30"></mat-spinner>
                    </div>
                    <div [formGroup]="prefixData" class="wrapper-44"  *ngIf="showLoader==false">
                        <div class="row pl-44">
                            <div class="col-md-3 pr-0 mr-40">
                                <h5 class="m-0 f-14 text-black">Quotation prefix</h5>
                                <div class="form-group pt-12">
                                    <input type="text" class="form-control br-0" formControlName="prefix">
                                </div>

                            </div>
                            <div class="col-md-3 pr-0">
                                <h5 class="m-0 f-14 text-black">Quotation next number</h5>
                                <div class="form-group pt-12">
                                    <input type="text" class="form-control br-0" formControlName="nextNo">
                                </div>
                            </div>
                            <div class="col-md-12 pt-40">
                                <button mat-stroked-button class="btn-primary br-0 mr-8"
                                    (click)="savePrefix()">SAVE</button>
                                <button mat-stroked-button class="text-primary br-0">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'tab4'">
                    <div *ngIf="showLoader">
                        <mat-spinner class="loader" [diameter]="30"></mat-spinner>
                    </div>
                    <div [formGroup]="prefixData" class="wrapper-44"  *ngIf="showLoader==false">
                        <div class="row pl-44">
                            <div class="col-md-3 pr-0 mr-40">
                                <h5 class="m-0 f-14 text-black">Subscription prefix</h5>
                                <div class="form-group pt-12">
                                    <input type="text" class="form-control br-0" formControlName="prefix">
                                </div>

                            </div>
                            <div class="col-md-3 pr-0">
                                <h5 class="m-0 f-14 text-black">Subscription next number</h5>
                                <div class="form-group pt-12">
                                    <input type="text" class="form-control br-0" formControlName="nextNo">
                                </div>
                            </div>
                            <div class="col-md-12 pt-40">
                                <button mat-stroked-button class="btn-primary br-0 mr-8"
                                    (click)="savePrefix()">SAVE</button>
                                <button mat-stroked-button class="text-primary br-0">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'tab5'">
                    <div class="wrapper-12 pb-0">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Email configuration <span matBadge="4" matBadgeOverlap="false"
                                        class="text-danger ba-danger f-10">NOT CONFIGURED</span></h4>
                                <div class="form-group">
                                    <input type="text" class="form-control br-0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Email templates</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div (click)="openEmailInvoice('emailInvoice')" class="col-md-6 c-p">
                                <div class="example-card">
                                <mat-card class="p-0 b-a">
                                    <div class="bg-grey lter wrapper-16 pl-24">
                                        <div class="row">
                                            <div class="col-md-11 p-0">
                                                <h3> Invoice</h3>
                                            </div>
                                            <div class="col-md-1">
                                                <i class="material-icons text-right text-custom f-32">
                                                    more_vert
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-20 pl-24">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <p>This template is used while sending invoices to your clients.</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="example-card">
                                <mat-card class="p-0 b-a">
                                    <div class="bg-grey lter wrapper-16 pl-24">
                                        <div class="row">
                                            <div class="col-md-11 p-0">
                                                <h3> Quotations</h3>
                                            </div>
                                            <div class="col-md-1">
                                                <i class="material-icons text-right text-custom f-32">
                                                    more_vert
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-20 pl-24">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <p>This template is used while sending quotations to your clients.</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            </div>
                        </div>
                        <div class="row pt-20 pb-20">
                            <div class="col-md-6">
                                <div class="example-card">
                                <mat-card class="p-0 b-a">
                                    <div class="bg-grey lter wrapper-16 pl-24">
                                        <div class="row">
                                            <div class="col-md-11 p-0">
                                                <h3> Documents with eSign request</h3>
                                            </div>
                                            <div class="col-md-1">
                                                <i class="material-icons text-right text-custom f-32">
                                                    more_vert
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-20 pl-24">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <p>This template is used while sending documents to your clients with
                                                    eSign request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="example-card">
                                <mat-card class="p-0 b-a">
                                    <div class="bg-grey lter wrapper-16 pl-24">
                                        <div class="row">
                                            <div class="col-md-11 p-0">
                                                <h3> Documents with0ut eSign request</h3>
                                            </div>
                                            <div class="col-md-1">
                                                <i class="material-icons text-right text-custom f-32">
                                                    more_vert
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-20 pl-24">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <p>This template is used while sending documents to your clients without
                                                    eSign.</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>