.content{
    position: relative;
    right: 20%;
}
.ba-green-2{
    border: 2px solid #02B875;
    border-radius: 2px;
}
.box-height{
    min-height: 81px;
    h3{
        text-align: center !important;
    }
}