.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
 
    background-color: #008FFF !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #008FFF !important;   /*inner circle color change*/
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#008FFF !important; /*outer ring color change*/
  }
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #008FFF !important;
  }
  
  // overwrite the ripple overlay on hover and click
  ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #008FFF !important;
  }
  // ::ng-deep .mat-checkbox-layout{
  //   vertical-align: top !important;
  // }
  h3{
    font-family: "Playfair Display";
  }
  h5{
    font-family: "Proxima Nova",sans-serif;
  }
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
    padding: 0;
}