<div id="ui-misreport">
    <div class="sub-header-fix bl-1">
        <div class="bg-white pb-20">
            <div class="row ">
                <div class="col-lg-6 col-md-3">
                    <h3 class="mb-0 top-head">Back office - MIS</h3>
                </div>
                <div class="col-lg-6 col-md-6">
                    <mat-tab-group class="block right-fixed mr-16">
                        <mat-tab label="MUTUAL FUNDS">
                            <app-mutual-funds></app-mutual-funds>
                        </mat-tab>
                        <mat-tab label="LIFE INSURANCE"> </mat-tab>
                        <mat-tab label="GENERAL INSURANCE"> </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

</div>