<div class="wrapper-28 pb-16">
    <h4 class="m-0 pb-8 roboto text-black f-500">HOW E-SIGN PROCESS WORKS</h4>
<p class="pt-16 text-black roboto f-14">1 The user opens the eSigning link from his/her email or text message. The eSigning link can also be opened from within the application.</p>
<p class="pt-16 text-black roboto f-14">2 The user views the document and clicks on ‘proceed’.</p>
<p class="pt-16 text-black roboto f-14">3 The user gives consent for electronic execution, and clicks on ‘Sign’</p>
<p class="pt-16 text-black roboto f-14">4 User enters Aadhaar Number/VID; clicks on the check-box and requests for OTP.</p>
<p class="pt-16 text-black roboto f-14">5 The user enters the OTP and clicks on ‘Submit’.</p>
<p class="pt-16 text-black roboto f-14">6 The document has been signed. The user is redirected back to your application.</p>
<p class="pt-16 text-black  roboto f-14">7 You’ll be notified on the subscription dashboard once the document has been signed.</p>
<div class="row pt-28">
        <div class="col-md-12 p-0 right text-right">
            <button mat-button class="text-primary" (click)="dialogClose()">Ok</button>
        </div>
    </div>
</div>
