<div class="row bb-1 popup-header-fix-100">
    <div class="col-md-2 border-right-1 p-0">
        <img src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png" class="pt-8 w-100">
    </div>
    <div class="col-md-8 p-0">
        <p class="f-16 mb-0 pt-24 text-center">Email Template</p>
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons pt-16 c-p pr-16" (click)="dialogClose()">
            clear
        </i>
    </div>
</div>
<div class="wrapper-20 mt-70 bg-grey lter">
    <h3 class="m-0 text-center head-common">Dhyaan Ronak Hindocha</h3>
</div>
<app-terms-agreement ></app-terms-agreement>