<!-- <p>email-quotation works!</p> -->
<div *ngIf="showSent=='false'">
<div class="row bb-1 popup-header-fix-60">
        <div class="col-md-10 p-0">
            <h4 class="m-0 wrapper-20 roboto" *ngIf="headerData!=undefined">{{headerData}}</h4>
            <h4 class="mb-0 wrapper-20 roboto" *ngIf="headerDataInvoice!=undefined">{{headerDataInvoice}}</h4>
            <h4 class="mb-0 wrapper-20 roboto"  *ngIf="headerDataDocuments!=undefined">{{headerDataDocuments}}</h4>
        </div>
        <div class="col-md-2 text-right">
            <i  class="material-icons pt-16 pr-8 c-p" (click)="Close('close')"> clear</i>
        </div>
    </div>

<div class="wrapper-28 pt-72 pb-44">
    <div class="row">
        <div class="col-md-12 text-right">
            <p class="m-0 text-primary c-p pt-8 pb-16" (click)="openModel()">HOW IT WORKS</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-1">
            <h5 class="m-0 pt-4">To</h5>
        </div>
        <div class="col-md-10">
            <h5 class="m-0 pt-4">clientname@gmail.com</h5>
        </div>
        <div class="col-md-1">
                <i class="material-icons">
                        keyboard_arrow_down
                        </i>
        </div>
        <div class="col-md-12">
            <h5 class="m-0 f-700 pt-40 pb-40">Quotation from Acme Financial Advisors Pvt. Ltd.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 c-p">
                <h5 class="m-0 pb-40 ">Dear client name,</h5>

                <h5 class="m-0 pb-28">As discussed, PFA the quotation for your review. </h5>
                
                <h5 class="m-0 pb-28">You need to give your Consent in order to help us proceed further. You can do by Clicking here or on the button below</h5>
                
                <button mat-stroked-button class="btn-primary br-0" (click)="closeTab('closeSlider','false')">PROCEED</button>
                
                <h5 class="m-0 pt-28 pb-28">Consent link URL: https://www.my-planner.in/consent_confirmation.html</h5>
                
                <h5 class="m-0 pb-28">Feel free to get back to us if you have any questions.</h5>
        </div>
        <div class="col-md-12">
                <i class="material-icons text-grey  ">
                        more_horiz
                        </i>
        </div>
        <div class="col-md-6 pb-44">
                <button mat-button class="w-100 text-left bg-grey lter">Menu <i class="material-icons right pt-6 text-right">
                        close
                        </i></button>
          </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12" >
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-0 pt-8 text-white c-p"  (click)="Close('close')">Cancel</h5>
            </div>
            <div class="col-md-8 right text-right">
                <button mat-button  class="btn-bottom br-0 text-inherit" (click)="sentMail()">SEND</button>    
            </div>
        </div>
    </div>
</div>
<div *ngIf="showSent=='true'">
<div class="row bb-1 popup-header-fix-60">
    <div class="col-md-10 p-0">
        <h5 class="mb-0 wrapper-20 roboto">SUCCESSFULLY SENT!</h5>
    </div>
    <div class="col-md-2 text-right">
        <i  class="material-icons pt-16 c-p pr-16" (click)="Close('close')"> clear</i>
    </div>
</div>

<div class="wrapper-40">
<div class="row">
    <div class="col-md-12">
        <img src="assets/images/svg/ballon.svg" class="w-100">
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
            <h5 class="m-0 pb-8 pt-44">Great work! The email has been successfully sent.</h5>
                <h5 class="m-0">If you want to know what happens next, checkout the complete process here.</h5>
                <p class="text-primary pt-16 m-0 c-p pb-44"  (click)="openModel()">How It Work</p>

    </div>
   
</div>
</div>
<div class="bottom-fixed wrapper-12" >
        <div class="row">
            <!-- <div class="col-md-4">
                <h5 class="mb-0 pt-8 text-white c-p"  (click)="Close('close')">Cancel</h5>
            </div> -->
            <div class="col-md-12 right text-right">
                <button mat-button  class="btn-bottom br-0 text-right" (click)="Close('close')">CLOSE</button>    
            </div>
        </div>
    </div>
</div>


