<div class="wrapper-20 bg-grey lter heading-fix">
  <h3 class="m-0 text-center f-24">{{upperData.name}}</h3>
</div>
<div class="bg-white" *ngIf="dataSource.lenght > 0">
  <div class="align-center">
    <div class="row">
      <div class="col-md-12 pt-150">
        <h5 class="pt-44">Hey, it seems{{upperData.name}}  hasn’t been subscribed to any Services yet. You need to add a
          Plan to get going. </h5>
        <h5>Once a Plan is added, all the associated Services (along with the fee structure) will be added. If you want,
          you can customize the fee structure for this client. Each Service will have it’s own Subscription attached to
          it.</h5>
        <h5>Next, you will be able to send Quotations, sign Documents etc.</h5>
        <h5>Let’s get started!</h5>
        <button (click)="openPlanSlider('planRightSlider','open')" class="btn-primary br-0 mt-44" mat-stroked-button>Add
          Plan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div  class="bg-grey lter heading-fix">
    <div class="row b-a">
        <div class="col-md-12 p-0">
            <h2>Dhyaan Ronak Hindocha</h2>
          </div>
    </div>
</div> -->
<div class="bg-white overflow-hidden">
  <div class="wrapper-20 pb-0 pt-150 mt-44">
    <div class="row">
      <div class="col-md-12 p-0 pt-16">
        <button (click)="openPlanSlider('planRightSlider','open')" class="btn-primary br-0 right text-right addon"
                mat-stroked-button><i class="material-icons">
          add
        </i> ADD PLAN
        </button>
        <button class="br-0 text-black right text-right mr-12" mat-button>HELP</button>
      </div>
    </div>
  </div>

  <div class="wrapper-40 pt-0 mt-24">
    <h4 class="m-0 text-black">STARTER PLAN</h4>
    <div class="max-height-400px overflow-auto">
      <table [dataSource]="dataSource" class="mt-8" id="table-low" mat-table>
        <ng-container matColumnDef="service">
          <th *matHeaderCellDef mat-header-cell> Service name</th>
          <td *matCellDef="let element" mat-cell> {{element.service}} </td>
        </ng-container>

        <ng-container matColumnDef="amt">
          <th *matHeaderCellDef mat-header-cell> Fee amount</th>
          <td (click)="openPlanSlider('modifyFees','open')" *matCellDef="let element" class="c-p"
              mat-cell> {{element.amt}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell> Fee type</th>
          <td *matCellDef="let element" mat-cell> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="subs">
          <th *matHeaderCellDef mat-header-cell> Subscription #</th>
          <td *matCellDef="let element" mat-cell> {{element.subs}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell> Status</th>
          <td *matCellDef="let element" mat-cell> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell> Activation date</th>
          <td *matCellDef="let element" mat-cell>
            <div *ngIf="element.date!='START'"> {{element.date}}</div>
            <div (click)="openPlanSlider('createSub','open')" *ngIf="element.date=='START'">
              <button class="btn-header btn-xs ml-8 br-0 btn-sm" mat-stroked-button>{{element.date}}</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="bdate">
          <th *matHeaderCellDef mat-header-cell> Last billing date</th>
          <td *matCellDef="let element" mat-cell> {{element.bdate}} </td>
        </ng-container>
        <ng-container matColumnDef="ndate">
          <th *matHeaderCellDef mat-header-cell> Next billing date</th>
          <td *matCellDef="let element" mat-cell> {{element.ndate}} </td>
        </ng-container>
        <ng-container matColumnDef="mode">
          <th *matHeaderCellDef mat-header-cell> Fee collection mode</th>
          <td *matCellDef="let element" mat-cell> {{element.mode}} </td>
        </ng-container>
        <ng-container matColumnDef="icons">
          <th *matHeaderCellDef class="f-18" mat-header-cell style="width: 2%;"></th>
          <td *matCellDef="let element" mat-cell style="width: 2%;"><i [matMenuTriggerFor]="menu"
                                                                       [matMenuTriggerFor]="belowMenu"
                                                                       class="material-icons c-p iconscolors">
            more_vert
          </i>
            <mat-menu #menu="matMenu">
              <a (click)="openPlanSlider('modifyFees','open')" mat-menu-item>View fee structure</a>
              <a (click)="openPlanSlider('billerSettings','open')" mat-menu-item>Edit Biller settings</a>
              <a (click)="openPlanSlider('payeeSettings','open')" class="bt-1" mat-menu-item>Edit Payee settings</a>
              <a (click)="delete('cancelSubscription')" mat-menu-item>Cancel subscription</a>
              <a (click)="deleteModal('SUBSCRIPTION')" class="bt-1" mat-menu-item>Delete subscription</a>
            </mat-menu>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
  </div>
</div>
