<div class="wrapper-20 bg-grey lter heading-fix">
  <h3 class="m-0 text-center f-24">{{upperData.name}}</h3>
</div>
<div class="bg-white" *ngIf="dataSource != undefined" >
  <div class="align-center" *ngIf="dataSource.length== 0">
    <div class="row">
      <div class="col-md-12 pt-150">
        <h5 class="pt-44">Hey, it seems{{upperData.name}}  hasn’t been subscribed to any Services yet. You need to add a
          Plan to get going. </h5>
        <h5>Once a Plan is added, all the associated Services (along with the fee structure) will be added. If you want,
          you can customize the fee structure for this client. Each Service will have it’s own Subscription attached to
          it.</h5>
        <h5>Next, you will be able to send Quotations, sign Documents etc.</h5>
        <h5>Let’s get started!</h5>
        <button mat-stroked-button class="btn-primary br-0 mt-44" (click)="openPlanSlider('planRightSlider','open',null)">Add
          Plan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div  class="bg-grey lter heading-fix">
    <div class="row b-a">
        <div class="col-md-12 p-0">
            <h2>Dhyaan Ronak Hindocha</h2>
          </div>
    </div>
</div> -->
<div class="bg-white">
  <div class="wrapper-20 pb-0 pt-150 mt-44">
    <div class="row">
      <div class="col-md-12 p-0 pt-16">
        <button mat-stroked-button class="btn-primary br-0 right text-right addon"
                (click)="openPlanSlider('planRightSlider','open',null)"><i class="material-icons">
          add
        </i> ADD PLAN
        </button>
        <button mat-button class="br-0 text-black right text-right mr-12">HELP</button>
      </div>
    </div>
  </div>

  <div class="wrapper-40 pt-0 mt-24">
    <h4 class="pb-8 text-black" *ngIf="dataSource != undefined">{{dataSource[0].planName}}</h4>

      <table mat-table [dataSource]="dataSource"  id="table-low">
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef> Service name</th>
          <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
        </ng-container>

        <ng-container matColumnDef="amt">
          <th mat-header-cell *matHeaderCellDef> Fee amount</th>
          <td mat-cell *matCellDef="let element" (click)="openPlanSlider('modifyFees','open',element)" class="c-p text-primary text-underline"> View
            details
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Fee type</th>
          <td mat-cell *matCellDef="let element"> {{element.feeMode}} </td>
        </ng-container>

        <ng-container matColumnDef="subs">
          <th mat-header-cell *matHeaderCellDef> Subscription #</th>
          <td mat-cell *matCellDef="let element"> {{element.subscriptionNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Activation date</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.startsOn!='START'"> {{element.startsOn | date:'dd/MM/yyyy'}}</div>
            <div *ngIf="element.startsOn=='START'" (click)="openPlanSlider('createSub','open',null)">
              <button mat-stroked-button class="btn-header btn-xs ml-8 br-0 btn-sm">{{element.startsOn}}</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="bdate">
          <th mat-header-cell *matHeaderCellDef> Last billing date</th>
          <td mat-cell *matCellDef="let element"> {{element.prevBillingDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="ndate">
          <th mat-header-cell *matHeaderCellDef> Next billing date</th>
          <td mat-cell *matCellDef="let element"> {{element.nextBillingDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef> Fee collection mode</th>
          <td mat-cell *matCellDef="let element">-</td>
        </ng-container>
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"></th>
          <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons c-p iconscolors"
                                                                       [matMenuTriggerFor]="menu"
                                                                       [matMenuTriggerFor]="belowMenu">
            more_vert
          </i>
            <mat-menu #menu="matMenu">
              <a mat-menu-item (click)="openPlanSlider('modifyFees','open',element)">View fee structure</a>
              <a mat-menu-item (click)="openPlanSlider('billerSettings','open',element)">Edit Biller settings</a>
              <a mat-menu-item class="bt-1" (click)="openPlanSlider('changePayee','open',element)">Edit Payee settings</a>
              <a mat-menu-item (click)="delete('cancelSubscription')">Cancel subscription</a>
              <a mat-menu-item class="bt-1" (click)="deleteModal('SUBSCRIPTION')">Delete subscription</a>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
   
  </div>
</div>
