img{
    width: 100%;
    height: 310px;
}
.bottom-tops{
    bottom: -50%;
    position: relative;
}
.green{
    background: #02B875;
    padding: 4px 5px;
}
.blue{
    background: #008FFF;
    color: #fff;
    padding: 4px 7px;

}
.btn-success{
    background-color: #02B875;
}
