<div id="ui-document">

        <div class="bg-white pb-36 mt-70">
    
            <div class="wrapper-20">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pt-20 pb-28">Documents</h4>
                    </div>
                </div>
              
    
                    <div class="row">
                        <div class="col-md-4 ">
                            <mat-card class="example-card height-470 bg-grey lter">
    
                                <mat-card-content>
                                    <p class="text-center">
                                        <i class="material-icons icon-center">
                                                                            add
                                                                            </i>
                                    </p>
                                </mat-card-content>
    
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card bg-grey lter p-0">
                                <mat-card-header>
    
                                    <img src="https://s3-alpha-sig.figma.com/img/e832/9d0d/68ea718f7979effe27acabd01745b22d?Expires=1567987200&Signature=JseF4XqEPWx4xMwXhkyymZACJMlGHoU8HI0kNBdQCUjacyTReo-~NDcfwEhos4gLLZpl03n5SYYTAr~qsVgs2lIUDxbAwqEj4jGAh5gZEi72OMlS8R8XhPbMwOkbSuZrwLGV52aFMOlRD9uS8Ot8WyKx3NfwCoktTmDH1zOj5Nw6C7K9JnD4P7o1hLvye86YbENnls-876GLklch0MW0l6ck7xFBBm9h-a0gkPcf0HHtQsSCTqenL8pROCOfs1sKHwv5N6VVaODCCuIoUSqHmmXlpxT6-JY9xKKcXE-3ncITvJBVmOOjq0DlWhXM~AkNVNek2cP2Q3ANANrpwDGzGA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
    
                                </mat-card-header>
    
                              
                                    <mat-card-actions class="pb-20 mb-0 p-0">
                                        <div class="row wrapper-8">
                                            <div class="col-md-10">
                                                <mat-card-header>
    
                                                    <mat-card-title class="mb-0 f-24">Investor agreement</mat-card-title>
                                                    <mat-card-subtitle class="pt-8 pb-12 mb-0 text-left f-16">Global</mat-card-subtitle>
    
                                                </mat-card-header>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="green text-white f-16"> G</p>
                                            </div>
                                            <div class="col-md-10 text-center">
                                                <button mat-stroked-button class="btn-header addon ml-44 br-0">VIEW</button>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="material-icons f-40 text-primitive">
                                                    more_vert
                                                    </i>
                                            </div>
                                        </div>
    
                                    </mat-card-actions>
                              
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card bg-grey lter p-0">
                                    <mat-card-header>
        
                                        <img src="https://s3-alpha-sig.figma.com/img/e832/9d0d/68ea718f7979effe27acabd01745b22d?Expires=1567987200&Signature=JseF4XqEPWx4xMwXhkyymZACJMlGHoU8HI0kNBdQCUjacyTReo-~NDcfwEhos4gLLZpl03n5SYYTAr~qsVgs2lIUDxbAwqEj4jGAh5gZEi72OMlS8R8XhPbMwOkbSuZrwLGV52aFMOlRD9uS8Ot8WyKx3NfwCoktTmDH1zOj5Nw6C7K9JnD4P7o1hLvye86YbENnls-876GLklch0MW0l6ck7xFBBm9h-a0gkPcf0HHtQsSCTqenL8pROCOfs1sKHwv5N6VVaODCCuIoUSqHmmXlpxT6-JY9xKKcXE-3ncITvJBVmOOjq0DlWhXM~AkNVNek2cP2Q3ANANrpwDGzGA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        
                                    </mat-card-header>
        
                                  
                                        <mat-card-actions class="pb-20 mb-0 p-0">
                                            <div class="row wrapper-8">
                                                <div class="col-md-10">
                                                    <mat-card-header>
        
                                                        <mat-card-title class="mb-0 f-24">Scope of work</mat-card-title>
                                                        <mat-card-subtitle class="pt-8 pb-12 mb-0 text-left f-16">Starter plan</mat-card-subtitle>
        
                                                    </mat-card-header>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="blue f-16"> P</p>
                                                </div>
                                                <div class="col-md-10 text-center">
                                                    <button mat-stroked-button class="btn-header addon ml-44 br-0">VIEW</button>
                                                </div>
                                                <div class="col-md-2">
                                                    <i class="material-icons f-40 text-primitive">
                                                        more_vert
                                                        </i>
                                                </div>
                                            </div>
        
                                        </mat-card-actions>
                                  
                                </mat-card>
                            </div>
                            <div class="col-md-4 mt-20">
                                    <mat-card class="example-card bg-grey lter p-0">
                                        <mat-card-header>
            
                                            <img src="https://s3-alpha-sig.figma.com/img/e832/9d0d/68ea718f7979effe27acabd01745b22d?Expires=1567987200&Signature=JseF4XqEPWx4xMwXhkyymZACJMlGHoU8HI0kNBdQCUjacyTReo-~NDcfwEhos4gLLZpl03n5SYYTAr~qsVgs2lIUDxbAwqEj4jGAh5gZEi72OMlS8R8XhPbMwOkbSuZrwLGV52aFMOlRD9uS8Ot8WyKx3NfwCoktTmDH1zOj5Nw6C7K9JnD4P7o1hLvye86YbENnls-876GLklch0MW0l6ck7xFBBm9h-a0gkPcf0HHtQsSCTqenL8pROCOfs1sKHwv5N6VVaODCCuIoUSqHmmXlpxT6-JY9xKKcXE-3ncITvJBVmOOjq0DlWhXM~AkNVNek2cP2Q3ANANrpwDGzGA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
            
                                        </mat-card-header>
            
                                      
                                            <mat-card-actions class="pb-20 mb-0 p-0">
                                                <div class="row wrapper-8">
                                                    <div class="col-md-10">
                                                        <mat-card-header>
            
                                                            <mat-card-title class="mb-0 f-24">Terms of agreement</mat-card-title>
                                                            <mat-card-subtitle class="pt-8 pb-12 mb-0 text-left f-16">Starter plan</mat-card-subtitle>
            
                                                        </mat-card-header>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p class="blue f-16"> P</p>
                                                    </div>
                                                    <div class="col-md-10 text-center">
                                                        <button mat-stroked-button class="btn-header addon ml-44 br-0">VIEW</button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <i class="material-icons f-40 text-primitive">
                                                            more_vert
                                                            </i>
                                                    </div>
                                                </div>
            
                                            </mat-card-actions>
                                      
                                    </mat-card>
                                </div>
                    </div>
    
               
            </div>
    
        </div>