<div class="bg-white popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="f-16 mb-0 pb-20 wrapper-20">ADD PLAN DETAILS</h4>
        </div>
        <div class="col-md-2">
            <i class="material-icons right pt-16 pb-12 c-p" (click)="closeNav('close')">
                close
            </i>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-12">
            <form [formGroup]="planDataForm">
                <div class="row">
                    <div class="col-md-5">
                        <h5>Plan name</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <input type="email" formControlName="planName" maxlength="{{getFormControl().planName.maxLength}}" class="form-control br-2">
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-error 
                                    [ngClass]="{'d-n': !(isPlanValid && getFormControl().planName.invalid || getFormControl().planName.touched && getFormControl().planName.invalid)}">
                                    Plan name is required</mat-error>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().planName.value?.length?getFormControl().planName.value.length:0}}/{{getFormControl().planName.maxLength}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-44">
                    <div class="col-md-5">
                        <h5>Code </h5>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-0">
                            <input type="email" formControlName="code" maxlength="{{getFormControl().code.maxLength}}" class="form-control br-2">
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-error class="f-12"
                                    [ngClass]="{'d-n': !(isCodeValid && getFormControl().code.invalid || getFormControl().code.touched && getFormControl().code.invalid)}">
                                    Code is required</mat-error>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().code.value?.length?getFormControl().code.value.length:0}}/{{getFormControl().code.maxLength}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-44">
                    <div class="col-md-5">
                        <h5>Description</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <textarea class="form-control br-2" maxlength="{{getFormControl().description.maxLength}}" formControlName="description" rows="5"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <mat-error class="f-12"
                                    [ngClass]="{'d-n': !(isDescValid && getFormControl().description.invalid || getFormControl().description.touched && getFormControl().description.invalid)}">
                                    Description is required</mat-error>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().description.value?.length?getFormControl().description.value.length:0}}/{{getFormControl().description.maxLength}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12">
    <div class="row">
        <div class="col-md-4">
            <h4 class="mb-0 pt-8 text-white c-p f-16" (click)="closeNav('close')">Cancel</h4>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="addPlanData('close')">Save</button>
        </div>
    </div>
</div>
