h2{
    color: #3F3F3F;
    text-align: center;
    padding: 16px 12px;
    font-family: "Playfair Display";
    letter-spacing: 0.2px;
    line-height: 32px;
    margin: 0;
}
h3{
    font-family: "Playfair Display";
    letter-spacing: 0.2px;
    line-height: 32px;
}
.padder-80{
    padding-right: 80px;
    padding-left: 80px;
}
p{
    margin-bottom: 0;
}
h3 p{
    color: #757575;
}
// .button-fix{
//     right: 0;
//     position: fixed;
//     text-align: right;
//     margin-right: 30px;
//     z-index: 2;
// }
.btn-primary{
    border-radius: 0px !important;
}
.material-icons{
    line-height: .7;
}
.content{
    position: relative;
    right: 20%;
}

label{
    background: #004164;
    border-radius: 4px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.done-icons{
    background: #02B875;
    padding:0px 0px 4px 4px;
    color: #fff;
    float: right;
    text-align: right;
    line-height: .9;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #008FFF !important;
  }
  
  // overwrite the ripple overlay on hover and click
  ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #008FFF !important;
  }
  
 