<div *ngIf="componentFlag=='planServices'">
    <div class="bg-grey lter heading-fix">
        <div class="row">
            <div class="col-md-12">
                <h2>Starter Plan</h2>
            </div>
        </div>
    </div>
    <div class="bg-white pt-180">
        <div class="wrapper-20 pb-0">
            <div class="row">
                <div class="col-md-10 p-0 pt-8 text-center">
                    <div class="row text-right content">
                        <div class="col-md-11 p-0">
                            <p class="">Map services to the selected plan.</p>
                        </div>
                        <div class="col-md-1 text-left p-0">

                            <i class="material-icons text-primary">
                                error_outline
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 right text-right p-0 button-fix">
                    <button mat-stroked-button class="btn-primary">{{mappedData.length}} Services mapped</button>
                </div>
            </div>
        </div>
        <div class="wrapper-40">
            <div class="row text-center padder-80">
                <div *ngFor="let serviceData of planServiceData; index as i" class="col-md-4 pl-10 pr-10 pb-28">

                    <div [ngClass]="{'box':serviceData.selected,'b-a':serviceData.selected==false }" (click)="selectService(serviceData,i)">

                        <div class="bg-grey lter text-left">
                            <mat-checkbox class="custom-checkbox" checked="false" color="primary" [ngClass]="{'v-h':serviceData.selected==false }"></mat-checkbox>

                            <div class="pl-24 pt-20">
                                <h3 class="f-24 p-0 mb-0">{{serviceData.serviceName}} </h3>
                                <p class="mb-0 pb-32 pt-4">{{serviceData.serviceCode}}</p>
                            </div>
                        </div>
                        <div class="pl-8 pt-20 pb-28">
                            <div class="row pt-24 text-left">
                                <div class="col-md-6">
                                    <p class="text-primitive f-12">FEE TYPE</p>
                                    <label>{{serviceData.feeType}}</label>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primitive f-12">BILLING NATURE</p>
                                    <p class="f-18" *ngIf="serviceData.billingNature==1">Recurring</p>
                                    <p class="f-18" *ngIf="serviceData.billingNature==0">One Time</p>
                                </div>
                            </div>
                            <div class="row pt-24 text-left">
                                <div class="col-md-6">
                                    <p class="text-primitive f-12">BILLING MODE</p>
                                    <p class="f-18" *ngIf="serviceData.billingMode==1">End of period</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-primitive f-12">FEES</p>
                                    <p class="f-18" *ngIf="serviceData.feeType=='fixed'">Rs.{{serviceData.amount}}/Year</p>
                                    <p class="f-18" *ngIf="serviceData.feeType=='variable'">{{serviceData.amount}}%year</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
               
    </div>
</div>

        <div *ngIf="componentFlag!='planServices'">
                <p>This is services in Documents</p>
            </div>
 
<mat-toolbar class="bottom-fixed">
    <div class="row w-100">
        <div class="col-md-6 text-left">
            <p class="text-white f-16 mb-0 pt-12 c-p" (click)="dialogClose()">Cancel</p>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" mat-stroked-button class="btn-bottom br-0" (click)="savePlanMapToService()">Save</button>
        </div>
    </div>
</mat-toolbar>