<div class="bg-white pb-36 b-a" id="ui-mis-headers">
    <div class="row">
        <div class="col-md-12 p-0">
            <mat-tab-group class="header-fixed">
                <mat-tab label="AUM">
                </mat-tab>
                <mat-tab label="FILTER SEARCH">
                </mat-tab>
                <mat-tab label="ASSET ALLOCATION"> </mat-tab>
                <mat-tab label="SIP"> </mat-tab>
                <mat-tab label="FOLIOS">
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>