        <div class="bl-1">
            <div class="bg-white pb-20">
                <div>
          
            <mat-tab-group>
                    <mat-tab label="AUM">
                        <app-aum></app-aum>
                    </mat-tab>
                    <mat-tab label="FILTER SEARCH">
                    </mat-tab>
                    <mat-tab label="ASSET ALLOCATION"> </mat-tab>
                    <mat-tab label="SIP">
                     <app-sip></app-sip>    
                    </mat-tab>
                    <mat-tab label="FOLIOS">
                    </mat-tab>
                </mat-tab-group>
                </div>
                </div>

                </div>
    