<div class="dialogclose">
  <div class="row bb-1 popup-header-fix-100">
    <div class="col-md-2 border-right-1 p-0">
      <img src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png" class="pt-8">
    </div>
    <div class="col-md-8 p-0">
      <p class="f-24 mb-0 pt-24 text-center">Investor agreement</p>
    </div>
    <div class="col-md-2 text-right">
      <i class="material-icons pt-16 c-p pr-16" (click)="dialogClose()">
        clear
      </i>
    </div>
  </div>
  <div class="wrapper-100 pt-24">
    <div class="row pt-32">
      <div class="col-md-9">
        <h3 class="mb-8 mt-20">Terms of agreement</h3>
        <form [formGroup]="mailForm" id="ui-froala">
          <app-froala [(model)]="editorContent"></app-froala>
          <!--              <div [froalaEditor] formControlName="mail_body">Hello, Froala!</div>-->
          <button type="submit" (click)="onSubmit()" [disabled]="!mailForm.valid" mat-stroked-button
                  class="mt-16 btn-primary br-0">Submit
          </button>
        </form>
      </div>
      <div class="col-md-3 pr-0" id="ui-tc-insert">
        <h5 class="m-0 pb-8 roboto pt-32">Insert Placeholders</h5>
        <div class="b-a">
          <div class="row">
            <div class="col-md-12" (click)="openDialog('howToUse')">
              <p class="text-primary m-0 pt-8 text-right c-p roboto">How to use?</p>
            </div>
          </div>
          <div class="wrapper-16 pb-0">
            <div class="row b-a mb-16">
              <div class="col-md-12 p-0">
                <div class="bg-grey lter wrapper-12 pt-16">
                  <p class="m-0 text-black">Agreement date</p>
                </div>
                <div class="bg-white wrapper-12">
                  <p class="m-0 text-black">agreement-date</p>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-16 pb-0">
            <div class="row b-a">
              <div class="col-md-12 p-0">
                <div class="bg-grey lter wrapper-12 pt-16">
                  <p class="m-0 text-black">Client name</p>
                </div>
                <div class="bg-white wrapper-12">
                  <p class="m-0 text-black">client name</p>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-16 pb-0">
            <div class="row b-a">
              <div class="col-md-12 p-0">
                <div class="bg-grey lter wrapper-12 pt-16">
                  <p class="m-0 text-black">Client address</p>
                </div>
                <div class="bg-white wrapper-12">
                  <p class="m-0 text-black">client address</p>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-16 pt-0 pb-0">
            <h5 class="m-0 pt-20 pb-12 text-black">Services - Fee details</h5>
            <div class="row b-a">
              <div class="col-md-12 p-0">

                <div class="bg-grey lter wrapper-12 pt-16">
                  <p class="m-0 text-black">Investment management & financial planning</p>
                </div>
                <div class="bg-white wrapper-12">
                  <p class="m-0 text-black">IMA124-fee</p>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-16 pb-28">
            <div class="row b-a">
              <div class="col-md-12 p-0">
                <div class="bg-grey lter wrapper-12 pt-16">
                  <p class="m-0 text-black">Retainer - AUM linked fee</p>
                </div>
                <div class="bg-white wrapper-12">
                  <p class="m-0 text-black">IMA125-fee</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-fixed wrapper-12 w-100">
    <div class="row">
      <div class="col-md-6">
        <h5 class="mb-0 pt-8 text-white c-p" (click)="dialogClose()">Cancel</h5>
      </div>
      <div class="col-md-2">
        <p class="m-0 c-p text-white pt-8">Help</p>

      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9 p-0">
            <p class="m-0 c-p text-white pt-8">Saving changes</p>
          </div>
          <div class="col-md-3 p-0">
            <button mat-button class="btn-bottom br-0 text-inherit">PUBLISH</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
