<div *ngIf="backToMis==false" id="ui-category">
        <div class="wrapper-20 bg-white">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="pt-8 mb-0">Category Wise AUM</h3>
                </div>
                <div (click)="misReport()" class="col-md-6 pr-0">
                    <div class="right text-right">
                        <button mat-stroked-button class="btn-default addon"><i class="material-icons">add</i>XLS</button>
                        <button mat-stroked-button class="btn-success ml-8 addon">Back</button>
                    </div>
                </div>
            </div>
    
            <table class="table-low mt-16" id="table-high" >
                <thead class="text-dark">
                    <tr>
                        <th>Sr No.</th>
                        <th>Category Name</th>
                        <th class="text-right">Current Value</th>
                        <th class="text-right">% Weight</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of category; let i = index">
                        <td>{{i+1}}</td>
                        <td *ngIf="showAddBtn === true" (click)="showSubTableList(i,category)">{{category.name}} <i class="material-icons right b-a f-14 mt-4 c-p"> add  </i></td>
                        <td *ngIf="showRemoveBtn === true"  (click)="hideSubTableList()">{{category.name}} <i class="material-icons right b-a f-14 mt-4 c-p"> remove  </i></td>
                        <td class="text-right">{{category.totalAum}} </td>
                        <td class="text-right">{{category.weightInPercentage}}%</td>
                    </tr>
                  
               <tr>
                   <td >
                       <table *ngIf="showSubTable" class="table-low mt-8" id="table-high">
                            <thead class="bg-light text-dark">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Sub Category Name</th>
                                        <th class="text-right">Current Value</th>
                                        <th class="text-right">% Weight</th>
                
                                    </tr>
                                </thead>
                          
                                        <tr *ngFor="let subcategoryList of subcategoryList; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{subcategoryList.name}}<i class="material-icons right b-a f-14 mt-4 c-p">
                                                    add
                                                    </i> </td>
                                            <td class="text-right">{{subcategoryList.totalAum}} </td>
                                            <td class="text-right">{{subcategoryList.weightInPercentage}}%</td>
                                        </tr>
                                   
                       </table>
                   </td>
               </tr>
                </tbody>
            </table>
    
            <!-- <div class="wrapper-4">
    
                <table class="table-low mt-8" id="table-high">
                    <thead class="bg-light text-dark">
                        <tr>
                            <th>Sr No.</th>
                            <th>Sub Category Name</th>
                            <th class="text-right">Current Value</th>
                            <th class="text-right">% Weight</th>
    
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>EQUITY<i class="material-icons right b-a f-14 mt-4 c-p">
                                    add
                                    </i> </td>
    
                            <td class="text-right">4,80,030 </td>
                            <td class="text-right">21.00%</td>
    
                        </tr>
                    </tbody>
    
                </table>
            </div>
            <div class="wrapper-8 pt-4 pb-4">
    
                <table class="table-low mt-8" id="table-high">
                    <thead class="bg-light text-dark">
                        <tr>
                            <th>Sr No.</th>
                            <th>Scheme Name</th>
                            <th class="text-right">Current Value</th>
                            <th class="text-right">% Weight</th>
    
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>EQUITY <i class="material-icons right b-a f-14 mt-4 c-p">
                                    add
                                    </i></td>
    
                            <td class="text-right">4,80,030 </td>
                            <td class="text-right">21.00%</td>
    
                        </tr>
                    </tbody>
    
                </table>
            </div>
            <div class="wrapper-12 pt-4 pb-4">
    
                <table class="table-low mt-8" id="table-high">
                    <thead class="bg-light text-dark">
                        <tr>
                            <th>Applicant Name</th>
                            <th class="text-right">Balance Unit</th>
                            <th class="text-right">Folio</th>
                            <th class="text-right">Current Amount</th>
                            <th class="text-right">% Weight</th>
    
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>Rahul Jain  </td>
                            <td class="text-right">11,320.76    </td>
    
                            <td class="text-right">K126861 </td>
                            <td class="text-right">3,94,642</td>
                            <td class="text-right">21.00%</td>
    
                        </tr>
                    </tbody>
    
                </table>
            </div> -->
            <!-- <div class="wrapper-16 pt-4 pb-4">
    
                <table class="table-low mt-8" id="table-high">
                    <thead class="bg-light text-dark">
                        <tr>
                            <th>Sr No.</th>
                            <th>Category Name</th>
                            <th class="text-right">Current Value</th>
                            <th class="text-right">% Weight</th>
    
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>EQUITY </td>
    
                            <td class="text-right">4,80,030 </td>
                            <td class="text-right">21.00%</td>
    
                        </tr>
                    </tbody>
    
                </table>
            </div>
            <div class="wrapper-20 pt-4 pb-4">
    
                <table class="table-low mt-8" id="table-high">
                    <thead class="bg-light text-dark">
                        <tr>
                            <th>Sr No.</th>
                            <th>Category Name</th>
                            <th class="text-right">Current Value</th>
                            <th class="text-right">% Weight</th>
    
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>EQUITY </td>
    
                            <td class="text-right">4,80,030 </td>
                            <td class="text-right">21.00%</td>
    
                        </tr>
                    </tbody>
    
                </table>
            </div> -->
    
        </div>
    </div>
    <div *ngIf="expression">
        <app-aum></app-aum>
    </div>