
<div class="row">
        <div class="col-md-12">
            <div class="wrapper-20 align-center">
                    <i class="material-icons f-70 text-grey">
                            event_note
                            </i>
                            <p class="text-primitive pt-28 f-16">Add plan details like name, description to proceed further</p>
                            <button mat-stroked-button class="btn-primary addon mt-36"><i class="material-icons">add</i>ADD NOW</button>
            </div>
        </div>
    </div>
    