p {
    font-family: "Roboto", sans-serif;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.f-70 {
    font-size: 70px;
}
::ng-deep .mat-checkbox-layout{
    vertical-align: top !important;
}
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 15% 0;
    min-height: 200px;
    align-items: center;
}
img{
    max-width: 100%;
}
.boxes{
    min-height: 255px;
    border: 1px solid #ddd;
    
}
h5{
    margin-bottom: 28px;
}
.action-button{
    top: 65%;
    position: absolute;
   
}
#ui-documents-overview{
    margin-bottom: 100px !important;
    margin-top: 100px !important;
}
.mat-card:not([class*=mat-elevation-z]){
    box-shadow: none !important;
}