<div class="wrapper-20">
    <div class="content-center">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-primitive mb-0 text-center">Select a fee type to proceed further</h5>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-6">
                <mat-card class="b-a p-0" (click)="openPlanSliderFee('fixedFee','open')">
                    <div class="row bg-grey lter">
                        <div class="col-md-12 p-0">
                            <h4 class="f-20">Fixed fee</h4>
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <h5 class="p-20">Choose this fee type if you want to charge a fixed fee. E.g. for Plan writing etc.</h5>
                    </div>
                </mat-card>

            </div>
            <div class="col-md-6">
                    <mat-card class="p-0 ba-green" (click)="openPlanSliderVariable('varibleFee','open')">
                            <div class="row bg-grey lter">
                                <div class="col-md-12 p-0">
                                    <mat-checkbox class="custom-checkbox" checked="false"></mat-checkbox>
                                    <h4 class="f-20">Variable fee</h4>
                                </div>
                            </div>
                            <div class="col-md-12 p-0">
                                <h5 class="p-20">Choose this fee type if you want to charge a variable fee. E.g. for AUM linked fee.</h5>
                            </div>
                        </mat-card>
            </div>
        </div>
    </div>
    </div>
    <mat-toolbar class="bottom-fixed">
            <div class="row w-100">
                <div class="col-md-12 text-left">
                    <p class="text-white f-16 mb-0">Cancel</p>
                </div>
            
            </div>
        </mat-toolbar>
