<div class="row bb-1">
    <div class="col-md-10 p-0">
        <h3 class="mb-0 wrapper-20">NEELAM SINGH</h3>
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons pt-20 c-p" (click)="Close()"> clear</i>
    </div>
</div>

<div class="row bb-1 wrapper-12 pl-20">
    <div class="col-md-10 p-0 text-custom">
        <i class="material-icons b-a wrapper-4">
            mail_outline
            </i>
        <i class="material-icons b-a wrapper-4">
                attach_file
                </i>
        <i class="material-icons b-a wrapper-4">
                    attach_file
                    </i>
        <i class="material-icons b-a wrapper-4">
                        attach_file
                        </i>
        <i class="material-icons b-a wrapper-4 ml-12">
                            attach_file
                            </i>
    </div>
    <div class="col-md-2 text-right">
        <p class="pt-8 c-p mb-0"> Activity log</p>
    </div>

    <form [formGroup]="mailForm">
        <div [froalaEditor] formControlName="mail_body">Hello, Froala!</div>
        <button type="submit" (click)="onSubmit()" [disabled]="!mailForm.valid">Submit</button>
    </form>
</div>
<div class="bottom-fixed wrapper-12">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button [matMenuTriggerFor]="menu" class="btn-bottom br-0 text-inherit">Email with eSign Request <i class="material-icons">
                arrow_drop_up
                </i></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>

        </div>
    </div>
</div>