<!--<h1>GAURAV</h1>-->
<div class="dialogclose">
    <div class="row bb-1 popup-header-fix-100">
        <div class="col-md-2 border-right-1 p-0">
            <img src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png" class="pt-8">
        </div>
        <div class="col-md-8 p-0">
            <p class="f-16 mb-0 pt-24 text-center">{{this.fragmentData.Flag}}Add plan details, map services/documents to the selected plan</p>
        </div>
        <div class="col-md-2 text-right">
            <i class="material-icons pt-16 c-p pr-16" (click)="dialogClose()">
                clear
            </i>
        </div>
    </div>
   </div>
  <div class="row" *ngIf="fragmentData&&fragmentData.Flag==='plan'">
    <div class="col-md-12 p-0">
      <mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="tabClick($event)"
                     class="popup-header-fix-tabs">
        <mat-tab tooltip="tootip on left" placement="left" delay="500" #tab label="OVERVIEW">
          <ng-template matTabContent>
            <app-overview [upperData]="upperData" [componentFlag]='Flag'></app-overview>
          </ng-template>
        </mat-tab>
        <mat-tab #tab [disabled]='upperData==""' label="SERVICES">
          <ng-template matTabContent>
            <app-services [upperData]="upperData" [componentFlag]='plan'></app-services>
          </ng-template>
        </mat-tab>
        <mat-tab #tab [disabled]='upperData==""' label="DOCUMENTS">
          <ng-template matTabContent>
            <app-document [upperData]="upperData" [componentFlag]='documents'></app-document>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
  <div class="row z-value-100" *ngIf="fragmentData.Flag=='services'">
    <div class="col-md-12 p-0">
      <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabClick($event)" [selectedIndex]="selectedServiceTab"
                     class="popup-header-fix-tabs"
                     animationDuration="0ms">
        <mat-tab label="FEE STRUCTURE">
          <!--(serviceEvent)="serviceId=$event"-->
          <app-fee-structure [upperData]="upperData" *ngIf="upperData"></app-fee-structure>
        </mat-tab>
        <mat-tab matTooltip="Info about the action" #tab [disabled]='upperData==""' label="PLANS">
          <ng-template matTabContent>
            <!--*ngIf="subscriptionTab=='PLANS'"-->
            <app-plans [upperData]="upperData" *ngIf="upperData" [componentFlag]='plans'>
            </app-plans>
          </ng-template>
        </mat-tab>
        <mat-tab #tab [disabled]='upperData==""' label="DOCUMENTS">
          <ng-template matTabContent>
            <app-document [upperData]="upperData" *ngIf="upperData"
                          [componentFlag]='servicesDocuments'></app-document>
          </ng-template>
        </mat-tab>
        <mat-tab #tab [disabled]='upperData==""' label="MODULES">
          <ng-template matTabContent>
            <app-modules [upperData]="upperData" *ngIf="subscriptionTab=='MODULES'"></app-modules>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row" *ngIf="fragmentData.Flag=='documents'">
    <div class="col-md-12 p-0">
      <mat-tab-group mat-align-tabs="center" class="popup-header-fix-tabs" animationDuration="0ms">
        <mat-tab label="OVERVIEW">
          <app-overview></app-overview>
        </mat-tab>
        <mat-tab label="PLANS">
          <app-plans></app-plans>
        </mat-tab>
        <mat-tab label="SERVICES">
          <app-services></app-services>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
  <div class="row" *ngIf="fragmentData.Flag=='clients'">
    <div class="col-md-12 p-0 popup-header-fix-tabs">

      <mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="tabClick($event)">

        <mat-tab label="SUBSCRIPTIONS">
          <app-subscriptions-upper-slider [upperData]="fragmentData.clientData">
          </app-subscriptions-upper-slider>
        </mat-tab>
        <mat-tab label="QUOTATIONS">
          <!--                  <div class="wrapper-20 bg-grey lter heading-fix">-->
          <!--                    <h3 class="m-0 text-center head-common">{{fragmentData.clientData.name}}</h3>-->
          <!--                  </div>-->
          <!--                  <app-quotations-subscription [upperData]="fragmentData.clientData" [screenType]="1"-->
          <!--                                               *ngIf="subscriptionTab=='QUOTATIONS'"></app-quotations-subscription>-->
          <app-quotations [upperData]="fragmentData.clientData" *ngIf="subscriptionTab=='QUOTATIONS'">
          </app-quotations>
        </mat-tab>
        <mat-tab label="INVOICES">
          <app-invoices [upperData]="fragmentData.clientData" *ngIf="subscriptionTab=='INVOICES'">
          </app-invoices>
        </mat-tab>
        <mat-tab label="DOCUMENTS">
          <app-document [upperData]="fragmentData.clientData" [componentFlag]='clientDocuments'>
          </app-document>
        </mat-tab>
        <mat-tab label="SETTINGS">
          <app-settings [upperData]="fragmentData.clientData" *ngIf="subscriptionTab=='SETTINGS'">
          </app-settings>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>


<div [@upperRightSlider]="State" class="right_sidenav">
  <app-add-structure *ngIf="rightSliderData=='addPlanDetails'"></app-add-structure>
  <app-plan-rightslider [clientData]="fragmentData.clientData" *ngIf="rightSliderData=='planRightSlider'">
  </app-plan-rightslider>
  <app-email-quotation [headerData]="headerData" *ngIf="rightSliderData=='eSignQuotations'"></app-email-quotation>
  <app-invoice [invoiceTab]="rightSliderData" *ngIf="rightSliderData=='invoiceUpperSlider'"></app-invoice>
  <app-payee-settings *ngIf="rightSliderData=='payeeSettings'"></app-payee-settings>
  <app-email-quotation [headerDataDocuments]="headerDataDocuments"
                       *ngIf="rightSliderData=='eSignDocument'"></app-email-quotation>
  <app-create-subscription *ngIf="rightSliderData=='createSub'"></app-create-subscription>
  <app-add-variable-fee *ngIf="rightSliderData=='varibleFee'"></app-add-variable-fee>
  <app-add-fixed-fee *ngIf="rightSliderData=='fixedFee'"></app-add-fixed-fee>
  <app-overview-blank-quotation [blankOverview]="blankOverview" *ngIf='blankOverview'></app-overview-blank-quotation>
  <app-biller-settings [upperData]="fragmentData.clientData"
                       *ngIf="rightSliderData=='billerSettings'"></app-biller-settings>
  <app-modify-fee-structure [ModifyFeesChange]="rightSliderData" *ngIf="rightSliderData=='modifyFees'">
  </app-modify-fee-structure>
  <app-change-payee [upperData]="fragmentData.clientData" *ngIf="rightSliderData=='changePayee'"></app-change-payee>
  <app-email-quotation [headerDataInvoice]="headerDataInvoice"
                       *ngIf="rightSliderData=='eSignInvoices'"></app-email-quotation>
  <app-email-quotation [headerData]="headerData" *ngIf="rightSliderData=='emailQuot'"></app-email-quotation>

</div>
