.mat-card:not([class*=mat-elevation-z]){
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
}
h3{
    font-family: "Playfair Display";
    font-size: 24px;
    letter-spacing: 0.2px;
}
h5{
    color: #3F3F3F;
}
p.f-12,h5{
    font-family: "Proxima Nova",sans-serif;
}