<div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="showLoader==false">
<div *ngIf="aum.aumComponent==false">
        <div class="wrapper-20 bg-white">
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h3 class="pt-8 mb-0">Client Wise AUM</h3>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="right text-right">
                            <button mat-stroked-button class="btn-default addon"><i class="material-icons">add</i>XLS</button>
                            <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                        </div>
                    </div>
                </div>
        
                <table class="table-low mt-16" id="table-high" >
                    <thead class="text-dark">
                        <tr>
                            <th>Sr No.</th>
                            <th>Client Name</th>
                            <th class="text-right">Current Value</th>
                            <th class="text-right">% Weight</th>
        
                        </tr>
                    </thead>
                    <tbody *ngFor="let name of clientList; index as i" >
                        <tr>
                            <td>{{i+1}}</td>
                            <td (click)="getClientSCheme(name,name.show,i)">{{name.name}}<i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="name.show" > add  </i>
                            <i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="name.show==false" > remove  </i></td>
                            <td class="text-right">{{name.totalAum}} </td>
                            <td class="text-right">{{name.weightInPercentage}}</td>
                         </tr>
                        
                             <tr>
                            <table *ngIf="name.show==false" class="table-low mt-8 " id="table-high">
                                    <thead class="bg-light text-dark">
                                            <tr>
                                                <th>Sr No.</th>
                                                <th>Investor Name</th>
                                                <th class="text-right">Current Value</th>
                                                <th class="text-right">% Weight</th>
                        
                                            </tr>
                                        </thead>
                                           <tbody *ngFor="let investor of name.subList; index as i" >
                                                <tr>
                                                    <td>{{i+1}}</td>
                                                    <td (click)="getSchemeName(i,investor.showSubCategory)" >{{investor.name}}<i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="investor.showSubCategory==true">add</i>
                                                        <i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="investor.showSubCategory==false"> remove </i></td>
                                                    <td class="text-right">{{name.totalAum}}</td>
                                                    <td class="text-right">{{name.weightInPercentage}}%</td>
                                                </tr>
                                                <table *ngIf="investor.showSubCategory==false">
                                                    <thead>
                                                        <tr>
                                                        <th>Sr No.</th>
                                                        <th>Scheme Name</th>
                                                        <th class="text-right">Current Value</th>
                                                        <th class="text-right">% Weight</th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                    <tbody *ngFor="let scheme of investor.schemes; index as i">
                                                        <tr >
                                                            <td>{{i+1}}</td>
                                                            <td (click)="getSchemeName1(i,scheme.showScheme)">{{scheme.schemeName}}<i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="scheme.showScheme" >add</i>
                                                                <i  class="material-icons right b-a f-14 mt-4 c-p" *ngIf="scheme.showScheme==false"> remove  </i> </td>
                                                            <td class="text-right">{{scheme.totalAum}}</td>
                                                            <td class="text-right">{{scheme.weightInPercentage}}</td>
                                                        </tr>
                                                        <table *ngIf="scheme.showScheme==false">
                                                            <thead>
                                                                <tr>
                                                                <th>Sr No.</th>
                                                                <th>Scheme Name</th>
                                                                <th class="text-right">Folio Number</th>
                                                                <th class="text-right">% Weight</th>
                                                                </tr>
                                                            </thead> 
                                                            <tbody *ngFor="let scheme1 of scheme.schemeList;index as i">
                                                                <tr>
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{scheme1.schemeName}}<td>
                                                                    <td class="text-right">{{scheme1.folioNumber}}</td>
                                                                    <td class="text-right">{{scheme1.totalAum}}</td>
                                                                    <td class="text-right">{{scheme1.balanceUnit}}</td>
                                                                    <td class="text-right">{{scheme1.weightInPercentage}}</td>
                                                                </tr>
                                                            </tbody>
                                                            
                                                        </table>
                                                    </tbody>
                                                    
                                                </table>
                                        </tbody>
                            </table>
    
                        </tr>
                    </tbody>
                </table>
       
            </div>
     </div>
</div>