<!-- <p>{{headerData}}</p>
<p>{{bodyData}}</p>
<p><button>{{btn1NoData}}</button></p>
<p><button>{{btn2YesData}}</button></p> -->


    <h3 class="m-0 pb-28">DELETE SUBSCRIPTION</h3>
    <p class="pt-28 pb-28 mb-0 text-black f-16">Are you sure you want to delete the subscription? </p>
        <p class="mb-0 text-black f-16">This cannot be undone.</p>
                <div class="row pt-44">
                <div class="col-md-12 pr-0 right text-right">
                        <button mat-button class="text-custom f-500 c-p">CANCEL</button>
                        <button mat-button class="text-danger f-500 c-p">DELETE</button>
                </div>
                </div>
               
           
      
