 <h3 class="m-0 pb-28">{{headerData}} {{data}}</h3>
    <p class="pt-28 pb-28 mb-0 text-black f-16">{{bodyData}} </p>
        <p class="mb-0 text-black f-16">{{bodyData2}}</p>
                <div class="row pt-44">
                <div class="col-md-12 pr-0 right text-right">
                        <button mat-button class="text-custom f-500 c-p" (click)="clickButton2()">{{btn2YesData}}</button>
                        <button mat-button class="text-danger f-500 c-p"  (click)="clickButton1()">{{btn1NoData}}</button>
                </div>
                </div>
