<div class="popup-header-fix-60">
        <div class="row bb-1">
            <div class="col-md-8 p-0">
                <h3 class="mb-0 wrapper-16">ADD FIXED FEE STRUCTURE</h3>
            </div>
            <div class="col-md-4 text-right">
                <div class="wrapper-12">
                    <i class="material-icons c-p v-middle" (click)="Close('close');fixedFeeData.reset()"> clear</i>
                </div>
            </div>
        </div>
    </div>
    <div [formGroup]="fixedFeeData" class="wrapper-16 pt-44 pb-44 mb-44">
        <div class="row pt-40">
            <div class="col-md-5">
                <h5 class="text-right pt-4 mb-0">Service Name</h5>
                <p class="m-0 text-custom f-12 right roboto">This name will appear in invoices</p>
            </div>
            <div class="col-md-5 pr-0">
                <div class="form-group mb-0">
                    <input type="text" formControlName="serviceName" [ngClass]="{'b-red':submitted && getFormControl().serviceName.invalid }" class="form-control br-0">
                </div>
                <mat-error *ngIf="submitted && getFormControl().serviceName.invalid || (getFormControl().serviceName.touched && getFormControl().serviceName.invalid)">Service Name is Required</mat-error>
                <div class="col-md-12">
                    <p class="mb-0 f-12 text-custom text-right pt-4">0/20</p>
                </div>
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-8 mb-0">Code</h5>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5 p-0">
                        <div class="form-group mb-0">
                            <input type="text" formControlName="code" [ngClass]="{'b-red':submitted && getFormControl().code.invalid }" class="form-control br-0">
                        </div>
                        <mat-error *ngIf="submitted && getFormControl().code.invalid || getFormControl().code.touched && getFormControl().code.invalid">Code is Required</mat-error>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-0 f-12 text-custom text-right pt-4">0/10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Description</h5>
            </div>
            <div class="col-md-5 pr-0">
    
                <div class="form-group mb-0">
                    <textarea class="form-control br-0" formControlName="description" [ngClass]="{'b-red':submitted && getFormControl().description.invalid }" rows="3"></textarea>
                </div>
                <mat-error *ngIf="submitted && getFormControl().description.invalid || getFormControl().description.touched && getFormControl().description.invalid">Description  is Required</mat-error>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0 f-12 text-custom">optional</p>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0 f-12 text-custom text-right">1/10</p>
                    </div>
    
                </div>
    
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-8 mb-0">Fees</h5>
            </div>
            <div class="col-md-5 pr-0">
                <div class="form-group mb-0">
                    <input type="number" formControlName="fees" [ngClass]="{'b-red':submitted && getFormControl().fees.invalid }" class="form-control br-0">
                </div>
                <mat-error *ngIf="submitted && getFormControl().fees.invalid || getFormControl().fees.touched && getFormControl().fees.invalid">Fees is Required</mat-error>

            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Billing nature</h5>
            </div>
            <div class="col-md-6">
                <mat-radio-group formControlName="billingNature">
                        <mat-radio-button value="1" [ngClass]="{'b-a-custom':fixedFeeData.get('billingNature').value==1,'text-primary':fixedFeeData.get('billingNature').value==1}" checked="true" class="b-a text-custom wrapper-8">Recurring</mat-radio-button>
                        <mat-radio-button value="2" [ngClass]="{'b-a-custom':fixedFeeData.get('billingNature').value==1,'text-primary':fixedFeeData.get('billingNature').value==2}" class="b-a text-custom wrapper-8">Once</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Biller every</h5>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5 p-0">
                        <div class="form-group mb-0">
                            <input type="number" formControlName="billEvery" [ngClass]="{'b-red':submitted && getFormControl().billEvery.invalid }" class="form-control br-0">
                        </div>
                        <mat-error *ngIf="submitted && getFormControl().billEvery.invalid || getFormControl().billEvery.touched && getFormControl().billEvery.invalid">Field is Required</mat-error>

                    </div>
                    <div class="col-md-4 p-0">
                            <button mat-stroked-button class="br-0 min-38 t-92 text-custom">Months <i class="material-icons right pt-6 text-custom">
                                    arrow_drop_down
                                    </i></button>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Billing Mode</h5>
            </div>
            <div class="col-md-7">
                <mat-radio-group formControlName="billingMode">
                    <mat-radio-button value="1" [ngClass]="{'b-a-custom':fixedFeeData.get('billingMode').value==1,'text-primary':fixedFeeData.get('billingMode').value==1}" checked="true" class="b-a text-custom wrapper-8" checked="true">Start of period</mat-radio-button>
                    <mat-radio-button value="2" [ngClass]="{'b-a-custom':fixedFeeData.get('billingMode').value==2,'text-primary':fixedFeeData.get('billingMode').value==2}" class="b-a text-custom wrapper-8">End of period</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="bottom-fixed wrapper-12">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-0 pt-8 text-white c-p" (click)="Close()">Cancel</h5>
            </div>
            <div class="col-md-8 right text-right">
                <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFeeTypeData('1','close')">Save</button>  
            </div>
        </div>
    </div>