<div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="showLoader==false">
<div *ngIf="aum.aumComponent==false">
        <div>
                <div class="wrapper-20 bg-white">
                        <div class="row">
                            <div class="col-md-6 pl-0">
                                <h3 class="pt-8 mb-0">Applicant Wise AUM</h3>
                            </div>
                            <div class="col-md-6 pr-0">
                                <div class="right text-right">
                                    <button mat-stroked-button class="btn-default addon"><i class="material-icons">add</i>XLS</button>
                                    <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                                </div>
                            </div>
                        </div>
                
                        <table class="table-low mt-16" id="table-high" >
                            <thead class="text-dark">
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Applicant Name</th>
                                    <th class="text-right">Current Value</th>
                                    <th class="text-right">% Weight</th>
                
                                </tr>
                            </thead>
                            <tbody *ngFor="let name of applicantName; index as i">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td (click)="category(name)" >{{name.name}}<i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="name.show==false"> add  </i>
                                    <i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="name.show==true" > remove  </i></td>
                                    <td class="text-right">waiting</td>
                                    <td class="text-right">{{name.weightInPercentage}}</td>
                                 </tr>
                                 <tr>
                                     <tr>
                                    <table *ngIf="name.show" class="table-low mt-8 " id="table-high">
                                            <thead class="bg-light text-dark">
                                                    <tr>
                                                        <th>Sr No.</th>
                                                        <th>Category Name</th>
                                                        <th class="text-right">Current Value</th>
                                                        <th class="text-right">% Weight</th>
                                
                                                    </tr>
                                                </thead>
                                                   <tbody *ngFor="let category of name.category; index as i" >
                                                        <tr>
                                                            <td>{{i+1}}</td>
                                                            <td (click)="subCategory(category,category.showCategory,name.id)" >{{category.name}}<i  class="material-icons right b-a f-14 mt-4 c-p" *ngIf="category.showCategory==false">add</i>
                                                                <i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="category.showCategory"> remove  </i> </td>
                                                            <td class="text-right">{{category.totalAum}}</td>
                                                            <td class="text-right">{{category.weightInPercentage}}%</td>
                                                        </tr>
                                                        <table *ngIf="category.showCategory" >
                                                            <thead>
                                                                <tr>
                                                                <th>Sr No.</th>
                                                                <th>Sub Category Name</th>
                                                                <th class="text-right">Current Value</th>
                                                                <th class="text-right">% Weight</th>
                                                                </tr>
                                                            </thead>
                                                            <tr>
                                                            <tbody *ngFor="let sub of category.subCategoryList; index as i" >
                                                                <tr >
                                                                    <td>{{i+1}}</td>
                                                                    <td (click)="getScheme(sub,name.id)">{{sub.name}}<i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="sub.showSubCategory==false" >add</i>
                                                                        <i  class="material-icons right b-a f-14 mt-4 c-p" *ngIf="sub.showSubCategory"> remove  </i> </td>
                                                                    <td class="text-right">{{sub.totalAum}} </td>
                                                                    <td class="text-right">{{sub.weightInPercentage}}</td>
                                                                </tr>
                                                                <table *ngIf="sub.showSubCategory">
                                                                    <thead>
                                                                        <tr>
                                                                        <th>Sr No.</th>
                                                                        <th>Scheme Name</th>
                                                                        <th class="text-right">Current Value</th>
                                                                        <th class="text-right">% Weight</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tr>
                                                                    <tbody *ngFor="let client of sub.schemes; index as i" >
                                                                        <tr >
                                                                            <td>{{i+1}}</td>
                                                                            <td >{{client.schemeName}}<i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="client.showScheme==false">add</i>
                                                                                <i  class="material-icons right b-a f-14 mt-4 c-p" *ngIf="client.showScheme"> remove  </i> </td>
                                                                            <td class="text-right">{{client.folioNumber}}</td>
                                                                            <td class="text-right">{{client.totalAum}}</td>
                                                                            <td class="text-right">{{client.weightInPercentage}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                    
                                                                </table>
                                                            </tbody>
                                                            
                                                        </table>
                                                </tbody>
                                    </table>
            
                                </tr>
                            </tbody>
                        </table>
               
                    </div>
        </div>
    </div>
</div>