::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
 
    background-color: #008FFF !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #008FFF !important;   /*inner circle color change*/
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#ddd !important; /*outer ring color change*/
  }

  ::ng-deep.carousel-control-prev-icon,::ng-deep.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon,::ng-deep.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon{
    display: none !important;
  }
  ::ng-deep.carousel-indicators li{
    background-color: #008FFF !important;
  }
  ::ng-deep.carousel-indicators li .active{
    background-color: #ddd !important;
  }
  ::ng-deep.h{
    height: 100% !important;
  }
  // img{
  //   display: block;
  // margin-left: auto;
  // margin-right: auto;
  // width: 70%;
  // height: 50%;
  // }
  ::ng-deep .carousel-caption{
    position: relative;
  }
// ::ng-deep .mat-radio-outer-circle{
//   background-color: #ddd;
// }