<div id="ui-silder" *ngIf="fragmentData.Flag=='subscriptionPopup'">
<div style="display: none">
    <img src="assets/images/svg/slider1.svg" class="w-100 center block">
    <img src="assets/images/svg/slider2.svg" class="w-100 center block">
    <img src="assets/images/svg/slider3.svg" class="w-100 center block">
    <img src="assets/images/svg/slider4.svg" class="w-100 center block">
    <img src="assets/images/svg/slider5.svg" class="w-100 center block">
    <img src="assets/images/svg/slider6.svg" class="w-100 center block">
</div>
<div class="wrapper-24 bg-grey lter" *ngIf="display==1">
    <div class="">
        <img src="assets/images/svg/slider1.svg" class="w-100 center block">
    </div>

<div class="wrapper-24 pt-0">
   
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="pt-20 m-0 f-500 f-22">What is Subscriptions?</h3>
            <h5 class="mb-20 pt-20 pl-44 pr-44">Subscriptions is carefully designed for RIAs. You can define your core offerings,<br> fee structure, deliverables, agreements and automate the whole process around it.<br> This  will act as a foundation for your RIA practice.</h5>
                <mat-radio-group class="mt-16" >
                    <mat-radio-button  checked (click)="getData(1)"></mat-radio-button>
                    <mat-radio-button (click)="getData(2)"></mat-radio-button>
                    <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                    <mat-radio-button  (click)="getData(4)"></mat-radio-button>
                    <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                    <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                  </mat-radio-group>
           
                </div>
    </div>
    <div class="row">
        <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
            <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
            <button mat-button class="f-500 c-p" color="primary"  (click)="getData(2)">NEXT</button>
      </div>
    </div>
</div>
</div>
<div class="wrapper-24 bg-grey lter" *ngIf="display==2">
    <div class="">
        <img src="assets/images/svg/slider2.svg" >
    </div>
    <div class="wrapper-24 pt-0">
   
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Create Plans</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">Subscriptions is carefully designed for RIAs. You can define your core offerings,<br> fee structure, deliverables, agreements and automate the whole process around it.<br> This  will act as a foundation for your RIA practice.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button  (click)="getData(1)"></mat-radio-button>
                        <mat-radio-button  checked (click)="getData(2)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(4)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                <button mat-button class="f-500 c-p" color="primary"  (click)="getData(3)">NEXT</button>
          </div>
        </div>
    </div>
 </div>
 <div class="wrapper-24 bg-grey lter" *ngIf="display==3">
    <div class="">
        <img src="assets/images/svg/slider3.svg">
    </div>
    <div class="wrapper-24 pt-0">
   
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Create Services</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">Next up, you create Services. More than one Service can be added to a Plan. E.g. Plan could be Financial Planning. It’s Services could be 1) Planning fees 2) Implementation services 3) Retainer services.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button  (click)="getData(1)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(2)"></mat-radio-button>
                        <mat-radio-button checked (click)="getData(3)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(4)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                        <mat-radio-button (click)="getData(6)"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                <button mat-button mat-dialog-close  class="text-custom f-500 c-p"  >SKIP</button>
                <button mat-button class="f-500 c-p" color="primary"  (click)="getData(4)">NEXT</button>
          </div>
        </div>
    </div>
 </div>
 <div class="wrapper-24 bg-grey lter" *ngIf="display==4">
    <div class="">
        <img src="assets/images/svg/slider4.svg">
    </div>
    <div class="wrapper-24 pt-0">
   
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Create Documents</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">We’ve automated the complete process of documentation (a core part of RIA compliance). You create documents easily using ready made templates or upload. Email to clients, get eSigned and securely store.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button   (click)="getData(1)"></mat-radio-button>
                        <mat-radio-button   (click)="getData(2)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                        <mat-radio-button  checked (click)="getData(4)"></mat-radio-button>
                        <mat-radio-button (click)="getData(5)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                <button mat-button class="f-500 c-p" color="primary"  (click)="getData(5)" >NEXT</button>
          </div>
        </div>
    </div>
 </div>  
 <div class="wrapper-24 bg-grey lter" *ngIf="display==5">
    <div class="">
        <img src="assets/images/svg/slider5.svg">
    </div>
    <div class="wrapper-24 pt-0">
   
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Map Plans, Services & Documents</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">Once you’ve created the above, you simply map Plans, Services & Documents to each other. This will result in a cohesive product offering which is unique to your practice and ensures stability and consistency.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button  (click)="getData(1)"></mat-radio-button>
                        <mat-radio-button   (click)="getData(2)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                        <mat-radio-button (click)="getData(4)"></mat-radio-button>
                        <mat-radio-button checked (click)="getData(5)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                <button mat-button class="f-500 c-p" color="primary"  (click)="getData(6)" >NEXT</button>
          </div>
        </div>
    </div>
 </div>
 <div class="wrapper-24 bg-grey lter" *ngIf="display==6">
    <div class="">
        <img src="assets/images/svg/slider6.svg" >
    </div>
    <div class="wrapper-24 pt-0">
   
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Plan, rinse, repeat!</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">With the foundation now set, it’s time to now do what you do the best - Plan for your clients’ financial freedom. We do the background work for you - create invoices, bill clients, execute agreements and so on.</h5>
                    <mat-radio-group class="mt-20" aria-label="Select an option">
                        <mat-radio-button   (click)="getData(1)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(2)"></mat-radio-button>
                        <mat-radio-button (click)="getData(3)"></mat-radio-button>
                        <mat-radio-button (click)="getData(4)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                        <mat-radio-button  checked (click)="getData(6)"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                <button mat-button mat-dialog-close class="f-500 c-p" color="primary">START</button>
          </div>
        </div>
    </div>
 </div>    
</div>
<div id="ui-silder" *ngIf="fragmentData.Flag!='subscriptionPopup'">
    <div style="display: none">
        <img src="assets/images/svg/slider1.svg" class="w-100 center block">
        <img src="assets/images/svg/slider2.svg" class="w-100 center block">
        <img src="assets/images/svg/slider3.svg" class="w-100 center block">
        <img src="assets/images/svg/slider4.svg" class="w-100 center block">
        <img src="assets/images/svg/slider5.svg" class="w-100 center block">
        <img src="assets/images/svg/slider6.svg" class="w-100 center block">
    </div>
    <div class="wrapper-24 bg-grey lter" *ngIf="display==1">
        <div class="">
            <img src="assets/images/svg/slider1.svg" class="w-100 center block">
        </div>
    
    <div class="wrapper-24 pt-0">
       
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Create document</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">Start by creating documents easily using ready made 
                    templates, create your own or upload</h5>
                    <mat-radio-group class="mt-16" >
                        <mat-radio-button  checked (click)="getData(1)"></mat-radio-button>
                        <mat-radio-button (click)="getData(2)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(4)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                        <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                <button mat-button class="f-500 c-p" color="primary"  (click)="getData(2)">NEXT</button>
          </div>
        </div>
    </div>
    </div>
    <div class="wrapper-24 bg-grey lter" *ngIf="display==2">
        <div class="">
            <img src="assets/images/svg/slider2.svg" >
        </div>
        <div class="wrapper-24 pt-0">
       
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="pt-20 m-0 f-500 f-22">Send to client</h3>
                    <h5 class="mb-20 pt-20 pl-44 pr-44">Once you create the document, email it to client 
                        with one click</h5>
                        <mat-radio-group class="mt-16" aria-label="Select an option">
                            <mat-radio-button  (click)="getData(1)"></mat-radio-button>
                            <mat-radio-button  checked (click)="getData(2)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(4)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                          </mat-radio-group>
                   
                        </div>
            </div>
            <div class="row">
                <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                    <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                    <button mat-button class="f-500 c-p" color="primary"  (click)="getData(3)">NEXT</button>
              </div>
            </div>
        </div>
     </div>
     <div class="wrapper-24 bg-grey lter" *ngIf="display==3">
        <div class="">
            <img src="assets/images/svg/slider3.svg">
        </div>
        <div class="wrapper-24 pt-0">
       
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="pt-20 m-0 f-500 f-22">Client inspects document</h3>
                    <h5 class="mb-20 pt-20 pl-44 pr-44">Client can review the document and 
                        proceed for eSigning</h5>
                        <mat-radio-group class="mt-16" aria-label="Select an option">
                            <mat-radio-button  (click)="getData(1)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(2)"></mat-radio-button>
                            <mat-radio-button checked (click)="getData(3)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(4)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(5)"></mat-radio-button>
                            <mat-radio-button (click)="getData(6)"></mat-radio-button>
                          </mat-radio-group>
                   
                        </div>
            </div>
            <div class="row">
                <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                    <button mat-button mat-dialog-close  class="text-custom f-500 c-p"  >SKIP</button>
                    <button mat-button class="f-500 c-p" color="primary"  (click)="getData(4)">NEXT</button>
              </div>
            </div>
        </div>
     </div>
     <div class="wrapper-24 bg-grey lter" *ngIf="display==4">
        <div class="">
            <img src="assets/images/svg/slider4.svg">
        </div>
        <div class="wrapper-24 pt-0">
       
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="pt-20 m-0 f-500 f-22">Client performs Aadhaar eSign</h3>
                    <h5 class="mb-20 pt-20 pl-44 pr-44">Using Aadhaar based eSign client signs the document which is legally valid in court of law</h5>
                        <mat-radio-group class="mt-16" aria-label="Select an option">
                            <mat-radio-button   (click)="getData(1)"></mat-radio-button>
                            <mat-radio-button   (click)="getData(2)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                            <mat-radio-button  checked (click)="getData(4)"></mat-radio-button>
                            <mat-radio-button (click)="getData(5)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                          </mat-radio-group>
                   
                        </div>
            </div>
            <div class="row">
                <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                    <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                    <button mat-button class="f-500 c-p" color="primary"  (click)="getData(5)" >NEXT</button>
              </div>
            </div>
        </div>
     </div>  
     <div class="wrapper-24 bg-grey lter" *ngIf="display==5">
        <div class="">
            <img src="assets/images/svg/slider5.svg">
        </div>
        <div class="wrapper-24 pt-0">
       
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="pt-20 m-0 f-500 f-22">Securely store</h3>
                    <h5 class="mb-20 pt-20 pl-44 pr-44">All documents are securely stored, giving you audit trail for future compliance</h5>
                        <mat-radio-group class="mt-16" aria-label="Select an option">
                            <mat-radio-button  (click)="getData(1)"></mat-radio-button>
                            <mat-radio-button   (click)="getData(2)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(3)"></mat-radio-button>
                            <mat-radio-button (click)="getData(4)"></mat-radio-button>
                            <mat-radio-button checked (click)="getData(5)"></mat-radio-button>
                            <mat-radio-button  (click)="getData(6)"></mat-radio-button>
                          </mat-radio-group>
                   
                        </div>
            </div>
            <div class="row">
                <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
                    <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
                    <button mat-button mat-dialog-close class="f-500 c-p" color="primary" >START</button>
              </div>
            </div>
        </div>
     </div>
    </div>  
     <!-- silder-2 -->
     <!-- <div class="wrapper-24 bg-grey lter">
            <div class="">
                <img src="assets/images/svg/slider2.svg" class="w-100 center block">
            </div>
        </div>
        <div class="wrapper-24 pt-0">
           
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="pt-20 m-0 f-500 f-22">Create Plans</h3>
                    <h5 class="mb-20 pt-20 pl-44 pr-44">Subscriptions is carefully designed for RIAs. You can define your core offerings,<br> fee structure, deliverables, agreements and automate the whole process around it.<br> This  will act as a foundation for your RIA practice.</h5>
                        <mat-radio-group class="mt-16" aria-label="Select an option">
                            <mat-radio-button value="1" checked></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                            <mat-radio-button value="3"></mat-radio-button>
                            <mat-radio-button value="4"></mat-radio-button>
                            <mat-radio-button value="5"></mat-radio-button>
                            <mat-radio-button value="6"></mat-radio-button>
                          </mat-radio-group>
                   
                        </div>
            </div>
        </div> -->
             <!-- silder-3 -->
<!-- <div class="wrapper-24 bg-grey lter">
        <div class="">
            <img src="assets/images/svg/slider3.svg" class="w-100 center block">
        </div>
    </div>
    <div class="wrapper-24 pt-0">
       
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Create Services</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">Next up, you create Services. More than one Service can be added to a Plan. E.g. Plan could be Financial Planning. It’s Services could be 1) Planning fees 2) Implementation services 3) Retainer services.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button value="1" checked></mat-radio-button>
                        <mat-radio-button value="2"></mat-radio-button>
                        <mat-radio-button value="3"></mat-radio-button>
                        <mat-radio-button value="4"></mat-radio-button>
                        <mat-radio-button value="5"></mat-radio-button>
                        <mat-radio-button value="6"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
    </div> -->
         <!-- silder-4 -->
<!-- <div class="wrapper-24 bg-grey lter">
        <div class="">
            <img src="assets/images/svg/slider4.svg" class="w-100 center block">
        </div>
    </div>
    <div class="wrapper-24 pt-0">
       
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Create Documents</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">We’ve automated the complete process of documentation (a core part of RIA compliance). You create documents easily using ready made templates or upload. Email to clients, get eSigned and securely store.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button value="1" checked></mat-radio-button>
                        <mat-radio-button value="2"></mat-radio-button>
                        <mat-radio-button value="3"></mat-radio-button>
                        <mat-radio-button value="4"></mat-radio-button>
                        <mat-radio-button value="5"></mat-radio-button>
                        <mat-radio-button value="6"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
         
    </div> -->
         <!-- silder-5 -->
<!-- <div class="wrapper-24 bg-grey lter">
        <div class="">
            <img src="assets/images/svg/slider5.svg" class="w-100 center block">
        </div>
    </div>
    <div class="wrapper-24 pt-0">
       
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Map Plans, Services & Documents</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">Once you’ve created the above, you simply map Plans, Services & Documents to each other. This will result in a cohesive product offering which is unique to your practice and ensures stability and consistency.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button value="1" checked></mat-radio-button>
                        <mat-radio-button value="2"></mat-radio-button>
                        <mat-radio-button value="3"></mat-radio-button>
                        <mat-radio-button value="4"></mat-radio-button>
                        <mat-radio-button value="5"></mat-radio-button>
                        <mat-radio-button value="6"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
    </div> -->
         <!-- silder-6 -->
<!-- <div class="wrapper-24 bg-grey lter">
        <div class="">
            <img src="assets/images/svg/slider6.svg" class="w-100 center block">
        </div>
    </div>
    <div class="wrapper-24 pt-0">
       
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="pt-20 m-0 f-500 f-22">Plan, rinse, repeat!</h3>
                <h5 class="mb-20 pt-20 pl-44 pr-44">With the foundation now set, it’s time to now do what you do the best - Plan for your clients’ financial freedom. We do the background work for you - create invoices, bill clients, execute agreements and so on.</h5>
                    <mat-radio-group class="mt-16" aria-label="Select an option">
                        <mat-radio-button value="1" checked></mat-radio-button>
                        <mat-radio-button value="2"></mat-radio-button>
                        <mat-radio-button value="3"></mat-radio-button>
                        <mat-radio-button value="4"></mat-radio-button>
                        <mat-radio-button value="5"></mat-radio-button>
                        <mat-radio-button value="6"></mat-radio-button>
                      </mat-radio-group>
               
                    </div>
        </div>
    </div> -->
<!-- </div>
<!-- <mdb-carousel  [animation]="'fade'">
    <mdb-carousel-item>
      <div  class="view w-100">
        <img class="d-block w-50" src="assets/images/svg/slider1.svg" >
      </div>
      <div class="carousel-caption pt-150">
        <h3 class="h3-responsive">What is Subscriptions?</h3>
        <p class="h3-responsive">Subscriptions is carefully designed for RIAs. You can define your core offerings, fee structure, deliverables, agreements and automate the whole process around it. This  will act as a foundation for your RIA practice.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-50">
        <img class="d-block w-50" src="assets/images/svg/slider2.svg">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Create Plans</h3>
        <p>You start creating Plans first.Plans are your core offerings.You can have multiple plans for different types of clients.Each plan will have sub offerings,also known as Services(explained in next slide)</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-50" src="assets/images/svg/slider3.svg">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Create Services</h3>
        <p>Next up, you create Services. More than one Service can be added to a Plan. E.g. Plan could be Financial Planning. It’s Services could be 1) Planning fees 2) Implementation services 3) Retainer services.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-50" src="assets/images/svg/slider4.svg" >
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"> Create Documents</h3>
        <p>We’ve automated the complete process of documentation (a core part of RIA compliance). You create documents easily using ready made templates or upload. Email to clients, get eSigned and securely store.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-50" src="assets/images/svg/slider5.svg" >
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Map Plans,Services & Documents</h3>
        <p>Once you’ve created the above, you simply map Plans, Services & Documents to each other. This will result in a cohesive product offering which is unique to your practice and ensures stability and consistency.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>       

      <div class="view w-100">
        <img class="d-block w-50" src="assets/images/svg/slider6.svg">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Plan, rinse, repeat!</h3>
        <p>With the foundation now set, it’s time to now do what you do the best - Plan for your clients’ financial freedom. We do the background work for you - create invoices, bill clients, execute agreements and so on.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel> -->
  <!-- <div class="col-md-12 pr-0 right text-right pb-16 pt-16">
      <button mat-button mat-dialog-close  class="text-custom f-500 c-p" >SKIP</button>
      <button mat-button class="f-500 c-p" color="primary" >NEXT</button>
</div> -->
 