<div id="ui-invoice-pdf-documents" *ngIf="invoiceInSub=='invoiceSubscription' && showEdit==false">
<div class="bg-white mt-70">
    <div class="row b-b">
        <div class="col-md-4 p-0">
            <div class="row">
                <div class="col-md-5 pl-8 pt-4 pr-8">
                        <h4 class="mb-0 wrapper-8 pt-12">Invoices </h4>
                </div>
                <div class="col-md-7 text-right pt-4 right">
                    <!-- <button mat-stroked-button class="btn-header btn-xs br-0 f-12 h-28 mt-4">SEND</button> -->
                    <!-- <i class="material-icons v-middle f-28 text-custom">
                                                more_vert
                                                </i> -->
                    <button mat-stroked-button class="btn-primary br-0 my-btn mt-4"><i class="material-icons">
                                                        add
                                                        </i></button>

                </div>
            </div>
        </div>
        <div class="col-md-8 bl-1 p-0">
            <div class="row ">
                <div class="col-md-10">
                    <h3 class="f-400 wrapper-16 pl-8 mb-0">{{storeData.invoiceNumber}}</h3>
                </div>
                <div (click)="Close()" class="col-md-2">
                    <i class="material-icons text-right pt-16 c-p right">
                                clear
                                </i>
                </div>
            </div>
        </div>

    </div>
    <div class="row ">
        <div class="col-md-4 p-0 max-height-100">
            <div class="row pt-12 pb-12 bg-white hover roboto bb-1"  [ngClass]="strData.id == storeData.id  ? 'bg-grey lter' : 'none'" *ngFor="let strData of clientData" (click)="passInvoice(strData,$event)">
                <!-- <div class="col-md-1">
                    <mat-checkbox checked="false"></mat-checkbox>
                </div> -->
                <div class="col-md-8">
                    <p class="m-0 f-15">{{strData.clientName}}</p>
                </div>
                <div class="col-md-4 text-right pr-8">
                    <p class="m-0 f-15">{{formatter(strData.finalAmount)}}</p>
                </div>
                
                <div class="col-md-5">
                    <p class="m-0 f-13 pt-12">{{strData.invoiceNumber}}</p>
                </div>
                <div class="col-md-2 p-0">
                    <p class="m-0 f-13 pt-12">{{strData.invoiceDate | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-md-5 text-right pr-8">
                    <p class="m-0 f-13 pt-12" [ngClass]="strData.status == 'PAID' ? 'text-success f-400' : 'text-danger f-400'">{{strData.status}}</p>
                </div>
            </div>
        </div>
    
   <div class="col-md-8 p-0 bl-1 ">
        <div class="row bb-1 pt-16" *ngIf="showRecord==false">
            <div class="col-md-8 text-custom">
                <img src="assets/images/svg/pencil.svg" class="c-p" (click)="editInvoice()"> 
                <img src="assets/images/svg/mail-light.svg" class="b-a">
                <img src="assets/images/svg/pdf-icons.svg" class="b-a ">
                <img src="assets/images/svg/printer.svg" class="b-a ">
                <img src="assets/images/svg/delete.svg" class="b-a wrapper-9 ml-8">
            </div>
            <div class="col-md-4 right text-right">
                    <button mat-stroked-button class="btn-primary br-0 mb-12"  (click)="recordPayment()">RECORD PAYMENT</button>
            </div>
        </div>

        <div class="b-a m-20 pb-28 max-height-100" *ngIf="showRecord==false">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                                <h1 class="f-42 text-custom pt-48 f-700">INVOICE</h1>
                        </div>
                        <div class="col-md-3 text-right">
                           <img src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png" class="pt-20">
                        </div>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                           <h4 class="text-black pt-48">{{storeData.billerName}}</h4>

                            <p class="f-14 text-custom l-20">{{storeData.billerAddress}}</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-black pt-48">{{storeData.clientName}}</h4>
                            
                            <p class="f-14 text-custom l-20">{{storeData.billingAddress}}</p>

                        </div>
                    </div>
            
            <div class="row pt-44">
                <div class="col-md-8">
                    <p class="text-black f-400"><span class="text-custom f-16">Invoice no</span>: {{storeData.invoiceNumber}}</p>
                    <p class="text-black f-400"><span class="text-custom f-16">Invoice date</span>: {{storeData.invoiceDate| date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-md-4">
                    <h2 [ngClass]="storeData.status == 'PAID' ? 'text-success f-400' : 'text-danger f-400'">{{storeData.status}}</h2>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-7 mt-70">
                   <p class="f-12 text-black f-400 roboto"> {{storeData.footnote}}</p>
                </div>
                <div class="col-md-5">
                    <div class="row pt-44">
                    <div class="col-md-8">
                        <p class="text-black f-400">Sub total</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <p class="text-black f-400">₹{{formatter(storeData.subTotal)}}</p>
                    </div>
                    </div>
                    <div class="row" *ngIf="storeData.igst!=undefined">
                    <div class="col-md-8">
                            <p>IGST ({{storeData.igst}}%)</p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-right">₹{{formatter(storeData.igstTaxAmount)}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="storeData.cgst!=undefined">
                        <div class="col-md-8">
                                <p>CGST ({{storeData.cgst}}%)</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-right">₹{{formatter(storeData.cgstTaxAmount)}}</p>
                            </div>
                        </div>
                        <div class="row" *ngIf="storeData.sgst!=undefined">
                            <div class="col-md-8">
                                    <p>SGST ({{storeData.sgst}}%)</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-right">₹{{formatter(storeData.sgstTaxAmount)}}</p>
                                </div>
                            </div>
                    <div class="row bt-1">
                        <div class="col-md-8">
                                <p class="f-500 roboto pt-8">Total</p>
                            </div>
                            <div class="col-md-4 text-right" *ngIf="storeData.cgst!=undefined && storeData.sgst!=undefined">
                                <p class="f-500 roboto pt-8">₹{{formatter(storeData.finalAmount)}}</p>
                            </div>
                            <div class="col-md-4 text-right" *ngIf="storeData.igst!=undefined">
                                <p class="f-500 roboto pt-8">₹{{formatter(storeData.finalAmount)}}</p>
                            </div>
                        </div>
                        <div class="row bt-1 bb-1">
                            <div class="col-md-8">
                                    <p class="f-500 roboto pt-8">Balance due</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="f-500 roboto pt-8 text-right">₹{{formatter(storeData.balanceDue)}}</p>
                                </div>
                            </div>
                </div>
                </div>
            </div>
        </div>
            
            <div class="wrapper-20">
            <div class="row bg-grey lter ">
                    <div class="col-md-10">
                        <p class="m-0 text-black f-500 pt-12">Fee calculation - Attachment</p>
                    </div>
                    <div class="col-md-2 wrapper-9 right">
                        <button mat-stroked-button class="btn-primary br-0">View</button>
                    </div>
                </div>
                <div class="row pt-32">
                    <div class="col-md-12 p-0">
                        <h5 class="m-0 text-black wrapper-20">Payments recieved</h5>
                    </div>
                </div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource1">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Reference </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Payment mode </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table>
</div>
</div>
            </div>
            <div *ngIf="showRecord==true" class="wrapper-20 max-height-100" >
                 <h4 class="mb-0 pt-16">Record Payment</h4>
                            <div class="pt-40" [formGroup]="rPayment"> 
                                <div class="row">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">Amount received</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0">
                                            <input type="text"  (keypress)="keyPress($event)" class="form-control" maxlength="{{getFormControl().amountReceive.maxLength}}" formControlName="amountReceive">
                                        </div>
                                    <div class="row">
                                        <div class="col-md-10 pr-0">
                                            <mat-error class="f-12 pt-4"
                                                *ngIf="isamountValid && getFormControl().amountReceive.invalid || (getFormControl().amountReceive.touched && getFormControl().amountReceive.invalid)">
                                                feild is required</mat-error>
                                        </div>
                                        <div class="col-md-2 pl-0">
                                            <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().amountReceive.value?.length?getFormControl().amountReceive.value.length:0}}/{{getFormControl().amountReceive.maxLength}}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">Charges,if any</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0">
                                            <input type="text"  (keypress)="keyPress($event)" class="form-control"  maxlength="{{getFormControl().charges.maxLength}}" formControlName="charges">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 pr-0">
                                                <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().charges.untouched">Assistive text</p>
                                                <mat-error class="f-12 pt-4"
                                                    *ngIf="ischargeValid && getFormControl().charges.invalid || (getFormControl().charges.touched && getFormControl().charges.invalid)">
                                                    feild is required</mat-error>
                                            </div>
                                            <div class="col-md-2 pl-0">
                                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().charges.value?.length?getFormControl().charges.value.length:0}}/{{getFormControl().charges.maxLength}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">TDS</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" maxlength="{{getFormControl().tds.maxLength}}" formControlName="tds">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 pr-0">
                                                    <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().tds.untouched">Assistive text</p>
                                                <mat-error class="f-12 pt-4"
                                                    *ngIf="istdsValid && getFormControl().tds.invalid || (getFormControl().tds.touched && getFormControl().tds.invalid)">
                                                    feild is required</mat-error>
                                            </div>
                                            <div class="col-md-2 pl-0">
                                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().tds.value?.length?getFormControl().tds.value.length:0}}/{{getFormControl().tds.maxLength}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">Payment date</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="date" class="form-control" formControlName="paymentDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 pt-8 text-right">payment mode</h5>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control"  formControlName="paymentMode"  maxlength="{{getFormControl().paymentMode.maxLength}}">
                                        </div>
                                    <div class="row">
                                        <div class="col-md-10 pr-0">
                                            <mat-error class="f-12 pt-4"
                                                *ngIf="ismodeValid && getFormControl().paymentMode.invalid || (getFormControl().paymentMode.touched && getFormControl().paymentMode.invalid)">
                                                feild is required</mat-error>
                                        </div>
                                        <div class="col-md-2 pl-0">
                                            <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().paymentMode.value?.length?getFormControl().paymentMode.value.length:0}}/{{getFormControl().paymentMode.maxLength}}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 pt-8 text-right">GST treatment</h5>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="gstTreatment">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 pt-8 text-right">Notes</h5>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group mb-0">
                                            <textarea class="form-control" rows="5" formControlName="notes" maxlength="{{getFormControl().notes.maxLength}}"></textarea>
                                        </div>
                                        <div class="row ">

                                            <div class="col-md-10">
                                                    <p class="f-12 m-0 text-custom pt-4">Optional</p>
                                            </div>
                                                <div class="col-md-2">
                                                    <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().notes.value?.length?getFormControl().notes.value.length:0}}/{{getFormControl().notes.maxLength}}</p>
                                                </div>
                                             </div>
                                    </div>
                                   
                                </div>
    
                                <div class="row pt-44 mt-44">
                                        <div class="col-md-12 right text-right">
                                            <h5 class="mat-stroked-button br-0 text-light mr-20" (click)="cancel()">CANCEL</h5>
                                     
                                            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFormData('close')">SAVE</button>
                                        </div>
                                    </div>
                            </div>
            </div>
                </div>
               </div> 
</div>
</div>
<div *ngIf="invoiceInSub!='invoiceSubscription'&& showEdit==false">
<div class="row bb-1 popup-header-fix-60">
    <div class="col-md-10 pl-0">
        <h4 class="f-400 wrapper-20 mb-0">{{storeData.invoiceNumber}}</h4>
    </div>
    <div class="col-md-2">
        <i class="material-icons text-right pt-16 pr-16 c-p right" (click)="Close('close')">
            clear
            </i>
    </div>
</div>
<div class="row bb-1 pt-72" *ngIf="showRecord==false">
    <div class="col-md-8 text-custom">
        <img class="c-p" src="assets/images/svg/pencil.svg" (click)="editInvoice()">
        <img class="b-a " src="assets/images/svg/mail-light.svg">
        <img class="b-a " src="assets/images/svg/pdf-icons.svg">
        <img class="b-a " src="assets/images/svg/printer.svg">
        <img class="b-a wrapper-8" src="assets/images/svg/attech-light.svg">
        <img class="b-a wrapper-8 ml-8" src="assets/images/svg/delete.svg">
    </div>
    <div class="col-md-4 right text-right">
            <button mat-stroked-button class="btn-primary br-0 mb-8" *ngIf="storeData.status !='PAID'" (click)="recordPayment()">RECORD PAYMENT</button>
    </div>
</div>

<div class="b-a m-20 mb-100 pb-28" *ngIf="showRecord==false">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                        <h1 class="f-42 text-custom pt-48 f-700">INVOICE</h1>
                </div>
                <div class="col-md-3 text-right">
                   <img src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png" class="pt-20">
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                   <h4 class="text-black pt-48">{{storeData.billerName}}</h4>

                    <p class="f-14 text-custom l-20">{{storeData.billerAddress}}</p>
                </div>
                <div class="col-md-6">
                    <h4 class="text-black pt-48">{{storeData.clientName}}</h4>
                    
                    <p class="f-14 text-custom l-20">{{storeData.billingAddress}}</p>
                </div>
            </div>
    
    <div class="row pt-44">
        <div class="col-md-8">
            <p class="text-black f-400"><span class="text-custom f-16">Invoice no</span>: {{storeData.invoiceNumber}}</p>
            <p class="text-black f-400"><span class="text-custom f-16">Invoice date</span>: {{storeData.invoiceDate | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-md-4">
            <h2 [ngClass]="storeData.status == 'PAID' ? 'text-success f-400' : 'text-danger f-400'">{{storeData.status}}</h2>
        </div>
       
    </div>
         <div> 
    <div class="row">
        <div class="col-md-7 mt-70">
           <p class="f-12 text-black f-400 roboto"> {{storeData.footnote}}
        </div>
        <div class="col-md-5">
            <div class="row pt-44">
            <div class="col-md-8">
                <p class="text-black f-400">Sub total</p>
            </div>
            <div class="col-md-4 text-right">
                <p class="text-black f-400">₹{{formatter(storeData.subTotal)}}</p>
            </div>
            </div>
            <div class="row" *ngIf="storeData.igst!=undefined">
                <div class="col-md-8">
                        <p>IGST ({{storeData.igst}}%)</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-right">₹{{formatter(storeData.igstTaxAmount)}}</p>
                    </div>
                </div>
                <div class="row" *ngIf="storeData.cgst!=undefined">
                    <div class="col-md-8">
                            <p>CGST ({{storeData.cgst}}%)</p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-right">₹{{formatter(storeData.cgstTaxAmount)}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="storeData.sgst!=undefined">
                        <div class="col-md-8">
                                <p>SGST ({{storeData.sgst}}%)</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-right">₹{{formatter(storeData.sgstTaxAmount)}}</p>
                            </div>
                        </div>
            <div class="row bt-1">
                <div class="col-md-8">
                        <p class="f-500 roboto pt-8">Total</p>
                    </div>
                    <div class="col-md-4 text-right" *ngIf="storeData.cgst!=undefined && storeData.sgst!=undefined">
                        <p class="f-500 roboto pt-8">{{formatter(storeData.finalAmount)}}</p>
                    </div>
                    <div class="col-md-4 text-right" *ngIf="storeData.igst!=undefined">
                        <p class="f-500 roboto pt-8">{{formatter(storeData.finalAmount)}}</p>
                    </div>
                </div>
                <div class="row bt-1 bb-1">
                    <div class="col-md-8">
                            <p class="f-500 roboto pt-8">Balance due</p>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="f-500 roboto pt-8 ">{{formatter(storeData.balanceDue)}}</p>
                        </div>
                    </div>
        </div>
        <div class="col-md-7 mt-70">
            <p class="f-14 text-black f-500 roboto"> Terms & Conditions</p>
         </div>
        </div>
    </div>
</div>
          </div>
          </div>       
<div *ngIf="showRecord==true" class="pt-72">
    <h4 class="mb-0 pt-40 pl-20">Record Payment</h4>
               <div class="pt-40" [formGroup]="rPayment"> 
                   <div class="row">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">Amount received</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group mb-0">
                               <input type="text"  (keypress)="keyPress($event)" class="form-control" maxlength="{{getFormControl().amountReceive.maxLength}}" formControlName="amountReceive">
                           </div>
                       <div class="row">
                           <div class="col-md-10">
                               <mat-error class="f-12 pt-4"
                                   *ngIf="isamountValid && getFormControl().amountReceive.invalid || (getFormControl().amountReceive.touched && getFormControl().amountReceive.invalid)">
                                   feild is required</mat-error>
                           </div>
                           <div class="col-md-2 pl-0">
                               <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().amountReceive.value?.length?getFormControl().amountReceive.value.length:0}}/{{getFormControl().amountReceive.maxLength}}</p>
                           </div>
                       </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">Charges,if any</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group mb-0">
                               <input type="text"  (keypress)="keyPress($event)" class="form-control"  maxlength="{{getFormControl().charges.maxLength}}" formControlName="charges">
                           </div>
                          
                           <div class="row">
                               <div class="col-md-10 pr-0">
                                    <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().charges.untouched">Assistive text</p>                                           
                                    <mat-error class="f-12 pt-4"
                                       *ngIf="ischargeValid && getFormControl().charges.invalid || (getFormControl().charges.touched && getFormControl().charges.invalid)">
                                       feild is required</mat-error>
                               </div>
                               <div class="col-md-2 pl-0">
                                   <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().charges.value?.length?getFormControl().charges.value.length:0}}/{{getFormControl().charges.maxLength}}</p>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">TDS</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group mb-0">
                               <input type="text" class="form-control" maxlength="{{getFormControl().tds.maxLength}}" formControlName="tds">
                           </div>
                           <div class="row">
                               <div class="col-md-10 pr-0">
                                    <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().tds.untouched">Assistive text</p>
                                   <mat-error class="f-12 pt-4"
                                       *ngIf="istdsValid && getFormControl().tds.invalid || (getFormControl().tds.touched && getFormControl().tds.invalid)">
                                       feild is required</mat-error>
                               </div>
                               <div class="col-md-2 pl-0">
                                   <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().tds.value?.length?getFormControl().tds.value.length:0}}/{{getFormControl().tds.maxLength}}</p>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">Payment date</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <input type="date" class="form-control" formControlName="paymentDate">
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24"> 
                       <div class="col-md-5">
                           <h5 class="m-0 pt-8 text-right">payment mode</h5>
                       </div>
                       <div class="col-md-5">
                           <div class="form-group mb-0">
                               <input type="text" class="form-control"  formControlName="paymentMode"  maxlength="{{getFormControl().paymentMode.maxLength}}">
                           </div>
                       <div class="row">
                           <div class="col-md-10 pr-0">
                               <mat-error class="f-12 pt-4"
                                   *ngIf="ismodeValid && getFormControl().paymentMode.invalid || (getFormControl().paymentMode.touched && getFormControl().paymentMode.invalid)">
                                   feild is required</mat-error>
                           </div>
                           <div class="col-md-2  pl-0">
                               <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().paymentMode.value?.length?getFormControl().paymentMode.value.length:0}}/{{getFormControl().paymentMode.maxLength}}</p>
                           </div>
                       </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 pt-8 text-right">GST treatment</h5>
                       </div>
                       <div class="col-md-5">
                           <div class="form-group">
                               <input type="text" class="form-control" formControlName="gstTreatment">
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 pt-8 text-right">Notes</h5>
                       </div>
                       <div class="col-md-5">
                           <div class="form-group mb-0">
                               <textarea class="form-control" rows="5" formControlName="notes" maxlength="{{getFormControl().notes.maxLength}}"></textarea>
                           </div>
                           <div class="row ">

                               <div class="col-md-8">
                                       <p class="f-12 m-0 text-custom pt-4">Optional</p>
                               </div>
                                   <div class="col-md-2">
                                       <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().notes.value?.length?getFormControl().notes.value.length:0}}/{{getFormControl().notes.maxLength}}</p>
                                   </div>
                                </div>
                       </div>
                      
                   </div>
                   <div class="row pt-44 mt-44 pb-44">
                           <div class="col-md-12 right text-right pb-44">
                               <h5 class="mat-stroked-button br-0 text-light mr-20" (click)="cancel()">CANCEL</h5>
                        
                               <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFormData('close')">SAVE</button>
                           </div>
                       </div>
               </div>
</div>
          <div class="bottom-fixed wrapper-12">
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-0 pt-8 pb-8 text-white c-p" (click)="Close('close')">Cancel</h5>
              </div>
             
            </div>
          </div>
</div>
<div class="bg-white pb-44 " [formGroup]="editPayment"*ngIf="showEdit==true" [ngClass]="{'mt-70': invoiceInSub=='invoiceSubscription','mt-0':invoiceInSub!='invoiceSubscription'}"  >
    <!-- <div class="row bb-1 popup-header-fix-60">
        <div class="col-md-10">
            <h2 class="m-0 pl-12 pt-12"></h2>
        </div>
        <div class="col-md-2">
            <i class="material-icons right pt-20 pr-20 c-p" (click)="()"> clear </i>
        </div>
    </div> -->
    <div class="row bb-1 popup-header-fix-60">
        <div class="col-md-10 pl-0">
            <h4 class="f-400 wrapper-20 mb-0">Edit Invoice of {{storeData.invoiceNumber}}</h4>
        </div>
        <div class="col-md-2">
            <i class="material-icons text-right pt-16 pr-16 c-p right" (click)="closeEditInv()">
                clear
                </i>
        </div>
    </div>
    <div class="row pt-100">
        <div class="col-md-3">
            <h5 class="m-0 text-right pt-8">Client name </h5>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text"class="form-control br-0" formControlName="clientName" maxlength="{{getFormControledit().clientName.maxLength}}">
            </div>
            <div class="col-md-12">
                    <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControledit().clientName.value?.length?getFormControledit().clientName.value.length:0}}/{{getFormControledit().clientName.maxLength}}</p>
                </div>
            <div class="row pt-20">
                <div class="col-md-6 p-0">
                    <p class="m-0 text-custom f-12">BILLER ADDRESS</p>
                    <p *ngIf="editAdd1 == false" class="m-0 text-black w-60">{{storeData.billerAddress}}</p>
                    <textarea rows="5" *ngIf="editAdd1 == true" class="form-control br-0" formControlName="billerAddress" maxlength="{{getFormControledit().billerAddress.maxLength}}"></textarea>  
                    <p class="m-0 text-primary" (click)="onclickChangeAdd1(editAdd1)">CHANGE</p>
                    <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControledit().billerAddress.value?.length?getFormControledit().billerAddress.value.length:0}}/{{getFormControledit().billerAddress.maxLength}}</p>
                </div>
                <div class="col-md-6 p-0">
                    <p class="m-0 text-custom f-12">PAYEE ADDRESS</p>
                    <p *ngIf="editAdd2 == false" class="m-0 text-black w-60">{{storeData.billingAddress}}</p>
                    <textarea rows="5"*ngIf="editAdd2 == true" class="form-control br-0" formControlName="billingAddress" maxlength="{{getFormControledit().billingAddress.maxLength}}"></textarea>
                    <p class="m-0 text-primary" (click)="onclickChangeAdd2(editAdd2)">CHANGE</p>
                    <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControledit().billingAddress.value?.length?getFormControledit().billingAddress.value.length:0}}/{{getFormControledit().billingAddress.maxLength}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-28">
        <div class="bt-grey">
            <div class="row pt-28">
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-md-4 pl-0">
                            <h5 class="m-0 pt-8 text-left">Invoice No.</h5>
                        </div>
                        <div class="col-md-7 p-0">
                            <div class="form-group mb-0">
                                <input type="email" class="form-control br-0"formControlName="invoiceNumber" maxlength="{{getFormControledit().invoiceNumber.maxLength}}"> 
                            </div>
                            <div class="col-md-12">
                                    <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControledit().invoiceNumber.value?.length?getFormControledit().invoiceNumber.value.length:0}}/{{getFormControledit().invoiceNumber.maxLength}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-md-6 p-0">
                            <h5 class="m-0 pt-8 text-right pr-24">Invoice Date</h5>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="form-group mb-0">
                                <input type="date" value="storeData.invoiceDate | date: 'MM/dd/yyyy'" class="form-control br-0" formControlName="invoiceDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="m-0 pt-8 text-right pr-28">Due Date</h5>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="form-group mb-0">
                                <input type="date" class="form-control br-0" formControlName="invoiceDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-28 b-a">
                <div class="row bg-grey lter">
                    <div class="col-md-6 p-0">
                        <p class="m-0 text-black wrapper-16 f-500">Service Details</p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black f-500 wrapper-16">Price </p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black f-500 wrapper-16">Tax</p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black f-500 wrapper-16 text-right">Amount</p>
                    </div>
                </div>
                <div class="row bg-white">
                    <div class="col-md-6 p-0">
                            <div class="row">
                                <div class="col-md-9 p-0" >
                                    <div class="form-group"> 
                                    <input type="text" list = "serviceName"*ngIf="auto == true"  placeholder="You can search service..."  class="form-control br-0" formControlName="serviceName"  autocomplete="off">  
                                      <datalist  *ngIf="auto == true" id="serviceName"  class="form-control">
                                        <option *ngFor="let s of serviceList"value="{{s.serviceName}}"></option>
                                      </datalist>
                                    <h5 *ngIf="auto != true" class="m-0 text-center pr-8">{{storeData.services[0].serviceName}}</h5>
                                </div>
                                </div>
                            </div> 
                    </div>
                    <div class="col-md-2 p-0">
                        <input type="text"  *ngIf="auto == true" class="form-control br-0" formControlName="finalAmount">
                        <h5 *ngIf="auto != true" class="m-0 text-right pr-8">₹{{storeData.finalAmount}}</h5>
                    </div>
                    <div>
                        <select id="serviceName" *ngIf="storeData.auto == undefined" class="form-control" (change)="changeTaxStatus()" formControlName="taxStatus">
                            <option  value="IGST(18%)">IGST(18%)</option>
                            <option value="SGST(9%)|CGST(9%)">SGST(9%)|CGST(9%)</option>
                        </select>
                    </div>{{storeData.taxStatus}}
                    <div class="col-md-2 p-0" *ngIf="storeData.igst != undefined">
                        <p class="m-0 text-black wrapper-16">IGST({{storeData.igst}})%</p>
                    </div>
                    <div class="col-md-2 p-0" *ngIf="storeData.sgst != undefined">
                            <p class="m-0 text-black wrapper-16">SGST({{storeData.sgst}})%</p>
                        </div>
                    <div class="col-md-2 p-0">
                        <input type="text" *ngIf="auto == true" class="form-control br-0"formControlName="igstTaxAmount">
                        <h5 *ngIf="auto != true && storeData.sgst == undefined" class="m-0 text-right pr-8" >{{storeData.igstTaxAmount}}</h5>
                        <h5 *ngIf="auto != true && storeData.sgst != undefined" class="m-0 text-right pr-8">₹{{storeData.cgstTaxAmount}}</h5>
                    </div>
                </div>

            </div>
            <div class="row pt-12">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <h5 class="m-0">Sub total</h5>
                </div>
                <div class="col-md-2 p-0">
                    <h5 *ngIf="auto != true" class="m-0 text-right pr-8">₹{{storeData.subTotal}}</h5>
                    <input type="text" *ngIf="auto == true" class="form-control br-0" formControlName="subTotal">
                </div>
            </div>
            <div class="row pt-20">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <h5 class="m-0">Discount</h5>
                </div>
                <div class="col-md-2 p-0">
                    <input type="text" class="form-control br-0" formControlName="discount">
                     <!-- <h5 class="m-0 text-right pr-8" *ngIf="auto == false">₹{{storeData.discount}}</h5> -->
                </div>
            </div>
            <div class="row pt-20 pb-12">
                <div class="col-md-8"></div>
                <div class="col-md-2" *ngIf="storeData.igst != undefined">
                    <h5 class="m-0">IGST({{storeData.igst}})%</h5>
                </div>
                <div class="col-md-2">
                        <h5 *ngIf="storeData.sgst != undefined"class="m-0">SGST({{storeData.sgst}})%</h5>
                        <h5 *ngIf="storeData.sgst != undefined"class="m-0">CGST({{storeData.cgst}})%</h5>
                        <h5 *ngIf="storeData.sgst == undefined"class="m-0 ">{{taxStatus}}</h5>
                        
                    </div>
                <div class="col-md-2 p-0">
                        <h5 class="m-0 text-right pr-8" *ngIf="auto != true && storeData.igstTaxAmount == undefined">{{storeData.igstTaxAmount}}</h5>
                        <input type="text"*ngIf="auto == true"  class="form-control br-0" formControlName="igstTaxAmount">
                        <h5 *ngIf="auto != true && storeData.sgst != undefined" class="m-0 text-right pr-8">₹{{storeData.cgstTaxAmount}}</h5>
                </div>
            </div>
            <div class="row pb-8">
                <div class="col-md-8"></div>
                <div class="col-md-2 bt-grey">
                    <h5 class="m-0 text-black pt-8 f-500">Total</h5>
                </div>
                <div class="col-md-2 bt-grey p-0">
                    <!-- <input type="text" class="form-control br-0" formControlName="total"> -->
                    <h5 class="m-0 text-right pr-8 pt-8 text-black f-500" *ngIf="auto != true">{{storeData.finalAmount}}</h5>
                </div>
            </div>
            <div class="row pb-8">
                <div class="col-md-8"></div>
                <div class="col-md-2 bt-grey">
                    <h5 class="m-0 text-black pt-8 f-500">Balance due</h5>
                </div>
                <div class="col-md-2 bt-grey p-0">
                    <h5 class="m-0 text-right pr-8 pt-8 text-black f-500" *ngIf="auto != true">{{storeData.balanceDue}}</h5>
                    <input type="text" *ngIf="auto == true"class="form-control br-0" formControlName="balanceDue">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey lt wrapper-28">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 p-0">
                        <h5 class="m-0 pt-24 text-black text-center">Footnote Description</h5>
                    </div>
                    <div class="col-md-9 p-0">
                            <div class="form-group mb-0">
                                    <textarea class="form-control" rows="5" formControlName = "footnote" maxlength="{{getFormControledit().footnote.maxLength}}"></textarea>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <p class="f-12 m-0 text-custom roboto">Optional</p>
                                      </div>
                                      <div class="col-md-6">
                                            <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControledit().footnote.value?.length?getFormControledit().footnote.value.length:0}}/{{getFormControledit().footnote.maxLength}}</p>
                                      </div>
                                  </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="row">
                            <div class="col-md-3 p-0">
                                    <h5 class="m-0 text-black pt-24 text-center">Terms & Conditions</h5>
                            </div>
                            <div class="col-md-9 p-0">
                                    <div class="form-group mb-0">
                                            <textarea class="form-control" rows="5" formControlName = "terms" maxlength="{{getFormControledit().terms.maxLength}}"></textarea>
                                          </div>
                                          <div class="row">
                                                <div class="col-md-6">
                                                    <p class="f-12 m-0 text-custom roboto">Optional</p>
                                                </div>
                                                <div class="col-md-6">
                                                        <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControledit().terms.value?.length?getFormControledit().terms.value.length:0}}/{{getFormControledit().terms.maxLength}}</p>
                                                </div>
                                            </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="row pt-44 mt-44" *ngIf="invoiceInSub=='invoiceSubscription'">
        <div class="col-md-12 right text-right">
            <h5 class="mat-stroked-button br-0 text-light mr-20" (click)="closeEditInv()">CANCEL</h5>
     
            <button mat-button class="btn-bottom br-0 text-inherit">SAVE</button>
        </div>
    </div>
    <div class="bottom-fixed wrapper-12" *ngIf="invoiceInSub!='invoiceSubscription'">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-0 pt-8 text-white c-p"  (click)="closeEditInv()">Cancel</h5>
            </div>
            <div class="col-md-8 right text-right">
                <button mat-button  class="btn-bottom br-0 text-inherit" (click)="updateInvoice()">Save</button>    
            </div>
        </div>
    </div>


