<div id="ui-invoice-pdf-documents" *ngIf="invoiceInSub=='invoiceSubscription' && showEdit==false">
<div class="bg-white mt-70">
    <div class="row b-b">
        <div class="col-md-4 p-0">
            <div class="row">
                <div class="col-md-5 pl-8 pt-4 pr-8">
                        <h4 class="mb-0 wrapper-8 pt-12">Invoices </h4>
                </div>
                <div class="col-md-7 text-right pt-4 right">
                    <!-- <button mat-stroked-button class="btn-header btn-xs br-0 f-12 h-28 mt-4">SEND</button> -->
                    <!-- <i class="material-icons v-middle f-28 text-custom">
                                                more_vert
                                                </i> -->
                    <button mat-stroked-button class="btn-primary br-0 my-btn mt-4"><i class="material-icons">
                                                        add
                                                        </i></button>

                </div>
            </div>
        </div>
        <div class="col-md-8 bl-1 p-0">
            <div class="row ">
                <div class="col-md-10">
                    <h3 class="f-400 wrapper-16 pl-8 mb-0">{{storeData.invoiceNumber}}</h3>
                </div>
                <div (click)="Close()" class="col-md-2">
                    <i class="material-icons text-right pt-16 c-p right">
                                clear
                                </i>
                </div>
            </div>
        </div>

    </div>
    <div class="row ">
        <div class="col-md-4 p-0 height-500">
            <div class="row pt-12 pb-12 bg-white hover roboto bb-1"  *ngFor="let strData of clientData" (click)="passInvoice(strData)">
                <!-- <div class="col-md-1">
                    <mat-checkbox checked="false"></mat-checkbox>
                </div> -->
                <div class="col-md-8">
                    <p class="m-0 f-15">{{strData.clientName}}</p>
                </div>
                <div class="col-md-4 text-right pr-8">
                    <p class="m-0 f-15">{{formatter(strData.finalAmount)}}</p>
                </div>
                
                <div class="col-md-5">
                    <p class="m-0 f-13 pt-12">{{strData.invoiceNumber}}</p>
                </div>
                <div class="col-md-2 p-0">
                    <p class="m-0 f-13 pt-12">{{strData.invoiceDate | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-md-5 text-right pr-8">
                    <p class="m-0 f-13 pt-12" [ngClass]="strData.status == 'PAID' ? 'text-success f-400' : 'text-danger f-400'">{{strData.status}}</p>
                </div>
            </div>
        </div>
    
   <div class="col-md-8 p-0 bl-1 ">
        <div class="row bb-1 pt-16" *ngIf="showRecord==false">
            <div class="col-md-8 text-custom">
                <img src="assets/images/svg/pencil.svg" class="b-a wrapper-8 c-p" (click)="editInvoice()"> 
                <img src="assets/images/svg/mail-light.svg" class="b-a wrapper-8">
                <img src="assets/images/svg/pdf-icons.svg" class="b-a wrapper-8">
                <img src="assets/images/svg/printer.svg" class="b-a wrapper-8">
                <img src="assets/images/svg/delete.svg" class="b-a wrapper-8 ml-8">
            </div>
            <div class="col-md-4 right text-right">
                    <button mat-stroked-button class="btn-primary br-0 mb-12"  (click)="recordPayment()">RECORD PAYMENT</button>
            </div>
        </div>

        <div class="b-a m-20 pb-28 max-height-100" *ngIf="showRecord==false">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                                <h1 class="f-42 text-custom pt-48 f-700">INVOICE</h1>
                        </div>
                        <div class="col-md-3 text-right">
                           <img src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png" class="pt-20">
                        </div>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                           <h4 class="text-black pt-48">{{storeData.billerName}}</h4>

                            <p class="f-14 text-custom l-20">{{storeData.billerAddress}}</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-black pt-48">{{storeData.clientName}}</h4>
                            
                            <p class="f-14 text-custom l-20">{{storeData.billingAddress}}</p>

                        </div>
                    </div>
            
            <div class="row pt-44">
                <div class="col-md-8">
                    <p class="text-black f-400"><span class="text-custom f-16">Invoice no</span>: {{storeData.invoiceNumber}}</p>
                    <p class="text-black f-400"><span class="text-custom f-16">Invoice date</span>: {{storeData.invoiceDate| date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-md-4">
                    <h2 [ngClass]="storeData.status == 'PAID' ? 'text-success f-400' : 'text-danger f-400'">{{storeData.status}}</h2>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-7 mt-70">
                   <p class="f-12 text-black f-400 roboto"> For payment via NEFT/IMPS/Cheque, see details below.
                    A/c: {{storeData.billerNameAsPerBank}}
                    A/c No: {{storeData.billerAcNumber}}
                    IFSC: {{storeData.billerIfscCode}}
                    Bank:{{storeData.billerBranchAddress}},
                    ({{storeData.billerBranchCity}},
                    {{storeData.billerBranchState}},
                    {{storeData.billerBranchCountry}},
                    {{storeData.billerBranchZipCode}})</p>
                </div>
                <div class="col-md-5">
                    <div class="row pt-44">
                    <div class="col-md-8">
                        <p class="text-black f-400">Sub total</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <p class="text-black f-400">₹{{formatter(storeData.subTotal)}}</p>
                    </div>
                    </div>
                    <div class="row" *ngIf="storeData.igst!=undefined">
                    <div class="col-md-8">
                            <p>IGST ({{storeData.igst}}%)</p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-right">₹{{formatter(storeData.igstTaxAmount)}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="storeData.cgst!=undefined">
                        <div class="col-md-8">
                                <p>CGST ({{storeData.cgst}}%)</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-right">₹{{formatter(storeData.cgstTaxAmount)}}</p>
                            </div>
                        </div>
                        <div class="row" *ngIf="storeData.sgst!=undefined">
                            <div class="col-md-8">
                                    <p>SGST ({{storeData.sgst}}%)</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="text-right">₹{{formatter(storeData.sgstTaxAmount)}}</p>
                                </div>
                            </div>
                    <div class="row bt-1">
                        <div class="col-md-8">
                                <p class="f-500 roboto pt-8">Total</p>
                            </div>
                            <div class="col-md-4 text-right" *ngIf="storeData.cgst!=undefined && storeData.sgst!=undefined">
                                <p class="f-500 roboto pt-8">₹{{formatter(storeData.subTotal+storeData.cgstTaxAmount+storeData.sgstTaxAmount)}}</p>
                            </div>
                            <div class="col-md-4 text-right" *ngIf="storeData.igst!=undefined">
                                <p class="f-500 roboto pt-8">₹{{formatter(storeData.subTotal+storeData.igstTaxAmount)}}</p>
                            </div>
                        </div>
                        <div class="row bt-1 bb-1">
                            <div class="col-md-8">
                                    <p class="f-500 roboto pt-8">Balance due</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="f-500 roboto pt-8 text-right">₹{{formatter(storeData.balanceDue)}}</p>
                                </div>
                            </div>
                </div>
                </div>
            </div>
        </div>
            </div>
            <div *ngIf="showRecord==true" class="wrapper-20 height-500" >
                 <h4 class="mb-0 pt-16">Record Payment</h4>
                            <div class="pt-40" [formGroup]="rPayment"> 
                                <div class="row">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">Amount received</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0">
                                            <input type="number" class="form-control" maxlength="{{getFormControl().amountReceive.maxLength}}" formControlName="amountReceive">
                                        </div>
                                    <div class="row">
                                        <div class="col-md-10 pr-0">
                                            <mat-error class="f-12 pt-4"
                                                *ngIf="isamountValid && getFormControl().amountReceive.invalid || (getFormControl().amountReceive.touched && getFormControl().amountReceive.invalid)">
                                                feild is required</mat-error>
                                        </div>
                                        <div class="col-md-2 pl-0">
                                            <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().amountReceive.value?.length?getFormControl().amountReceive.value.length:0}}/{{getFormControl().amountReceive.maxLength}}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">Charges,if any</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0">
                                            <input type="number" class="form-control"  maxlength="{{getFormControl().charges.maxLength}}" formControlName="charges">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 pr-0">
                                                <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().charges.untouched">Assistive text</p>
                                                <mat-error class="f-12 pt-4"
                                                    *ngIf="ischargeValid && getFormControl().charges.invalid || (getFormControl().charges.touched && getFormControl().charges.invalid)">
                                                    feild is required</mat-error>
                                            </div>
                                            <div class="col-md-2 pl-0">
                                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().charges.value?.length?getFormControl().charges.value.length:0}}/{{getFormControl().charges.maxLength}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">TDS</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" maxlength="{{getFormControl().tds.maxLength}}" formControlName="tds">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 pr-0">
                                                    <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().tds.untouched">Assistive text</p>
                                                <mat-error class="f-12 pt-4"
                                                    *ngIf="istdsValid && getFormControl().tds.invalid || (getFormControl().tds.touched && getFormControl().tds.invalid)">
                                                    feild is required</mat-error>
                                            </div>
                                            <div class="col-md-2 pl-0">
                                                <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().tds.value?.length?getFormControl().tds.value.length:0}}/{{getFormControl().tds.maxLength}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 text-right pt-8">Payment date</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="date" class="form-control" formControlName="paymentDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 pt-8 text-right">payment mode</h5>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control"  formControlName="paymentMode"  maxlength="{{getFormControl().paymentMode.maxLength}}">
                                        </div>
                                    <div class="row">
                                        <div class="col-md-10 pr-0">
                                            <mat-error class="f-12 pt-4"
                                                *ngIf="ismodeValid && getFormControl().paymentMode.invalid || (getFormControl().paymentMode.touched && getFormControl().paymentMode.invalid)">
                                                feild is required</mat-error>
                                        </div>
                                        <div class="col-md-2 pl-0">
                                            <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().paymentMode.value?.length?getFormControl().paymentMode.value.length:0}}/{{getFormControl().paymentMode.maxLength}}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 pt-8 text-right">GST treatment</h5>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="gstTreatment">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-24">
                                    <div class="col-md-5">
                                        <h5 class="m-0 pt-8 text-right">Notes</h5>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group mb-0">
                                            <textarea class="form-control" rows="5" formControlName="notes" maxlength="{{getFormControl().notes.maxLength}}"></textarea>
                                        </div>
                                        <div class="row ">

                                            <div class="col-md-10">
                                                    <p class="f-12 m-0 text-custom pt-4">Optional</p>
                                            </div>
                                                <div class="col-md-2">
                                                    <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().notes.value?.length?getFormControl().notes.value.length:0}}/{{getFormControl().notes.maxLength}}</p>
                                                </div>
                                             </div>
                                    </div>
                                   
                                </div>
    
                                <div class="row pt-44 mt-44">
                                        <div class="col-md-12 right text-right">
                                            <h5 class="mat-stroked-button br-0 text-light mr-20" (click)="cancel()">CANCEL</h5>
                                     
                                            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFormData('close')">SAVE</button>
                                        </div>
                                    </div>
                            </div>
            </div>
                </div>
               </div> 
</div>
</div>
<div *ngIf="invoiceInSub!='invoiceSubscription'&& showEdit==false">
<div class="row bb-1 popup-header-fix-60">
    <div class="col-md-10">
        <h3 class="f-400 wrapper-20 pb-16 pl-0 mb-4">{{storeData.invoiceNumber}}</h3>
    </div>
    <div class="col-md-2">
        <i class="material-icons text-right pt-16 pr-16 c-p right" (click)="Close('close')">
            clear
            </i>
    </div>
</div>
<div class="row bb-1 pt-72" *ngIf="showRecord==false">
    <div class="col-md-8 text-custom">
        <img class="b-a wrapper-8 c-p" src="assets/images/svg/pencil.svg" (click)="editInvoice()">
        <img class="b-a wrapper-8" src="assets/images/svg/mail-light.svg">
        <img class="b-a wrapper-8" src="assets/images/svg/pdf-icons.svg">
        <img class="b-a wrapper-8" src="assets/images/svg/printer.svg">
        <img class="b-a wrapper-8" src="assets/images/svg/attech-light.svg">
        <img class="b-a wrapper-8 ml-8" src="assets/images/svg/delete.svg">
    </div>
    <div class="col-md-4 right text-right">
            <button mat-stroked-button class="btn-primary br-0 mb-8"  (click)="recordPayment()">RECORD PAYMENT</button>
    </div>
</div>

<div class="b-a m-20 mb-100 pb-28" *ngIf="showRecord==false">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                        <h1 class="f-42 text-custom pt-48 f-700">INVOICE</h1>
                </div>
                <div class="col-md-3 text-right">
                   <img src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png" class="pt-20">
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                   <h4 class="text-black pt-48">{{storeData.billerName}}</h4>

                    <p class="f-14 text-custom l-20">{{storeData.billerAddress}}</p>
                </div>
                <div class="col-md-6">
                    <h4 class="text-black pt-48">{{storeData.clientName}}</h4>
                    
                    <p class="f-14 text-custom l-20">{{storeData.billingAddress}}</p>
                </div>
            </div>
    
    <div class="row pt-44">
        <div class="col-md-8">
            <p class="text-black f-400"><span class="text-custom f-16">Invoice no</span>: {{storeData.invoiceNumber}}</p>
            <p class="text-black f-400"><span class="text-custom f-16">Invoice date</span>: {{storeData.invoiceDate | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-md-4">
            <h2 [ngClass]="storeData.status == 'PAID' ? 'text-success f-400' : 'text-danger f-400'">{{storeData.status}}</h2>
        </div>
       
    </div>
         <div> 
    <div class="row">
        <div class="col-md-7 mt-70">
           <p class="f-12 text-black f-400 roboto"> For payment via NEFT/IMPS/Cheque, see details below.
            A/c: {{storeData.billerNameAsPerBank}}
            A/c No: {{storeData.billerAcNumber}}
            IFSC: {{storeData.billerIfscCode}}
            Bank:{{storeData.billerBranchAddress}},
            ({{storeData.billerBranchCity}},
            {{storeData.billerBranchState}},
            {{storeData.billerBranchCountry}},
            {{storeData.billerBranchZipCode}})</p>
        </div>
        <div class="col-md-5">
            <div class="row pt-44">
            <div class="col-md-8">
                <p class="text-black f-400">Sub total</p>
            </div>
            <div class="col-md-4 text-right">
                <p class="text-black f-400">Rs.{{formatter(storeData.subTotal)}}</p>
            </div>
            </div>
            <div class="row" *ngIf="storeData.igst!=undefined">
                <div class="col-md-8">
                        <p>IGST ({{storeData.igst}}%)</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-right">Rs.{{formatter(storeData.igstTaxAmount)}}</p>
                    </div>
                </div>
                <div class="row" *ngIf="storeData.cgst!=undefined">
                    <div class="col-md-8">
                            <p>CGST ({{storeData.cgst}}%)</p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-right">Rs.{{formatter(storeData.cgstTaxAmount)}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="storeData.sgst!=undefined">
                        <div class="col-md-8">
                                <p>SGST ({{storeData.sgst}}%)</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-right">Rs.{{formatter(storeData.sgstTaxAmount)}}</p>
                            </div>
                        </div>
            <div class="row bt-1">
                <div class="col-md-8">
                        <p class="f-500 roboto pt-8">Total</p>
                    </div>
                    <div class="col-md-4 text-right" *ngIf="storeData.cgst!=undefined && storeData.sgst!=undefined">
                        <p class="f-500 roboto pt-8">{{formatter(storeData.subTotal+storeData.cgstTaxAmount+storeData.sgstTaxAmount)}}</p>
                    </div>
                    <div class="col-md-4 text-right" *ngIf="storeData.igst!=undefined">
                        <p class="f-500 roboto pt-8">{{formatter(storeData.subTotal+storeData.igstTaxAmount)}}</p>
                    </div>
                </div>
                <div class="row bt-1 bb-1">
                    <div class="col-md-8">
                            <p class="f-500 roboto pt-8">Balance due</p>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="f-500 roboto pt-8 ">{{formatter(storeData.balanceDue)}}</p>
                        </div>
                    </div>
        </div>
        </div>
    </div>
</div>
          </div>
          </div>       
<div *ngIf="showRecord==true" class="pt-72">
    <h4 class="mb-0 pt-40 pl-20">Record Payment</h4>
               <div class="pt-40" [formGroup]="rPayment"> 
                   <div class="row">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">Amount received</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group mb-0">
                               <input type="number" class="form-control" maxlength="{{getFormControl().amountReceive.maxLength}}" formControlName="amountReceive">
                           </div>
                       <div class="row">
                           <div class="col-md-10">
                               <mat-error class="f-12 pt-4"
                                   *ngIf="isamountValid && getFormControl().amountReceive.invalid || (getFormControl().amountReceive.touched && getFormControl().amountReceive.invalid)">
                                   feild is required</mat-error>
                           </div>
                           <div class="col-md-2 pl-0">
                               <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().amountReceive.value?.length?getFormControl().amountReceive.value.length:0}}/{{getFormControl().amountReceive.maxLength}}</p>
                           </div>
                       </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">Charges,if any</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group mb-0">
                               <input type="number" class="form-control"  maxlength="{{getFormControl().charges.maxLength}}" formControlName="charges">
                           </div>
                          
                           <div class="row">
                               <div class="col-md-10 pr-0">
                                    <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().charges.untouched">Assistive text</p>                                           
                                    <mat-error class="f-12 pt-4"
                                       *ngIf="ischargeValid && getFormControl().charges.invalid || (getFormControl().charges.touched && getFormControl().charges.invalid)">
                                       feild is required</mat-error>
                               </div>
                               <div class="col-md-2 pl-0">
                                   <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().charges.value?.length?getFormControl().charges.value.length:0}}/{{getFormControl().charges.maxLength}}</p>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">TDS</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group mb-0">
                               <input type="text" class="form-control" maxlength="{{getFormControl().tds.maxLength}}" formControlName="tds">
                           </div>
                           <div class="row">
                               <div class="col-md-10 pr-0">
                                    <p class="f-12 m-0 text-left text-custom pt-4" *ngIf="getFormControl().tds.untouched">Assistive text</p>
                                   <mat-error class="f-12 pt-4"
                                       *ngIf="istdsValid && getFormControl().tds.invalid || (getFormControl().tds.touched && getFormControl().tds.invalid)">
                                       feild is required</mat-error>
                               </div>
                               <div class="col-md-2 pl-0">
                                   <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().tds.value?.length?getFormControl().tds.value.length:0}}/{{getFormControl().tds.maxLength}}</p>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 text-right pt-8">Payment date</h5>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <input type="date" class="form-control" formControlName="paymentDate">
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 pt-8 text-right">payment mode</h5>
                       </div>
                       <div class="col-md-5">
                           <div class="form-group mb-0">
                               <input type="text" class="form-control"  formControlName="paymentMode"  maxlength="{{getFormControl().paymentMode.maxLength}}">
                           </div>
                       <div class="row">
                           <div class="col-md-10 pr-0">
                               <mat-error class="f-12 pt-4"
                                   *ngIf="ismodeValid && getFormControl().paymentMode.invalid || (getFormControl().paymentMode.touched && getFormControl().paymentMode.invalid)">
                                   feild is required</mat-error>
                           </div>
                           <div class="col-md-2  pl-0">
                               <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().paymentMode.value?.length?getFormControl().paymentMode.value.length:0}}/{{getFormControl().paymentMode.maxLength}}</p>
                           </div>
                       </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 pt-8 text-right">GST treatment</h5>
                       </div>
                       <div class="col-md-5">
                           <div class="form-group">
                               <input type="text" class="form-control" formControlName="gstTreatment">
                           </div>
                       </div>
                   </div>
                   <div class="row pt-24">
                       <div class="col-md-5">
                           <h5 class="m-0 pt-8 text-right">Notes</h5>
                       </div>
                       <div class="col-md-5">
                           <div class="form-group mb-0">
                               <textarea class="form-control" rows="5" formControlName="notes" maxlength="{{getFormControl().notes.maxLength}}"></textarea>
                           </div>
                           <div class="row ">

                               <div class="col-md-8">
                                       <p class="f-12 m-0 text-custom pt-4">Optional</p>
                               </div>
                                   <div class="col-md-2">
                                       <p class="mb-0 f-12 text-custom text-right pt-4">{{getFormControl().notes.value?.length?getFormControl().notes.value.length:0}}/{{getFormControl().notes.maxLength}}</p>
                                   </div>
                                </div>
                       </div>
                      
                   </div>

                   <div class="row pt-44 mt-44 pb-44">
                           <div class="col-md-12 right text-right pb-44">
                               <h5 class="mat-stroked-button br-0 text-light mr-20" (click)="cancel()">CANCEL</h5>
                        
                               <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFormData('close')">SAVE</button>
                           </div>
                       </div>
               </div>
</div>
          <div class="bottom-fixed wrapper-12">
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-0 pt-8 pb-8 text-white c-p" (click)="Close('close')">Cancel</h5>
              </div>
             
            </div>
          </div>
</div>
<div class="bg-white pb-44 " *ngIf="showEdit==true" [ngClass]="{'mt-70': invoiceInSub=='invoiceSubscription','mt-4':invoiceInSub!='invoiceSubscription'}"  >
    <div class="row">
        <div class="col-md-10">
            <h2 class="m-0 pl-12 pt-12">Edit Invoice of {{storeData.invoiceNumber}}</h2>
        </div>
        <div class="col-md-2">
            <i class="material-icons right pt-20 pr-20 c-p" (click)="closeEditInv()"> clear </i>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-3">
            <h5 class="m-0 text-right pt-8">Client name </h5>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control br-0">
            </div>
            <div class="row">
                <div class="col-md-6 p-0">
                    <p class="m-0 text-custom f-12">BILLER ADDRESS</p>
                    <p class="m-0 text-black">#46, Street 1,
                        <br> Lokhandwala Township
                        <br> Borivali East
                        <br> Mumbai 400 066
                    </p>
                    <p class="m-0 text-primary">CHANGE</p>
                </div>
                <div class="col-md-6 p-0">
                    <p class="m-0 text-custom f-12">PAYEE ADDRESS</p>
                    <p class="m-0 text-black">#46, Street 1,
                        <br> Lokhandwala Township
                        <br> Borivali East
                        <br> Mumbai 400 066
                    </p>
                    <p class="m-0 text-primary">CHANGE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-28">
        <div class="bt-grey">
            <div class="row pt-28">
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-md-4 pl-0">
                            <h5 class="m-0 pt-8 text-left">Invoice No.</h5>
                        </div>
                        <div class="col-md-7 p-0">
                            <div class="form-group mb-0">
                                <input type="email" class="form-control br-0">
                            </div>
                            <div class="col-md-12">
                                <p class="m-0 text-custom f-12 text-right pt-4"> 0 / 10</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-md-6 p-0">
                            <h5 class="m-0 pt-8 text-right pr-24">Invoice Date</h5>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="form-group mb-0">
                                <input type="email" class="form-control br-0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="m-0 pt-8 text-right pr-28">Due Date</h5>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="form-group mb-0">
                                <input type="email" class="form-control br-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-28 b-a">
                <div class="row bg-grey lter">
                    <div class="col-md-6 p-0">
                        <p class="m-0 text-black wrapper-16 f-500">Service Details</p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black f-500 wrapper-16 text-right">Price </p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black f-500 wrapper-16">Tax</p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black f-500 wrapper-16 text-right">Amount</p>
                    </div>
                </div>
                <div class="row bg-white">
                    <div class="col-md-5 p-0">
                        <div class="b-a m-4 wrapper-4">
                            <div class="row">
                                <div class="col-md-8 p-0">
                                    <p class="m-0 text-black  pb-0 f-500">Investment management fees</p>
                                    <p class="m-0 text-custom">For the period 20/08/2019 to 19/08/2020</p>
                                </div>
                                <div class="col-md-3 p-0">
                                    <i class="material-icons text-custom text-right right f-18 pt-8">
                                                create
                                                </i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black wrapper-16 text-right">8,000 </p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black wrapper-16">IGST (18%)</p>
                    </div>
                    <div class="col-md-2 p-0">
                        <p class="m-0 text-black wrapper-16 text-right">9,440</p>
                    </div>
                </div>

            </div>
            <div class="row pt-12">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <h5 class="m-0">Sub total</h5>
                </div>
                <div class="col-md-2 p-0">
                    <h5 class="m-0 text-right pr-8">Rs.8,000</h5>
                </div>
            </div>
            <div class="row pt-20">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <h5 class="m-0">Discount</h5>
                </div>
                <div class="col-md-2 p-0">
                    <h5 class="m-0 text-right pr-8">Rs.0</h5>
                </div>
            </div>
            <div class="row pt-20 pb-12">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <h5 class="m-0">IGST (18%)</h5>
                </div>
                <div class="col-md-2 p-0">
                    <h5 class="m-0 text-right pr-8">Rs.1,440</h5>
                </div>
            </div>
            <div class="row pb-8">
                <div class="col-md-8"></div>
                <div class="col-md-2 bt-grey">
                    <h5 class="m-0 text-black pt-8 f-500">Total</h5>
                </div>
                <div class="col-md-2 bt-grey p-0">
                    <h5 class="m-0 text-right pr-8 pt-8 text-black f-500">9,440</h5>
                </div>
            </div>
            <div class="row pb-8">
                <div class="col-md-8"></div>
                <div class="col-md-2 bt-grey">
                    <h5 class="m-0 text-black pt-8 f-500">Balance due</h5>
                </div>
                <div class="col-md-2 bt-grey p-0">
                    <h5 class="m-0 text-right pr-8 pt-8 text-black f-500">9,440</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey lt wrapper-28">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 p-0">
                        <h5 class="m-0 pt-24 text-black text-center">Footnote Description</h5>
                    </div>
                    <div class="col-md-9 p-0">
                            <div class="form-group mb-0">
                                    <textarea class="form-control" rows="5"></textarea>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <p class="f-12 m-0 text-custom roboto">Optional</p>
                                      </div>
                                      <div class="col-md-6">
                                            <p class="f-12 m-0 text-custom roboto">0 / 10</p>
                                      </div>
                                  </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="row">
                            <div class="col-md-3 p-0">
                                    <h5 class="m-0 text-black pt-24 text-center">Terms & Conditions</h5>
                            </div>
                            <div class="col-md-9 p-0">
                                    <div class="form-group mb-0">
                                            <textarea class="form-control" rows="5"></textarea>
                                          </div>
                                          <div class="row">
                                                <div class="col-md-6">
                                                    <p class="f-12 m-0 text-custom roboto">Optional</p>
                                                </div>
                                                <div class="col-md-6">
                                                      <p class="f-12 text-custom m-0 roboto">0 / 10</p>
                                                </div>
                                            </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="row pt-44 mt-44" *ngIf="invoiceInSub=='invoiceSubscription'">
        <div class="col-md-12 right text-right">
            <h5 class="mat-stroked-button br-0 text-light mr-20" (click)="closeEditInv()">CANCEL</h5>
     
            <button mat-button class="btn-bottom br-0 text-inherit">SAVE</button>
        </div>
    </div>
    <div class="bottom-fixed wrapper-12" *ngIf="invoiceInSub!='invoiceSubscription'">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-0 pt-8 text-white c-p"  (click)="closeEditInv()">Cancel</h5>
            </div>
            <div class="col-md-8 right text-right">
                <button mat-button  class="btn-bottom br-0 text-inherit">Save</button>    
            </div>
        </div>
    </div>
</div>

