h3{
  font-family: "Playfair Display",serif;  
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #008FFF !important;
  }
  
  // overwrite the ripple overlay on hover and click
  ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #008FFF !important;
  }
  ::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #008FFF;
}
::ng-deep .mat-accent .mat-slider-track-fill{
  background-color: #008FFF;
}
::ng-deep .mat-slider-horizontal{
  min-width: 70px !important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
 
  background-color: #008FFF !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #008FFF !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#008FFF !important; /*outer ring color change*/
}
// ::ng-deep .mat-horizontal-stepper-header{
//   pointer-events: none !important;
// }
.min-38{
  min-height: 38px !important
}
::ng-deep .custom-checkbox .mat-checkbox-layout{
  vertical-align: top !important;
}