<div class="row bb-1 popup-header-fix-60">
  <div class="col-md-10 p-0">
    <h4 class="mb-0 wrapper-20" >CREATE SUBSCRIPTION FOR Ronak</h4>{{msg}}
  </div>
  <div class="col-md-2 text-right">
    <i class="material-icons pt-16 pr-16 c-p" (click)="Close('close')">
      clear
    </i>
  </div>
</div>
<mat-horizontal-stepper [@.disabled]="true" [linear]="true" #stepper id="ui-stepper" class="pt-72">
  <!-- TODO   <mat-step  [stepControl]="firstFormGroup">-->
  <mat-step [stepControl]="feeStructureForm">
    <ng-template matStepLabel>Fee Structure</ng-template>
    <app-modify-fee-structure [createSubData]='feeStructureData'></app-modify-fee-structure>
    <!-- <div class="bottom-fixed wrapper-12">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
          <button mat-button class="btn-bottom br-0 text-inherit" (click)="goForward()">NEXT STEP</button>
        </div>
      </div>
    </div> -->
  </mat-step>

  <!-- TODO   <mat-step [stepControl]="secondFormGroup">-->

  <mat-step [stepControl]="subscriptionDetails">
    <ng-template matStepLabel>Subscription details</ng-template>
    <div [formGroup]="subscriptionDetails" class="wrapper-20 pt-36 mb-44 pb-44">
      <div class="row pt-40">
        <div class="col-md-5">
          <h5 class="text-right m-0 pt-8">Subscription #</h5>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-0">
            <input type="text" formControlName="subscription" class="form-control t-50 br-0" placeholder="SUB-0001">
          </div>
          <mat-error
            [ngClass]="{'v-h':subscriptionDetails.get('subscription').untouched || subscriptionDetails.get('subscription').valid}"
            class="f-12 pt-4">Subscription code is required</mat-error>
        </div>
      </div>
      <div class="row pt-40">
        <div class="col-md-5">
          <h5 class="text-right m-0 pt-8">Activation date</h5>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-0">
            <input type="text" formControlName="activationDate" class="form-control t-50 br-0">
          </div>
          <mat-error
            [ngClass]="{'v-h':subscriptionDetails.get('activationDate').untouched || subscriptionDetails.get('activationDate').valid}"
            class="f-12 pt-4">Activation date is required</mat-error>
        </div>
      </div>
      <div class="row pt-40">
        <div class="col-md-5">
          <h5 class="text-right m-0 pt-8">Invoice sending mode</h5>
        </div>
        <div class="col-md-6">
          <mat-radio-group formControlName="invoiceSendingMode" aria-label="Select an option">
            <mat-radio-button value="1"
              [ngClass]="{'b-a-custom':subscriptionDetails.get('invoiceSendingMode').value==1,'text-primary':subscriptionDetails.get('invoiceSendingMode').value==1,'b-a':subscriptionDetails.get('invoiceSendingMode').value==2}"
              checked="true" class="pt-8 pb-8 pr-40 pl-20 custom-radio">Automatic
            </mat-radio-button>
            <mat-radio-button value="2"
              [ngClass]="{'b-a-custom':subscriptionDetails.get('invoiceSendingMode').value==2,'text-primary':subscriptionDetails.get('invoiceSendingMode').value==2,'b-a':subscriptionDetails.get('invoiceSendingMode').value==1}"
              class=" pt-8 pr-40 pb-8 pl-20 custom-radio">Manual
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row pt-40">
        <div class="col-md-5">
          <h5 class="text-right m-0 pt-8">Fee collection mode</h5>
        </div>
        <div class="col-md-3 mb-0">
          <div class="form-group mb-0">
            <select class="form-control" id="Category" formControlName="feeCollectionMode" id="sel1">
              <option *ngFor="let feeMode of feeCollectionMode" value="{{feeMode.value}}">{{feeMode.name}}</option>
            </select>
          </div>
          <mat-error
            [ngClass]="{'v-h':subscriptionDetails.get('feeCollectionMode').untouched || subscriptionDetails.get('feeCollectionMode').valid}"
            class="f-12 pt-4">Fee mode is required</mat-error>
        </div>
      </div>
      <div class="row pt-40">
        <div class="col-md-5">
          <h5 class="text-right m-0 pt-8">Due date frequency</h5>
        </div>
        <div class="col-md-3">
          <div class="form-group mb-0">
            <select class="form-control" formControlName="dueDateFrequency" id="sel1">
              <option value="5">After 5 Days</option>
              <option value="10">After 10 Days</option>
              <option value="15">After 15 Days</option>

            </select>
          </div>
          <mat-error
            [ngClass]="{'v-h':subscriptionDetails.get('dueDateFrequency').untouched || subscriptionDetails.get('dueDateFrequency').valid}"
            class="f-12 pt-4"> Due date is required</mat-error>
        </div>
      </div>
    </div>
    <div class="bottom-fixed wrapper-12">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
          <button mat-button class="btn-bottom br-0 text-inherit" *ngIf="subscriptionDetails.valid"
            (click)="goForward()">NEXT STEP</button>
          <button class="btn-bottom br-0 text-inherit" disabled *ngIf="subscriptionDetails.invalid"
            [disabled]="subscriptionDetails.invalid" (click)="goForward()">NEXT STEP</button>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="billerSetting">
    <ng-template matStepLabel>Biller Settings</ng-template>
    <div class="wrapper-16 pb-44 mb-44">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 text-right text-custom roboto">You can map more than one plan to the client</p>
        </div>
      </div>
      <div class="row pt-16">
        <div (click)="select('biller',singleBiller)" *ngFor="let singleBiller of billersData" class="col-md-6 mt-20">
          <mat-card class="p-0" [ngClass]="{'ba-blue':singleBiller.selected==1,'mb-20':true ,'b-ua':singleBiller.selected==0}">
            <div class="row bg-grey lter">
              <div class="col-md-12 p-0">
                <mat-checkbox class="custom-checkbox" [ngClass]="{'v-h':singleBiller.selected==0}" checked="false">
                </mat-checkbox>
              </div>
              <div class="col-md-12 p-0">
                <h3 class="m-0 pt-18 pl-24">{{singleBiller.companyDisplayName}}</h3>
                <h5 class="m-0 pt-4 pb-44 pl-24 text-custom">CLI123</h5>
              </div>
            </div>
            <div class="wrapper-24">
              <div class="row">
                <div class="col-md-12 p-0">
                  <p class="f-12 mb-0 text-primitive">BILLER ADDRESS</p>
                  <p class="mb-0">{{singleBiller.billerAddress}}</p>
                  <p class="mb-0">{{singleBiller.city}}</p>
                  <p class="mb-0">{{singleBiller.state}}</p>
                  <p class="mb-0">{{singleBiller.zipCode}}</p>
                  <!-- <p class="mb-0">Mumbai 400 066</p> -->
                </div>

              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="bottom-fixed wrapper-12">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
          <button mat-button class="btn-bottom br-0 text-inherit" [disabled]="!selectedBiller" (click)="goForward()">NEXT STEP</button>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="payeeSetting">
    <ng-template matStepLabel>Payee Settings</ng-template>
    <div class="wrapper-16 pb-44 mb-44">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 text-right text-custom roboto">You can map more than one plan to the client</p>
        </div>
      </div>
      <div class="row pt-16">
        <div (click)="select('singlePayee',singlePayee)" *ngFor="let singlePayee of payeesData" class="col-md-6">
          <mat-card class="p-0 mb-32" [ngClass]="{'ba-blue':singlePayee.selected==1,'b-ua':singlePayee.selected==0}">
            <div class="row bg-grey lter">
              <div class="col-md-12 p-0">
                <mat-checkbox class="custom-checkbox" [ngClass]="{'v-h':singlePayee.selected==0}" checked="false">
                </mat-checkbox>
              </div>
              <div class="col-md-12 p-0">
                <h3 class="m-0 pt-18 pl-24">{{singlePayee.companyDisplayName}}</h3>
                <h5 class="m-0 pt-4 pb-44 pl-24 text-custom">ARN123</h5>
              </div>
            </div>
            <div class="wrapper-24">
              <div class="row">
                <div class="col-md-6 p-0">
                  <p class="f-12 mb-0 text-primitive">BILLER ADDRESS</p>
                  <p class="mb-0">{{singlePayee.billerAddress}}</p>
                  <p class="mb-0">{{singlePayee.state}}</p>
                  <p class="mb-0">{{singlePayee.city}}</p>
                  <p class="mb-0">{{singlePayee.zipCode}}</p>
                </div>
                <div class="col-md-6 p-0">
                  <p class="text-custom m-0 f-12 pl-24"> SPLITTING RATIO (%)</p>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-slider class="ml-24" id="custom-mat-slider"></mat-slider>
                    </div>
                    <div class="col-md-4 pr-0 pt-8">
                      <p class="m-0 f-13 text-black b-a wrapper-8">50</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="bottom-fixed wrapper-12">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
          <button mat-button class="btn-bottom br-0 text-inherit" (click)="goForward()">NEXT STEP</button>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="create">
    <ng-template matStepLabel>Create</ng-template>
    <div class="wrapper-100 pt-44">
      <div class="row">
        <div class="col-md-12">
          <div class="pl-44 pr-44">
            <h4 class="m-0 text-success">YOU’RE ALL SET!</h4>

            <p class="m-0 text-black pt-28">When you click on the Create button below, the subscription will be created.
            </p>

            <p class="m-0 text-black pt-28">Since this is a variable fee type with quarterly frequency, the first
              invoice will be created on 29/11/2019. The invoice amount will be calculated on the basis of the fee
              structure defined in first step.</p>

            <p class="m-0 text-custom pt-28">You have an option to change the Invoice Sending Mode to auto or manual.
              You can do this from Subscription settings.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-fixed wrapper-12">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
          <button mat-button class="btn-bottom br-0 text-inherit" (click)="startSubscsription()">SAVE</button>
        </div>
      </div>
    </div>
  </mat-step>

</mat-horizontal-stepper>
