<div id="advisor-home">
        <button mat-stroked-button class="btn-yellow"> <i class="material-icons mr-12">
                keyboard_backspace
                </i>ADVISOR HOME</button>
</div>
<mat-tab-group mat-align-tabs="center" id="ui-account-second-head">
            <mat-tab label="SUMMARY">
                <app-summary></app-summary>
            </mat-tab>
        <mat-tab label="ASSETS">Content 2</mat-tab>
        <mat-tab label="LIABILITIES">Content 3</mat-tab>
        <mat-tab label="SUMMARY">Content 1</mat-tab>
        <mat-tab label="ASSETS">Content 2</mat-tab>
        <mat-tab label="LIABILITIES">Content 3</mat-tab>
        <mat-tab label="DOCUMENTS">Content 3</mat-tab>
      </mat-tab-group>
   
