<div *ngIf="componentFlag=='plansDocuments'">
    <mat-toolbar class="bottom-fixed">
        <div class="row w-100">
            <div class="col-md-6 text-left">
                <p class="text-white f-16 mb-0 pt-12 c-p" (click)="dialogClose()">Cancel</p>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" mat-stroked-button class="btn-bottom br-0">Save</button>
            </div>
        </div>
    </mat-toolbar>
    <div class="bg-grey lter">
        <div class="row">
            <div class="col-md-12">
                <h2>Starter Plan</h2>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="wrapper-20 pb-0">
            <div class="row">
                <div class="col-md-10 p-0 pt-8 text-center">
                    <div class="row text-right content">
                        <div class="col-md-11 p-0">
                            <p>Map documents to the selected plan.</p>
                        </div>
                        <div class="col-md-1 text-left p-0">

                            <i class="material-icons text-primary">
                                error_outline
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 right text-right p-0 button-fix">
                    <button mat-stroked-button class="btn-primary">1 Document mapped

                    </button>
                </div>
            </div>
        </div>
        <div class="wrapper-40">
            <div class="row text-center padder-80">
                <div  *ngFor="let documentData of planDocumentData" class="col-md-4 pl-10 pr-10">

                    <div (click)="selectDocument(documentData)" [ngClass]="{'box': documentData.checked,'active': documentData.checked,'b-a':documentData.checked==false}">
                            <mat-checkbox class="custom-checkbox" checked="false" *ngIf="documentData.checked"></mat-checkbox>
                        <img src="{{documentData.src}}">
                        <div class="bg-grey lter text-left">
                            <div class="row">
                                <div class="col-md-10">

                                    <h3 class="f-18 p-0 mb-0 pt-12">{{documentData.name}} </h3>
                                    <p class="mb-0 pb-36">{{documentData.code}}</p>

                                </div>
                                <div class="col-md-2">
                                    <p class="green text-white f-16"> {{documentData.type}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="componentFlag=='servicesDocuments'" id="ui-service-documents">
        <mat-toolbar class="bottom-fixed">
                <div class="row w-100">
                    <div class="col-md-6 text-left">
                        <p class="text-white f-16 mb-0 pt-12 c-p" (click)="dialogClose()">Cancel</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" mat-stroked-button class="btn-bottom br-0">Save</button>
                    </div>
                </div>
            </mat-toolbar>
            <div class="bg-grey lter">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Starter Plan</h2>
                    </div>
                </div>
            </div>
            <div class="bg-white">
                <div class="wrapper-20 pb-0">
                    <div class="row">
                        <div class="col-md-10 p-0 pt-8 text-center">
                            <div class="row text-right content">
                                <div class="col-md-11 p-0">
                                    <p>Map documents to the selected plan.</p>
                                </div>
                                <div class="col-md-1 text-left p-0">
        
                                    <i class="material-icons text-primary">
                                        error_outline
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 right text-right p-0 button-fix">
                            <button mat-stroked-button class="btn-primary">1 Document mapped
        
                            </button>
                        </div>
                    </div>
                </div>
                <div class="wrapper-40">
                    <div class="row text-center padder-80">
                        <div  *ngFor="let documentData of planDocumentData" class="col-md-4 pl-10 pr-10">
        
                            <div (click)="selectDocument(documentData)" [ngClass]="{'box': documentData.checked,'active': documentData.checked,'b-a':documentData.checked==false}">
                                    <mat-checkbox class="custom-checkbox" checked="false" *ngIf="documentData.checked"></mat-checkbox>
                                <img src="{{documentData.src}}">
                                <div class="bg-grey lter text-left">
                                    <div class="row">
                                        <div class="col-md-10">
        
                                            <h3 class="f-18 p-0 mb-0 pt-12">{{documentData.name}} </h3>
                                            <p class="mb-0 pb-36">{{documentData.code}}</p>
        
                                        </div>
                                        <div class="col-md-2">
                                            <p class="green text-white f-16"> {{documentData.type}}</p>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div *ngIf="componentFlag=='clientDocuments'">
    <div *ngIf="documentDesign=='true'">
        <div class="wrapper-20 bg-grey lter">
                <h3 class="m-0 text-center head-common">Dhyaan Ronak Hindocha</h3>
              </div>
              <div class="bg-white">
                <div class="wrapper-20">
                    <div class="row">
                        <div class="col-md-12 p-0">
                              <button mat-stroked-button class="btn-primary br-0 right text-right addon"><i class="material-icons">
                                      add</i> ADD DOCUMENT</button>
                                      <button mat-button class="mr-8 right text-right" (click)="openPopup('documentHelpPopup')">HELP</button>
                        </div>
                    </div>
                </div> 
                <div class="wrapper-40 pr-20">
                    <div class="row">
                        <div class="col-md-1 p-0">
                  <button mat-button [matMenuTriggerFor]="menu" class="b-a pr-0">Actions <i class="material-icons text-custom">
                          arrow_drop_down
                          </i></button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDocumentESign('eSignDocument','open')">Email with eSign request</button>
                        <button mat-menu-item (click)="changeDisplay('email')">Email only</button>
                        <button mat-menu-item class="b-t" (click)="deleteModal('DOCUMENT')">Delete documents</button>
                      </mat-menu>
                        </div>
                        <div class="col-md-9 p-0">
                              <p class="m-0 text-black text-left pt-8">2 invoices selected</p>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource" class="mt-8" id="table-low">
                          <ng-container matColumnDef="checkbox">
                                  <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> <mat-checkbox></mat-checkbox> </th>
                                  <td mat-cell *matCellDef="let element" style="width: 2%;">
                                          <mat-checkbox checked="false"></mat-checkbox>
                                  </td>
                              </ng-container>
                        <ng-container matColumnDef="document">
                            <th mat-header-cell *matHeaderCellDef> Document name</th>
                            <td mat-cell *matCellDef="let element" class="c-p"> {{element.document}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="plan">
                            <th mat-header-cell *matHeaderCellDef> Plan name </th>
                            <td mat-cell *matCellDef="let element"> {{element.plan}} </td>
                        </ng-container>
                        <ng-container matColumnDef="service">
                                <th mat-header-cell *matHeaderCellDef> Service name</th>
                                <td mat-cell *matCellDef="let element" class="c-p"> {{element.service}} </td>
                            </ng-container>
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef class="border-right-1"> Created date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sdate">
                            <th mat-header-cell *matHeaderCellDef class="border-right-1"> Sent date </th>
                            <td mat-cell *matCellDef="let element"> {{element.sdate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cdate">
                            <th mat-header-cell *matHeaderCellDef> Client sign date </th>
                            <td mat-cell *matCellDef="let element"> {{element.cdate}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element" class="text-success f-500" (click)="changeDisplay('termsAgreement')"> {{element.status}} </td>
                        </ng-container>
                        <ng-container matColumnDef="icons">
                            <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> </th>
                            <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons c-p iconscolors" [matMenuTriggerFor]="menu" [matMenuTriggerFor]="belowMenu">
                                                                more_vert
                                                                </i>
                                <mat-menu #menu="matMenu">
                                    <a mat-menu-item>View & Modify document</a>
                                    <a mat-menu-item class="bt-1"(click)="deleteModal('DOCUMENT')">Delete document</a>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
              </div>
         </div>
</div>
  

<div *ngIf="documentDesign=='false'">
        <button (click)="changeDisplay('completeSteps')">OK</button>
        <button (click)="changeDisplay('Bummer')">Cancel</button>
    </div>
    
    <div *ngIf="documentDesign=='Bummer'">
        <button (click)="changeDisplay('false')">GO BACk</button>
        <button>CLOSE</button>
    </div>
    
    <div *ngIf="documentDesign=='completeSteps'">
        <button>CLOSE</button>
    </div>
    <div>
    <app-terms-agreement *ngIf="documentDesign=='termsAgreement'"></app-terms-agreement>
    <div>
    <div>
            <app-terms-agreement *ngIf="documentDesign=='email'"></app-terms-agreement> 
    </div>