<div  *ngIf="componentFlag=='plansDocuments' && componentFlag!='clientDocuments' ">
      <mat-toolbar class="bottom-fixed">
                <div class="row w-100">
                    <div class="col-md-6 text-left">
                        <p class="text-white f-16 mb-0 pt-12">Cancel</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" mat-stroked-button class="btn-bottom br-0">Save</button>
                    </div>
                </div>
            </mat-toolbar>
        <div class="bg-grey lter">
        <div class="row">
            <div class="col-md-12">
                <h2>Starter Plan</h2>
            </div>
        </div>
        </div>
        
        <div class="bg-white">
            <div class="wrapper-20 pb-0">
                <div class="row">
                <div class="col-md-10 p-0 pt-8 text-center">
                    <div class="row text-right content">
                    <div class="col-md-11 p-0">
                            <p>Map documents to the selected plan.</p>
                    </div>
                    <div class="col-md-1 text-left p-0">
        
                            <i class="material-icons text-primary">
                                    error_outline
                                    </i>
                    </div>
                </div>
                </div>
                <div class="col-md-2 right text-right p-0 button-fix">
                        <button mat-stroked-button class="btn-primary">1 Services mapped</button>
                </div>
            </div>
            </div>
            <div class="wrapper-40">
                <div class="row text-center padder-80">
                    <div class="col-md-4 pl-10 pr-10">
                            
                        <div class="box">
                                <img src="https://s3-alpha-sig.figma.com/img/e832/9d0d/68ea718f7979effe27acabd01745b22d?Expires=1567987200&Signature=JseF4XqEPWx4xMwXhkyymZACJMlGHoU8HI0kNBdQCUjacyTReo-~NDcfwEhos4gLLZpl03n5SYYTAr~qsVgs2lIUDxbAwqEj4jGAh5gZEi72OMlS8R8XhPbMwOkbSuZrwLGV52aFMOlRD9uS8Ot8WyKx3NfwCoktTmDH1zOj5Nw6C7K9JnD4P7o1hLvye86YbENnls-876GLklch0MW0l6ck7xFBBm9h-a0gkPcf0HHtQsSCTqenL8pROCOfs1sKHwv5N6VVaODCCuIoUSqHmmXlpxT6-JY9xKKcXE-3ncITvJBVmOOjq0DlWhXM~AkNVNek2cP2Q3ANANrpwDGzGA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                            <div class="bg-grey lter text-left">
                                <div class="row">
                                        <div class="col-md-10">
                                    
                                    <h3 class="f-18 p-0 mb-0 pt-12">Investment Management </h3>
                                    <p class="mb-0 pb-36">IMA124</p>
                                    
                                </div>
                                    <div class="col-md-2">
                                    <p class="green text-white f-16"> G</p>
                                </div>
                          
                            </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-4 pl-10 pr-10">
                            
                            <div class="box active">
                                    <i class="material-icons done-icons"> done </i>
                                    <img src="https://s3-alpha-sig.figma.com/img/e832/9d0d/68ea718f7979effe27acabd01745b22d?Expires=1567987200&Signature=JseF4XqEPWx4xMwXhkyymZACJMlGHoU8HI0kNBdQCUjacyTReo-~NDcfwEhos4gLLZpl03n5SYYTAr~qsVgs2lIUDxbAwqEj4jGAh5gZEi72OMlS8R8XhPbMwOkbSuZrwLGV52aFMOlRD9uS8Ot8WyKx3NfwCoktTmDH1zOj5Nw6C7K9JnD4P7o1hLvye86YbENnls-876GLklch0MW0l6ck7xFBBm9h-a0gkPcf0HHtQsSCTqenL8pROCOfs1sKHwv5N6VVaODCCuIoUSqHmmXlpxT6-JY9xKKcXE-3ncITvJBVmOOjq0DlWhXM~AkNVNek2cP2Q3ANANrpwDGzGA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                                <div class="bg-grey lter text-left">
                                    <div class="row">
                                            <div class="col-md-10">
                                        
                                        <h3 class="f-18 p-0 mb-0 pt-12">Investment Management </h3>
                                        <p class="mb-0 pb-36">IMA124</p>
                                        
                                    </div>
                                        <div class="col-md-2">
                                        <p class="blue text-white f-16"> S</p>
                                    </div>
                              
                                </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-4 pl-10 pr-10">
                            
                                <div class="box">
                                        <img src="https://s3-alpha-sig.figma.com/img/e832/9d0d/68ea718f7979effe27acabd01745b22d?Expires=1567987200&Signature=JseF4XqEPWx4xMwXhkyymZACJMlGHoU8HI0kNBdQCUjacyTReo-~NDcfwEhos4gLLZpl03n5SYYTAr~qsVgs2lIUDxbAwqEj4jGAh5gZEi72OMlS8R8XhPbMwOkbSuZrwLGV52aFMOlRD9uS8Ot8WyKx3NfwCoktTmDH1zOj5Nw6C7K9JnD4P7o1hLvye86YbENnls-876GLklch0MW0l6ck7xFBBm9h-a0gkPcf0HHtQsSCTqenL8pROCOfs1sKHwv5N6VVaODCCuIoUSqHmmXlpxT6-JY9xKKcXE-3ncITvJBVmOOjq0DlWhXM~AkNVNek2cP2Q3ANANrpwDGzGA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                                    <div class="bg-grey lter text-left">
                                        <div class="row">
                                                <div class="col-md-10">
                                            
                                            <h3 class="f-18 p-0 mb-0 pt-12">Investment Management </h3>
                                            <p class="mb-0 pb-36">IMA124</p>
                                            
                                        </div>
                                            <div class="col-md-2">
                                            <p class="green text-white f-16"> G</p>
                                        </div>
                                  
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                </div>
            </div>
        </div>
</div>
<div *ngIf="componentFlag!='plansDocuments' && componentFlag!='clientDocuments' ">
    This is documents in services
</div>
<div *ngIf="componentFlag=='clientDocuments' && componentFlag!='plansDocuments'" >
    This is documents in clients
</div>