<div class="bg-white pb-36 mt-70" id="ui-invoice">
    <div class="wrapper-20">
        <div class="row">
            <div class="col-md-8 p-0">
                <h4 class="pt-8 mb-0">Documents</h4>
            </div>
            <div class="col-md-4 right text-right p-0">
                <i class="material-icons mr-12 icon-light v-sub c-p">
                    search
                </i>
                <button mat-stroked-button class="btn-default addon mr-12"><i class="material-icons">filter_list</i>FILTERS</button>
                <button mat-stroked-button class="btn-primary addon"><i class="material-icons">add</i>ADD NEW</button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" id="table-low" class="mt-8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Client name </th>
                <td mat-cell *matCellDef="let element" (click)="Open('viewDocuments','open',element)"  class="c-p"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="docname">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Document name </th>
                <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
            </ng-container>
            <ng-container matColumnDef="plan">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Plan name </th>
                <td mat-cell *matCellDef="let element"> {{element.planName}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="servicename">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Service name </th>
                <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="cdate">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Created date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate  | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="sdate">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Sent date </th>
                <td mat-cell *matCellDef="let element"> {{element.sentDate  | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="clientsign">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Client sign... </th>
                <td mat-cell *matCellDef="let element"> {{element.clientsign}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="f-18 pr-24"> Status </th>
                <td mat-cell *matCellDef="let element" class="greentext c-p"  (click)="Open('openEmailQuot','open',element)" > {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> </th>
                <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons c-p iconscolors" [matMenuTriggerFor]="menu">
                        more_vert
                        </i>
                        <mat-menu #menu="matMenu">
                                <a mat-menu-item  (click)="Open('viewDocuments','open',element)" >View document</a>
                                <a mat-menu-item (click)="deleteModal('DOCUMENT')">Delete document</a>
                              </mat-menu></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>