$white:#FFFFFF;
$black:#000000;
$muted:#98A9BC;
$light:#252631;
$primitive:#83959D;
$grey:#BCC6CA;
$grey-dker:#83959D;
$grey-dk:#A0AEB4;
$grey-bg:#BCC6CA;
$grey-lt:#D9DEE1;
$grey-lter:#F5F7F7;
$primary:#008FFF;
$primary-dker:#005699;
$primary-dk:#0072CC;
$primary-bg: #008FFF;
$primary-lt:#33A5FF;
$primary-lter:#66BCFF;
$info:#7B50FF;
$info-dker:#551DFF;
$info-dk:#6836FF;
$info-bg:#7B50FF;
$info-lt:#8E69FF;
$info-lter:#A183FF;
$success:#00B294;
$success-dker:#007F6A;
$success-dk:#00987F;
$success-bg:#00B294;
$success-lt:#00CBA9;
$success-lter:#00E5BE;
$warning:#FFC100;
$warning-dker:#CC9A00;
$warning-dk:#E6AE00;
$warning-bg:#FFC100;
$warning-lt:#FFC71A;
$warning-lter:#FFCD33;
$danger:#FF6823;
$danger-dker:#BC3B00;
$danger-dk:#EF4B00;
$danger-bg:#FF6823;
$danger-lt:#FF8B56;
$danger-lter:#FFAE89;
$text-header:#004164;
$text-header-dker:#002031;
$text-header-dk:#00304A;
$text-header-lt:#006297;
$text-header-bg:#006297;
$text-header-lter:#0083CA;
$light:#757575;
body {
    font-family: 'Roboto', sans-serif;
}
.bg-custom {
    background: $light !important;
}

.text-custom {
    color: $light !important;
}

.bg-grey {
    background-color: $grey !important;
}

.bg-grey.dker {
    background-color: $grey-dker !important;
}

.bg-grey.dk {
    background-color: $grey-dk !important;
}

.bg-grey.bg {
    background-color: $grey-bg !important;
}

.bg-grey.lt {
    background-color: $grey-lt !important
}

.bg-grey.lter {
    background-color: $grey-lter !important;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-primary.dker {
    background-color: $primary-dker !important;
}

.bg-primary.dk {
    background-color: $primary-dk !important;
}

.bg-primary.bg {
    background-color: $primary-bg !important;
}

.bg-primary.lt {
    background-color: $primary-lt !important;
}

.bg-primary.lter {
    background-color: $primary-lter !important;
}

.bg-info {
    background-color: $info !important;
}

.bg-info.dker {
    background-color: $info-dker !important;
}

.bg-info.dk {
    background-color: $info-dk !important;
}

.bg-info.bg {
    background-color: $info-bg !important;
}

.bg-info.lt {
    background-color: $info-lt !important;
}

.bg-info.lter {
    background-color: $info-lter !important;
}

.bg-success {
    background-color: $success !important;
}

.bg-success.dker {
    background-color: $success-dker !important;
}

.bg-success.dk {
    background-color: $success-dk !important;
}

.bg-success.bg {
    background-color: $success-bg !important;
}

.bg-success.lt {
    background-color: $success-lt !important;
}

.bg-success.lter {
    background-color: $success-lter !important;
}

.bg-warning {
    background-color: $warning !important;
}

.bg-warning.dker {
    background-color: $warning-dker !important;
}

.bg-warning.dk {
    background-color: $warning-dk !important;
}

.bg-warning.bg {
    background-color: $warning-bg !important;
}

.bg-warning.lt {
    background-color: $warning-lt !important;
}

.bg-warning.lter {
    background-color: $warning-lter !important;
}

.bg-danger {
    background-color: $danger !important;
}

.bg-danger.dker {
    background-color: $danger-dker !important;
}

.bg-danger.dk {
    background-color: $danger-dk !important;
}

.bg-danger.bg {
    background-color: $danger-bg !important;
}

.bg-danger.lt {
    background-color: $danger-lt !important;
}

.bg-danger.lter {
    background-color: $danger-lter !important;
}

.bg-header {
    background-color: $text-header !important;
}

.bg-header.dker {
    background-color: $text-header-dker !important;
}

.bg-header.dk {
    background-color: $text-header-dk !important;
}

.bg-header.bg {
    background-color: $text-header-bg !important;
}

.bg-header.lt {
    background-color: $text-header-lt !important;
}

.bg-header.lter {
    background-color: $text-header-lter !important;
}
.bg-dark{
    background-color: #1F1F1F !important;
}
.text-black{
    color: $black !important;
}
.text-primary {
    color: $primary !important;
}

.text-success {
    color: $success !important;
}

.text-info {
    color: $info !important;
}

.text-warning {
    color: $warning !important;
}

.text-primary {
    color: $primary !important;
}

.text-danger {
    color: $danger !important;
}

.text-grey {
    color: $grey !important;
}

.text-header {
    color: $text-header !important;
}

.text-muted {
    font-size: $textlg - 16 !important;
    color: $muted !important;
    font-weight: $normal !important;
}

.text-light {
    font-size: $textlg - 16 !important;
    color: #1B1E24 !important;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.text-link {
    font-size: $textlg - 16 !important;
    color: $pracolor !important;
    line-height: 16px !important;
    font-weight: $font300 + 200 !important;
}
.text-primitive{
    color: $primitive !important;
}
button {
    padding: 6px 12px;
    text-align: center;
    outline: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    // border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    white-space: nowrap;
    vertical-align: middle;
    height: 36px;
}

button.btn-lg {
    padding: 10px 16px !important;
    font-size: 18px !important;
    border-radius: 6px !important;
}

button.btn-sm {
    padding: 0px 8px !important;
    font-size: 12px !important;
    border-radius: 3px;
}

button.btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: .9 !important;
    border-radius: 3px;
    min-width: 40px;
}

button.btn-rounded {
    border-radius: 26px !important;
}

.addon {
    font-size: 14px !important;
    text-align: center !important;
    color: #757575 !important;
    border-radius: 0px !important;
    position:absolute;
    cursor: pointer;
    .material-icons {
        position: relative;
        float: left;
        width: 36px;
        height: 36px;
        margin: 0px 0px 0px -15px;
        line-height: 32px;
        
    }
}

button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-success {
    background-color: $success !important;
    color: $white !important;
    border-color: $success !important;
}

.btn-danger {
    background-color: $danger !important;
    color: $black !important;
    border-color: $danger !important;
}

.btn-primary {
    color: $white !important;
    border-color: $primary !important;
    background-color: $primary !important;
}

.bg-white {
    background-color: $white !important;
}

.text-white {
    color: $white !important;
}

.btn-info {
    color: $white !important;
    border-color: $info !important;
    background-color: $info !important;
}

.btn-warning {
    color: $black !important;
    border-color: $warning !important;
    background-color: $warning !important;
}

.btn-primitive {
    color: $white !important;
    border-color: $primitive !important;
    background-color: $primitive !important;
}

.btn-grey {
    color: $white !important;
    border-color: $grey !important;
    background-color: $grey !important;
}

.btn-header {
    color: $white !important;
    border-color: $text-header-bg !important;
    background-color: $text-header !important;
}
.btn-bottom{
    background: #02B875 !important;
    border-color: #02B875 !important;
    color: #fff !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus,
.btn-danger.focus,
.btn-danger:focus,
.btn-primary.focus,
.btn-primary:focus,
.btn-success.focus,
.btn-success:focus .btn-info.focus,
.btn-info:focus .btn-warning.focus,
.btn-warning:focus,
.btn-success.focus,
.btn-success:focus,
.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 0 0 0em !important;
}

.icon-light{
    color: $light;
}
.text-light{
    color: #757575 !important;
}

button:focus {
    outline: none;
}
