body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-roboto;
    font-weight: $normal;
    letter-spacing: 0.2px;
}

h1 {
    font-size: $textlg;
    line-height: 35px;
}

h2 {
    font-size: $textlg - 4;
    line-height: 30px;
}

h3 {
    font-size: $textlg - 10;
    line-height: 23px;
}

h4 {
    font-size: $textlg - 12;
    line-height: 21px;
}

h5 {
    font-size: $textlg - 14;
    line-height: 19px;
}

p {
    font-size: $textlg - 16;
    color: $pracolor;
    line-height: 16px;
    font-weight: $normal;
    letter-spacing: 0.2px;
    font-family: "proxima-nova", sans-serif;

}

.width-230 {
    width: 230px;
    height: 100vh;
}

.font-400 {
    font-weight: 400;
}

.width-50,
.h-50 {
    width: $half;
}

.width-100,
.h-100 {
    width: $full;
}

.height-full {
    height: 100vh;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.161) !important;
}

.h-auto,
.w-auto {
    height: $auto;
}

// padding & margin
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    text-transform: capitalize;
}

.b-r {
    border-right: 1px solid #ddd;
}

.right-fixed {
    position: fixed;
    right: 0;
}

.left-fixed {
    position: fixed;
    left: 0;
}

.right {
    float: right !important;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
    // box-shadow: inset -5px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.mat-header-cell {
    color: rgba(0, 0, 0, .54);
    text-transform: capitalize;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.sub-header-fix {
    // position: fixed;
    top: 64px;
    width: 100%;
    z-index: 97;
    height: 64px;
    right: 0;
    
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
}
.second-fixed{
    position: fixed;
  
    width: 100% !important;
    z-index: 2;
    right: 1%;
    background: #fff;
    
    
}
.wrapperauto {
    width: 100% !important;
    float: left;
}

.row {
    margin: 0 !important;
}
.mt-65 {
    margin-top: 65px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-150{
    margin-top: 150px;
}
.mat-drawer-content {
    overflow: auto !important;
    overflow-x: hidden !important;
    background-color: #fff !important;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    font-weight: normal;
}
.width-230 {
    width: 230px !important;
}

.width-60 {
    width: 60px !important;
}

.loader {
    margin: 0 auto;
    top: 50%;
    position: fixed !important;
    left: 50%;
    display: block !important;
    z-index: 9999;
    width: 130px;
}
button:focus {
    outline: none;
}

.mat-tab-label {
    height: 64px !important;
}



::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    background: #CACFD2;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #CACFD2;
}

#aumtabs .mat-tab-label,
#aumtabs1 .mat-tab-label {
    min-width: 120px;
    height: 40px !important;
}

.bb-dotted {
    border-bottom: 2px dotted #dee5e7 !important;
}

.b-b {
    border-bottom: 1px solid #dee5e7 !important;
}
.b-t{
    border-top:1px solid #dee5e7 !important;
}
#uifolios .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .6em 0 1em 0 !important;
}
.bd-1{
    border:2px dotted rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0px !important;
}
.br-1 {
    border-radius: 1px !important;
}
.bt-1{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
} 
.bb-1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.br-0{
    border-radius: 0px !important;
}
.v-sub{
    vertical-align: sub;
}
