body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-roboto;
    font-weight: $normal;
    letter-spacing: 0.2px;
}
label{
    margin: 0 !important;
}
h1 {
    font-size: $textlg;
    line-height: 35px;
}

h2 {
    font-size: $textlg - 4;
    line-height: 30px;
}

h3 {
    font-size: $textlg - 10;
    line-height: 23px;
}

h4 {
    font-size: $textlg - 12;
    line-height: 21px;
}

h5 {
    font-size: $textlg - 14;
    line-height: 19px;
}

p {
    font-size: $textlg - 16;
    color: $pracolor;
    line-height: 16px;
    font-weight: $normal;
    letter-spacing: 0.2px;
    font-family: "proxima-nova", sans-serif;

}
a,a:hover{
    text-decoration: none !important;
}
.width-230 {
    width: 230px;
    height: 100vh;
}

.font-400 {
    font-weight: 400;
}
.center-item{
    display: block;
    margin: 0 auto;
}
.width-50,
.h-50 {
    width: $half;
}

.width-100,
.h-100 {
    width: $full;
}

.height-full {
    height: 100vh;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.161) !important;
}

.h-auto {
    height: $auto;
}
.roboto{
    font-family: 'Roboto', sans-serif !important;
}
// padding & margin
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    text-transform: capitalize;
}

.b-r {
    border-right: 1px solid #ddd;
}

.right-fixed {
    position: fixed;
    right: 0;
}

.left-fixed {
    position: fixed;
    left: 0;
}

.right {
    float: right !important;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}
.mat-header-cell {
    color: rgba(0, 0, 0, .54);
    text-transform: capitalize;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.sub-header-fix {
    top: 64px;
    width: 100%;
    z-index: 97;
    height: 64px;
    right: 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
}
.second-fixed{
    position: fixed;
    width: 100% !important;
    z-index: 2;
    right: 1%;
    background: #fff;
    
    
}
.popup-header-fix-50{
    position: fixed;
    width: 50%;
    z-index: 10;
    background: #fff !important;
}
.popup-header-fix-60{
    position: fixed;
    width: 60%;
    z-index: 10;
    background: #fff !important;
}
.popup-header-fix-100{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff !important;
}
.popup-header-fix-tabs{
    .mat-tab-header{
    position: fixed;
    margin-top: 61px;
    float: right;
    width: 100%;
    padding-right: 15px;
    right: 0;
    z-index: 10;
    background: #fff !important;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
    border-bottom: 0px !important; 
    }
    .heading-fix{
        position: fixed;
    margin-top: 125px;
    float: right;
    width: 100%;
    // padding-right: 15px;
  
    z-index: 1;
  
    }
}
.wrapperauto {
    width: 100% !important;
    float: left;
}

.row {
    margin: 0 !important;
}

.mat-drawer-content {
    overflow: auto !important;
    overflow-x: hidden !important;
    background-color: #fff !important;
}
.m-n0{
    min-width: 0px !important;
}
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    font-weight: normal;
}
.width-230 {
    width: 230px !important;
}

.width-60 {
    width: 60px !important;
}

.loader {
    margin: 0 auto;
    top: 50%;
    position: fixed !important;
    left: 50%;
    display: block !important;
    z-index: 9999;
    width: 130px;
}
button:focus {
    outline: none;
}

.mat-tab-label {
    height: 64px !important;
}
::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    background: #CACFD2;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #CACFD2;
}

#aumtabs .mat-tab-label,
#aumtabs1 .mat-tab-label {
    min-width: 120px;
    height: 40px !important;
}

.bb-dotted {
    border-bottom: 2px dotted #dee5e7 !important;
}

.b-b {
    border-bottom: 1px solid #dee5e7 !important;
}
.b-t{
    border-top:1px solid #dee5e7 !important;
}
#uifolios .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .6em 0 1em 0 !important;
}
.bd-1{
    border:2px dotted rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0px !important;
}
.br-1 {
    border-radius: 1px !important;
}
.bt-1{
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
} 
.bb-1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.bb{
    border-bottom: 1px solid #DADCE0;
}
.br-0{
    border-radius: 0px !important;
}
.border-right-1{
    border-right: 1px solid #ddd;   
   }
.v-sub{
    vertical-align: sub;
}
.v-middle{
    vertical-align: middle !important;
}
.l-22{
    line-height: 22px;
}
.l-20{
    line-height: 20px;
}
.bottom-fixed-50 {
    overflow: hidden;
    background-color: #757575;
    position: fixed;
    bottom: 0;
    width: 50%;
  }
.bottom-fixed {
    overflow: hidden;
    background-color: #757575;
    position: fixed;
    bottom: 0;
    width: 60%;
  }
  .text-inherit{
      text-transform: inherit !important;
  }
.custom-checkbox{
    float: right;
    text-align: right;
   
    
    .mat-checkbox-inner-container{
        height: 20px;
        width: 20px;
    //     margin-top: -1px;
    // position: relative;
        
    }
    .mat-checkbox-frame{
        border-width: 0px !important;
    }
   
}
.ba-green,.ba-blue{
    border: 3px solid #008FFF !important;
}
.mat-radio-button{
    min-width: 152px;
}

.head-common{
    font-family: "Playfair Display";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.2px;
color: #3F3F3F;
}
.b-0{
    border:0px !important;
}
.l-o{
    line-height: 0 !important;
}
.min-39{
    min-height: 39px;
}
.min-38{
    min-height: 38px;
}
.min-138{
    min-width: 138px !important;
}
.b-a-custom{
    border:1px solid #008FFF !important;
}
.ba-t{
    border:1px solid transparent !important;
}
.form-control:focus{
    box-shadow: none !important;
    border-color: #ced4da !important;
}
#ui-stepper{
    .mat-horizontal-stepper-header .mat-step-icon{
        margin-right: 0 !important;
    }
    .mat-step-label{
        min-width: auto;
        color: #BCC6CA !important;
        padding-top: 12px !important;
    }
   
    .mat-stepper-horizontal-line{
        margin: 0 -80px;
    }
    .mat-step-header .mat-step-icon-selected{
        background-color:#008FFF !important; 
        color: #fff !important;
    }
    .mat-step-header .mat-step-icon{
        background-color: #F5F7F7;
        
    }
    .mat-step-icon{
        height: 49px;
        width: 49px;
        color: #000000;
        position: relative;
        left: 15%;
        top: 13%;
    }
    .mat-horizontal-content-container{
        padding: 0;
    }
    .mat-horizontal-stepper-header-container{
        width: 80%;
        margin: 0 auto;
        padding-top: 18px;
    }
    .mat-step-header{
        display: block !important;
        height: 80px;
    }
    .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover{
        background-color: transparent !important;
    }
}
.mat-dialog-container{
    padding: 0 !important;
}
 #ui-silder {
    .mat-radio-button{
        min-width: auto !important;
    }
    .mat-radio-outer-circle{
    border-width: 0px !important;
    border-style: none !important;
    border-radius: 0% !important;
    }
    img{
        max-width: 70%;
        margin: 0 auto;
        display: block;
    }
 }
 .button-fix{
    right: 0;
    position: fixed;
    text-align: right;
    margin-right: 30px;
    z-index: 2;
    // margin-top: 26px;
}
.v-h{
    visibility: hidden !important;
  }
  .label{
    background: #004164;
    border-radius: 4px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}