.right-fixed {
    position: fixed;
    right: 0;
}

.left-fixed {
    position: fixed;
    left: 0;
}

.sub-header-fix {
    top: 64px;
    width: 100%;
    z-index: 97;
    height: 64px;
    right: 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
}
.second-fixed{
    position: fixed;
    width: 100% !important;
    z-index: 2;
    right: 1%;
    background: #fff;


}
.popup-header-fix-50{
    position: fixed;
    width: 50%;
    z-index: 10;
    background: #fff !important;
}
.popup-header-fix-60{
    position: fixed;
    width: 60%;
    z-index: 10;
    background: #fff !important;
    // h4{
    //     line-height: 23px !important;
    // }
}
.popup-header-fix-100{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff !important;
}
.popup-header-fix-tabs{
    .mat-tab-header{
    position: fixed;
    margin-top: 61px;
    float: right;
    width: 100%;
    padding-right: 15px;
    right: 0;
    z-index: 10;
    background: #fff !important;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
    border-bottom: 0px !important;
    }
    .heading-fix{
        position: fixed;
    margin-top: 125px;
    float: right;
    width: 100%;
    // padding-right: 15px;

    z-index: 999;

    }
}
.bottom-fixed-50 {
    overflow: hidden;
    background-color: #757575;
    position: fixed;
    bottom: 0;
    width: 50%;
  }
.bottom-fixed {
    overflow: hidden;
    background-color: #757575;
    position: fixed;
    bottom: 0;
    width: 60%;
    z-index: 9;
  }
  .button-fix{
    right: 0;
    position: fixed;
    text-align: right;
    margin-right: 30px;
    z-index: 2;
    // margin-top: 26px;
}
.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 10000;
    background: white;
}