.mat-form-field {
    font-size: 14px !important;
    height: 43px !important;
    font-weight: 500;
}

.m-t-md button {
    font-size: 12px;
}

.m-t-md button:focus {
    outline: none;
}

.mat-form-field-outline {
    top: 20% !important;
    bottom: 10% !important;
}