.mat-form-field {
    font-size: 14px !important;
    height: 43px !important;
    font-weight: 500;
}

.m-t-md button {
    font-size: 12px;
}

.m-t-md button:focus {
    outline: none;
}

.mat-form-field-outline {
    top: 20% !important;
    bottom: 10% !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.ui-mff .form-control{
    border: 0px !important;
}
.form-control:focus{
    box-shadow: none !important;
    border-color: #ced4da !important;
}
// .form-group{
//     margin-bottom: 0 !important;
// }