.width-230 {
    width: 230px;
    height: 100vh;
}
.h-39{
    height: 39px !important;
}
.width-50, .w-50 {
    width: $half;
}
.width-100, .w-100 {
    width: $full;
}
.h-auto {
    height: $auto;
}
.m-n0{
    min-width: 0px !important;
}
.width-230 {
    width: 230px !important;
}
.width-60 {
    width: 60px !important;
}
.min-39{
    min-height: 39px;
}
.min-38{
    min-height: 38px;
}
.min-138{
    min-width: 138px !important;
}
.max-height-400px {
    max-height: 400px;
}

.t-1,.w-1 {
    width: 1%;
  }
  
  .t-2,.w-2 {
    width: 2%;
  }
  
  .t-3,.w-3 {
    width: 3%;
  }
  
  .t-4,.w-4 {
    width: 4%;
  }
  
  .t-5,.w-5 {
    width: 5%;
  }
  
  .t-6,.w-6 {
    width: 6%;
  }
  
  .t-7,.w-7 {
    width: 7%;
  }
  
  .t-8,.w-8 {
    width: 8%;
  }
  
  .t-9,.w-9 {
    width: 9%;
  }
  
  .t-10,.w-10 {
    width: 10%;
  }
  
  .t-11,.w-11 {
    width: 11%;
  }
  
  .t-12,.w-12 {
    width: 12%;
  }
  .t-13,.w-13 {
    width: 13%;
  }
  .t-14,.w-14 {
    width: 14%;
  }
  
  .t-15,.w-15 {
    width: 15%;
  }
  
  .t-16,.w-16 {
    width: 16%;
  }
  
  
  .t-17,.w-17 {
    width: 17%;
  }
  
  .t-18,.w-18 {
    width: 18%;
  }
  
  .t-19,.w-19 {
    width: 19%;
  }
  
  .t-20,.w-20 {
    width: 20%;
  }
  
  .t-21,.w-21 {
    width: 21%;
  }
  
  .t-22,.w-22 {
    width: 22%;
  }
  .t-23,.w-23 {
    width: 23%;
  }
  
  .t-24,.w-24 {
    width: 24%;
  }
  
  .t-25,.w-25 {
    width: 25%;
  }
  
  .t-26,.w-26 {
    width: 26%;
  }
  
  .t-27,.w-27 {
    width: 27%;
  }
  
  .t-28,.w-28 {
    width: 28%;
  }
  
  .t-29,.w-29 {
    width: 29%;
  }
  
  .t-30,.w-30 {
    width: 30%;
  }
  
  .t-31,.w-31 {
    width: 31%;
  }
  
  .t-32,.w-32 {
    width: 32%;
  }
  
  .t-33,.w-33 {
    width: 33%;
  }
  
  .t-34,.w-34 {
    width: 34%;
  }
  
  .t-35,.w-35 {
    width: 35%;
  }
  
  .t-36,.w-36 {
    width: 36%;
  }
  
  .t-37,.w-37 {
    width: 37%;
  }
  
  .t-38,.w-38 {
    width: 38%;
  }
  
  .t-39,.w-39 {
    width: 39%;
  }
  
  .t-40,.w-40 {
    width: 40%;
  }
  
  .t-41,.w-41 {
    width: 41%;
  }
  
  .t-42,.w-42 {
    width: 42%;
  }
  
  .t-43,.w-43 {
    width: 43%;
  }
  
  .t-44,.w-44 {
    width: 44%;
  }
  
  .t-45,.w-45 {
    width: 45%;
  }
  
  .t-46,.w-46 {
    width: 46%;
  }
  
  .t-47,.w-47 {
    width: 47%;
  }
  
  .t-48,.w-48 {
    width: 48%;
  }
  
  .t-49,.w-49 {
    width: 49%;
  }
  
  .t-50,.w-50 {
    width: 50%;
  }
  
  .t-51,.w-51 {
    width: 51%;
  }
  
  .t-52,.w-52 {
    width: 52%;
  }
  
  .t-53,.w-53 {
    width: 53%;
  }
  
  .t-54,.w-54 {
    width: 54%;
  }
  
  .t-55,.w-55 {
    width: 55%;
  }
  
  .t-56,.w-56 {
    width: 56%;
  }
  
  .t-57,.w-57 {
    width: 57%;
  }
  
  .t-58,.w-58 {
    width: 58%;
  }
  
  .t-59,.w-59 {
    width: 59%;
  }
  
  .t-60,.w-60 {
    width: 60%;
  }
  
  .t-61,.w-61 {
    width: 61%;
  }
  
  .t-62,.w-62 {
    width: 62%;
  }
  
  .t-63,.w-63 {
    width: 63%;
  }
  
  .t-64,.w-64 {
    width: 64%;
  }
  
  .t-65,.w-65 {
    width: 65%;
  }
  
  .t-66,.w-66 {
    width: 66%;
  }
  
  .t-67,.w-67 {
    width: 67%;
  }
  
  .t-68,.w-68{
    width: 68%;
  }
  
  .t-69,.w-69 {
    width: 69%;
  }
  
  .t-70,.w-70 {
    width: 70%;
  }
  
  .t-71,.w-71 {
    width: 71%;
  }
  
  .t-72,.w-72 {
    width: 72%;
  }
  
  .t-73,.w-73 {
    width: 73%;
  }
  
  .t-74,.w-74 {
    width: 74%;
  }
  
  .t-75,.w-75 {
    width: 75%;
  }
  
  .t-76,.w-76 {
    width: 76%;
  }
  
  .t-77,.w-77 {
    width: 77%;
  }
  
  .t-78,.w-78 {
    width: 78%;
  }
  
  .t-79,.w-79 {
    width: 79%;
  }
  
  .t-80,.w-80 {
    width: 80%;
  }
  
  .t-81,.w-81 {
    width: 81%;
  }
  
  .t-82,.w-82 {
    width: 82%;
  }
  
  .t-83,.w-83 {
    width: 83%;
  }
  
  .t-84,.w-84 {
    width: 84%;
  }
  
  .t-85,.w-85 {
    width: 85%;
  }
  
  .t-86,.w-86 {
    width: 86%;
  }
  
  .t-87,.w-87 {
    width: 87%;
  }
  
  .t-88,.w-88 {
    width: 88%;
  }
  
  .t-89,.w-89 {
    width: 89%;
  }
  
  .t-90,.w-90 {
    width: 90%;
  }
  
  .t-91,.w-91 {
    width: 91%;
  }
  
  .t-92,.w-92 {
    width: 92%;
  }
  
  .t-93,.w-93 {
    width: 93%;
  }
  
  .t-94,.w-94 {
    width: 94%;
  }
  
  .t-95,.w-95 {
    width: 95%;
  }
  
  .t-96,.w-96 {
    width: 96%;
  }
  
  .t-97,.w-97 {
    width: 97%;
  }
  
  .t-98,.w-98 {
    width: 98%;
  }
  
  .t-99,.w-99 {
    width: 99%;
  }
  