// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     margin: $zeropx !important;
// }
@import url('https://fonts.adobe.com/fonts/proxima-nova');
$smallfont:10px;
$lineheight:20px;
.l-21 {
    line-height: 21px !important;
}

.f-8 {
    font-size: $smallfont - 2 !important;
}

.f-10 {
    font-size: $smallfont !important;
}

.f-11 {
    font-size: $smallfont+1 !important;
}

.f-12 {
    font-size: $smallfont+2 !important;
}

.f-13 {
    font-size: $smallfont+3 !important;
}

.f-14 {
    font-size: $smallfont+4 !important;
}
.f-15{
    font-size: 15px !important;
}
.f-16 {
    font-size: $smallfont+6 !important;
}

.f-18 {
    font-size: $smallfont+8 !important;
}

.f-20 {
    font-size: $smallfont*2 !important;
}

.f-22 {
    font-size: $smallfont+12 !important;
}

.f-24 {
    font-size: $smallfont*2 + 4 !important;
}

.f-26 {
    font-size: $smallfont+16 !important;
}

.f-28 {
    font-size: $smallfont+18 !important;
}

.f-30 {
    font-size: $smallfont*3 !important;
}

.f-32 {
    font-size: $smallfont*3+2 !important;
}

.f-34 {
    font-size: $smallfont*3+4 !important;
}

.f-36 {
    font-size: $smallfont*3+6 !important;
}

.f-38 {
    font-size: $smallfont+28 !important;
}

.f-40 {
    font-size: $smallfont*4 !important;
}

.f-42 {
    font-size: 42px !important;
}

.f-44 {
    font-size: 44px !important;
}

.f-300 {
    font-weight: $font300 !important;
}

.f-400 {
    font-weight: $font300+100 !important;
}

.f-500 {
    font-weight: $font300+200 !important;
}

.f-600 {
    font-weight: $font300*2 !important;
}

.f-700 {
    font-weight: $font300+400 !important;
}

.f-900 {
    font-weight: $font300*3 !important;
}

.f-normal {
    font-weight: $normal !important;
}

.f-bold {
    font-weight: $bold !important;
}

.f-bolder {
    font-weight: $bolder !important;
}

.t-center {
    text-align: $center !important;
}

.t-right {
    text-align: $right !important;
}

.t-left {
    text-align: $left !important;
}

.t-u {
    text-transform: uppercase !important;
}

.t-c {
    text-transform: capitalize !important;
}

.t-l {
    text-transform: lowercase !important;
}

.t-justify {
    text-align: justify !important;
}

.t-justify-all {
    text-align: justify-all !important;
}

.t-initial {
    text-align: $initial !important;
}

.t-inherit {
    text-align: $inherit !important;
}

.f-left {
    float: $left !important;
}

.f-right {
    float: $right !important;
}

.f-none {
    float: $none!important;
}

.t-mute {
    color: $light !important;
}

.t-muted {
    color: $muted !important;
}

.t-success {
    color: $green !important;
}

.t-danger {
    color: $red !important;
}

.t-white {
    color: $white!important;
}

.t-dark {
    color: $dark !important;
}

.t-warn {
    color: $yellow !important;
}

.t-gray {
    color: $gray !important;
}

.t-blue {
    color: $blue !important;
}

.t-lighter {
    color: $lighter !important;
}

.b-mute {
    background-color: $light !important;
}

.b-muted {
    background: $muted !important;
}

.b-success {
    background-color: $green !important;
}

.b-danger {
    background-color: $red !important;
}

.b-white {
    background-color: $white !important;
}

.b-dark {
    background-color: $dark !important;
}

.b-warn {
    background-color: $yellow !important;
}

.b-gray {
    background-color: $gray !important;
}

.b-lighter {
    background-color: $lighter !important;
}

.b-blue {
    background-color: $blue !important;
}

.no-padder,
.p-none,
.p-n,.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: 2px !important;
}

.p-4,
.wrapper-4 {
    padding: $p4 !important;
}

.p-8,
.wrapper-8 {
    padding: $p4*2 !important;
}
.wrapper-9,.p-9{
    padding: 9px !important;
}
.p-12,
.wrapper-12 {
    padding: $p4*3 !important;
}

.p-16,
.wrapper-16 {
    padding: $p4*4 !important;
}

.p-20,
.wrapper-20 {
    padding: $p4*5 !important;
}

.p-24,
.wrapper-24 {
    padding: $p4*6 !important;
}

.p-28,
.wrapper-28 {
    padding: $p4*7 !important;
}

.p-32,
.wrapper-32 {
    padding: $p4*8 !important;
}

.p-36,
.wrapper-36 {
    padding: $p4*9 !important;
}

.p-40,
.wrapper-40 {
    padding: $p4*10 !important;
}

.p-44,
.wrapper-44 {
    padding: $p4*11 !important;
}

.p-48,
.wrapper-48 {
    padding: $p4*12 !important;
}

.pt-0 {
    padding-top: $zeropx !important;
}
.pt-1{
    padding-top: 1px !important;
}
.pt-2{
    padding-top: $p4 - 2 !important;
}
.pt-4 {
    padding-top: $p4 !important;
}
.pt-6{
    padding-top: $p4 +2 !important;
}
.pt-8 {
    padding-top: $p4*2 !important;
}
.pt-10{
    padding-top: 10px !important;
}
.pt-12 {
    padding-top: $p4*3 !important;
}

.pt-16 {
    padding-top: $p4*4 !important;
}

.pt-20 {
    padding-top: $p4*5 !important;
}

.pt-24 {
    padding-top: $p4*6 !important;
}

.pt-28 {
    padding-top: $p4*7 !important;
}

.pt-32 {
    padding-top: $p4*8 !important;
}

.pt-36 {
    padding-top: $p4*9 !important;
}

.pt-40 {
    padding-top: $p4*10 !important;
}

.pt-44 {
    padding-top: $p4*11 !important;
}

.pt-48 {
    padding-top: $p4*12 !important;
}
.pt-60{
    padding-top: 60px !important;
}
.pt-72{
    padding-top: 72px !important;
}
.pt-100{
    padding-top: 100px !important;
}
.pt-120{
    padding-top: 120px !important;
}
.pt-125{
    padding-top: 125px !important;
}
.pt-130{
    padding-top: 130px !important;
}
.pt-150{
    padding-top: 150px !important;
}
.pt-170{
    padding-top: 170px !important;
}
.pt-180{
    padding-top: 180px !important;
}
.pr-0 {
    padding-right: $zeropx !important;
}

.pr-4 {
    padding-right: $p4 !important;
}

.pr-8 {
    padding-right: $p4*2 !important;
}

.pr-12 {
    padding-right: $p4*3 !important;
}

.pr-16 {
    padding-right: $p4*4 !important;
}

.pr-20 {
    padding-right: $p4*5 !important;
}

.pr-24 {
    padding-right: $p4*6 !important;
}

.pr-28 {
    padding-right: $p4*7 !important;
}

.pr-32 {
    padding-right: $p4*8 !important;
}

.pr-36 {
    padding-right: $p4*9 !important;
}

.pr-40 {
    padding-right: $p4*10 !important;
}

.pr-44 {
    padding-right: $p4*11 !important;
}

.pr-48 {
    padding-right: $p4*12 !important;
}
.pr-52 {
    padding-right: 52px !important;
}
.pr-76{
    padding-right: 76px !important;
}
.pb-0 {
    padding-bottom: $zeropx !important;
}

.pb-4 {
    padding-bottom: $p4 !important;
}

.pb-8 {
    padding-bottom: $p4*2 !important;
}

.pb-12 {
    padding-bottom: $p4*3 !important;
}

.pb-16 {
    padding-bottom: $p4*4 !important;
}

.pb-20 {
    padding-bottom: $p4*5 !important;
}

.pb-24 {
    padding-bottom: $p4*6 !important;
}

.pb-28 {
    padding-bottom: $p4*7 !important;
}

.pb-32 {
    padding-bottom: $p4*8 !important;
}

.pb-36 {
    padding-bottom: $p4*9 !important;
}

.pb-40 {
    padding-bottom: $p4*10 !important;
}

.pb-44 {
    padding-bottom: $p4*11 !important;
}

.pb-48 {
    padding-bottom: $p4*12 !important;
}

.pl-0 {
    padding-left: $zeropx !important;
}

.pl-4 {
    padding-left: $p4 !important;
}

.pl-8 {
    padding-left: $p4*2 !important;
}

.pl-12 {
    padding-left: $p4*3 !important;
}

.pl-16 {
    padding-left: $p4*4 !important;
}

.pl-20 {
    padding-left: $p4*5 !important;
}

.pl-24 {
    padding-left: $p4*6 !important;
}

.pl-28 {
    padding-left: $p4*7 !important;
}

.pl-32 {
    padding-left: $p4*8 !important;
}

.pl-36 {
    padding-left: $p4*9 !important;
}

.pl-40 {
    padding-left: $p4*10 !important;
}

.pl-44 {
    padding-left: $p4*11 !important;
}

.pl-48 {
    padding-left: $p4*12 !important;
}
.pl-120{
    padding-left: 120px !important
}
.wrapper-100{
    padding: 100px;
}
// margin
.m-auto{
    margin: auto !important;
}
.no-margin,
.m-none,
.m-n {
    margin: 0 !important;
}

.m-4,
.margin-4 {
    margin: $p4 !important;
}

.m-8,
.margin-8 {
    margin: $p4*2 !important;
}

.m-12,
.margin-12 {
    margin: $p4+10 !important;
}

.m-16,
.margin-16 {
    margin: $p4*4 !important;
}

.m-20,
.margin-20 {
    margin: $p4*5 !important;
}

.m-24,
.margin-24 {
    margin: $p4*6 !important;
}

.m-28,
.margin-28 {
    margin: $p4*7 !important;
}

.m-32,
.margin-32 {
    margin: $p4*8 !important;
}

.m-36,
.margin-36 {
    margin: $p4*9 !important;
}

.m-40,
.margin-40 {
    margin: $p4*10 !important;
}

.m-44,
.margin-44 {
    margin: $p4*11 !important;
}

.m-48,
.margin-48 {
    margin: $p4*12 !important;
}

.mt-0 {
    margin-top: $zeropx !important;
}
.mt-2 {
    margin-top: $p4 - 2 !important;
}

.mt-4 {
    margin-top: $p4 !important;
}

.mt-8 {
    margin-top: $p4*2 !important;
}

.mt-12 {
    margin-top: $p4*3 !important;
}

.mt-16 {
    margin-top: $p4*4 !important;
}

.mt-20 {
    margin-top: $p4*5 !important;
}

.mt-24 {
    margin-top: $p4*6 !important;
}

.mt-28 {
    margin-top: $p4*7 !important;
}

.mt-32 {
    margin-top: $p4*8 !important;
}

.mt-36 {
    margin-top: $p4*9 !important;
}

.mt-40 {
    margin-top: $p4*10 !important;
}

.mt-44 {
    margin-top: $p4*11 !important;
}
.mt-65 {
    margin-top: 65px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-150{
    margin-top: 150px;
}
.mt-46 {
    margin-top: $p4*12 !important;
}

.mr-0 {
    margin-right: $zeropx !important;
}

.mr-4 {
    margin-right: $p4 !important;
}

.mr-8 {
    margin-right: $p4*2 !important;
}

.mr-12 {
    margin-right: $p4*3 !important;
}

.mr-16 {
    margin-right: $p4*4 !important;
}

.mr-20 {
    margin-right: $p4*5 !important;
}

.mr-24 {
    margin-right: $p4*6 !important;
}

.mr-28 {
    margin-right: $p4*7 !important;
}

.mr-32 {
    margin-right: $p4*8 !important;
}

.mr-36 {
    margin-right: $p4*9 !important;
}

.mr-40 {
    margin-right: $p4*10 !important;
}

.mr-44 {
    margin-right: $p4*11 !important;
}

.mr-48 {
    margin-right: $p4*12 !important;
}

.mb-0 {
    margin-bottom: $zeropx !important;
}
.mb-1{
    margin-bottom: 1px !important;
}
.mb-2{
    margin-bottom: 2px !important;
}
.mb-4 {
    margin-bottom: $p4 !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-8 {
    margin-bottom: $p4*2 !important;
}

.mb-12 {
    margin-bottom: $p4*3 !important;
}

.mb-16 {
    margin-bottom: $p4*4 !important;
}

.mb-20 {
    margin-bottom: $p4*5 !important;
}

.mb-24 {
    margin-bottom: $p4*6 !important;
}

.mb-28 {
    margin-bottom: $p4*7 !important;
}

.mb-32 {
    margin-bottom: $p4*8 !important;
}

.mb-36 {
    margin-bottom: $p4*9 !important;
}

.mb-40 {
    margin-bottom: $p4*10 !important;
}

.mb-44 {
    margin-bottom: $p4*11 !important;
}

.mb-48 {
    margin-bottom: $p4*12 !important;
}
.mb-100{
    margin-bottom: 100px !important;
}
.ml-0 {
    margin-left: $zeropx !important;
}

.ml-4 {
    margin-left: $p4 !important;
}

.ml-8 {
    margin-left: $p4*2 !important;
}

.ml-12 {
    margin-left: $p4*3 !important;
}

.ml-16 {
    margin-left: $p4*4 !important;
}

.ml-20 {
    margin-left: $p4*5 !important;
}

.ml-24 {
    margin-left: $p4*6 !important;
}

.ml-28 {
    margin-left: $p4*7 !important;
}

.ml-32 {
    margin-left: $p4*8 !important;
}

.ml-36 {
    margin-left: $p4*9 !important;
}

.ml-40 {
    margin-left: $p4*10 !important;
}

.ml-44 {
    margin-left: $p4*11 !important;
}

.ml-48 {
    margin-left: $p4*12 !important;
}
.ml-120 {
    margin-left: 120px !important;
}

.block {
    display: $block !important;
}

.flex {
    display: $flex !important;
}

.i-block {
    display: $iblock !important;
}

.g-grid {
    display: $grid !important;
}

.table {
    display: $tab !important;
}

.t-caption {
    display: $tcaption !important;
}

.contents {
    display: $contents !important;
}

.iblock {
    display: $iblock !important;
}

.iflex {
    display: $iflex !important;
}

.igrid {
    display: $igrid !important;
}

.t-column-group {
    display: $tcolumngroup !important;
}

.t-cell {
    display: $tcell !important;
}

.b {
    border: 1px solid #ddd !important;
}
.h-28{
    height: 28px !important;
}
.h-50{
    height: 50px !important;
}
.b-red {
    border: 1px solid $red;
}
.bl-1{
    border-left: 1px solid #ddd !important;
}
.br-2 {
    border-radius: 2px !important;
}

.br-4 {
    border-radius: 4px !important;
}

.b-s {
    border: 1px solid !important;
}
.bt-none{
    border-top: 0px !important;
}
.bb-none{
    border-bottom: 0px !important;
}
.c-p {
    cursor: pointer;
}
.br-blue-2{
    border-right: 2px solid #008FFF !important;
}
.ba-dotted{
    border: 1px dotted #BCC6CA;
}
.ba-dashed{
    border: 1px dashed #BCC6CA;
}
.ba-dashed-2{
    border: 1px dashed #BCC6CA;
}
.v-baseline{
    vertical-align: baseline !important;
}