$textlg:30px;
$font-roboto:'Roboto',
sans-serif;
$bold:bold;
$normal:normal;
$bolder:bolder;
$font300:300;
$pracolor:#252631;
$blue: #2680EB;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$lighter:#edf1f2;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$light:#fafafa;
$white:#fff;
$dark:#343a40;
$gray:#6c757d;
$muted:#8088a4;
$justify:justify;
$justifyall:justify-all;
$initial:initial;
$inherit:inherit;
$center:center;
$right:right;
$left:left;
$none:none;
$vtop:top;
$vbottom:bottom;
$vmiddle:middle;
$vbaseline:baseline;
$vsub:sub;
$visible:visible;
$hidden:hidden;
$initial:initial;
$inherit:inherit;
$collapse:collapse;
$scroll:scroll;
$auto:auto;
$absolute:absolute;
$relative:relative;
$static:static;
$sticky:sticky;
$fixed:fixed;
$size:1px;
$sizezero:0px;
$full:100%;
$half:50%;
$pl-15:15px;
$p4:4px;
$zeropx:0px;
$block:block;
$iblock:inline-block;
$flex:flex;
$iflex:inline-flex;
$grid:grid;
$igrid:inline-grid;
$tab:table;
$tcaption:table-caption;
$tcolumngroup:table-column-group;
$tcell:table-cell;
$contents:contents;
$border:1px solid #E8ECEF;