::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #008FFF !important;
  }
  
  // overwrite the ripple overlay on hover and click
  ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #008FFF !important;
  }
::ng-deep .mat-checkbox-layout {
  vertical-align: top !important;
}