
    <div class="row bb-1 popup-header-fix-60">
        <div class="col-md-10 p-0">
            <h4 class="wrapper-20 roboto m-0">BILLER SETTINGS</h4>
        </div>
        <div class="col-md-2 text-right">
            <i class="material-icons pt-16 c-p pr-16" (click)="Close('close')"> clear</i>
        </div>
    </div>
    <div class="wrapper-16 pt-44 pb-44 mb-44 mt-40">
    <div class="row">
        <div class="col-md-12">
            <p class="m-0 text-right text-custom pt-4 roboto">You can map single plan to the client</p>
        </div>
    </div>

    <div class="row">
            <div class="col-md-6 mt-20 hover c-p" *ngFor="let singlePlan of billerSettingData">
                <div class="example-card">
                    <mat-card class="p-0 pa-blue" [ngClass]="singlePlan.selected == true ? 'ba-blue' : 'b-ua'" (click)="selectedBiller(singlePlan.selected,singlePlan)">
                            <div class="row bg-grey lter">
                                    <div class="col-md-12 p-0">
                                            <mat-checkbox class="right text-right" *ngIf="singlePlan.selected == true" [(ngModel)]= "singlePlan.selected"></mat-checkbox>
                                            <div class="col-md-12 p-0">
                                                <h3 class="m-0 pt-20 pl-24">{{singlePlan.companyDisplayName}}</h3>
                                                <h5 class="m-0 pt-4 pb-44 pl-24 text-custom">{{singlePlan.code}}</h5>
                                            </div>
                                        </div>
                                </div>
                        <mat-card-content class="bg-white mb-0">
                                <!-- <div class="row wrapper-20">
                                    <div class="col-md-12 p-0">
                                        <p class="mb-0 text-primitive f-12">ADDRESS</p>
                                        <p class="mb-0 pt-8 plan-description pb-20">{{singlePlan.Address}}</p>
                                    </div>
            
                                </div> -->
                                <div class="wrapper-24">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <p class="f-12 mb-0 text-primitive">BILLER ADDRESS</p>
                                                <h5 class="mb-0">{{singlePlan.billerAddress}},</h5>
                                                <h5 class="mb-0">{{singlePlan.city}},</h5>
                                                <h5 class="mb-0">{{singlePlan.state}},</h5>
                                                <h5 class="mb-0">{{singlePlan.country}},</h5>
                                                <h5 class="mb-0">{{singlePlan.zipCode}}</h5>
                                            </div>
                                    </div>
                                </div>
                                
                            </mat-card-content>
                      
                    </mat-card>
                </div>
                </div>
                </div>
    </div>


    <div class="bottom-fixed wrapper-12">
        <div class="row">
            <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
            </div>
            <div class="col-md-8 right text-right">
                <button mat-button  class="btn-bottom br-0 text-inherit" (click)="saveChangeBillerSetting()">Save</button>
                

            </div>
        </div>
    </div>