<div id="ui-subscriptions">
    <div class="sub-header-fix bl-1">
        <div class="bg-white">

            <mat-tab-group mat-align-tabs="end" animationDuration="0ms">
                <mat-tab label="DASHBOARD">
                   <app-dashboard-subscription></app-dashboard-subscription>
                   <!-- <app-invoice-pdf-document></app-invoice-pdf-document> -->
                </mat-tab>
                <mat-tab label="CLIENTS">
                    <app-client-subscription></app-client-subscription>
                </mat-tab>
                <mat-tab label="SUBSCRIPTIONS">
                    <app-subscriptions-subscription></app-subscriptions-subscription>
                </mat-tab>
                <mat-tab label="QUOTATIONS"> 
                    <app-invoice-pdf-document></app-invoice-pdf-document>
                </mat-tab>
                <mat-tab label="INVOICES">
                    <app-invoices-subscription></app-invoices-subscription>
                </mat-tab>
                <mat-tab label="DOCUMENTS">
                    <app-documents-subscriptions></app-documents-subscriptions>
                </mat-tab>
                <mat-tab label="SETTINGS">
                    <app-settings-subscription></app-settings-subscription>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>