<div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="invoiceSubscription=='false'" class="bg-white pb-36 mt-70" id="ui-invoice">
    <div class="wrapper-20">
        <div class="row">
            <div class="col-md-1 p-0">
                <h4 class="pt-8 mb-0">Invoices</h4>
            </div>
            <div class="col-md-5 p-0">
                          <div class="row">
                              <div class="col-md-3 p-0">
                                    <button mat-button [matMenuTriggerFor]="menu" class="b-a pr-0 br-0">Actions <i class="material-icons text-custom">
                                            arrow_drop_down
                                            </i></button>
                                          <mat-menu #menu="matMenu">
                                              <button mat-menu-item class="b-t"  *ngIf="dataCount == 0">Select invoice to see more actions</button>
                                              <button mat-menu-item class="b-t" (click)="deleteModal('INVOICE')"*ngIf="dataCount != 0">Delete Invoices</button>
                                          </mat-menu>
                              </div>
                              <div class="col-md-8 p-0">
                                    <p class="m-0 text-black text-left pt-12">{{dataCount}} invoices selected</p>
                              </div>
                          </div>
      </div>
            <div class="col-md-6 right text-right p-0">
                <i class="material-icons mr-12 icon-light v-sub c-p">
                search
            </i>
                <button mat-stroked-button class="btn-default addon mr-12"><i
                    class="material-icons">filter_list</i>FILTERS</button>
                <button mat-stroked-button class="btn-primary addon"><i class="material-icons">add</i>ADD NEW</button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" id="table-low" class="mt-8">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef class="f-18">
                    <mat-checkbox (change)="selectAll($event)" name="selectAll" [value]="element"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox name="selectedData"  class="c-p" [(ngModel)]="element.selected" (change)="changeSelect(element)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="date" >
                <th mat-header-cell *matHeaderCellDef class="f-18"> Date </th>
                <td mat-cell *matCellDef="let element" class="c-p" (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.invoiceDate  | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="invoicenum">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Invoice number </th>
                <td mat-cell *matCellDef="let element" class="c-p" (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.invoiceNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Client name </th>
                <td mat-cell *matCellDef="let element" class="c-p"  (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.clientName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Email </th>
                <td mat-cell *matCellDef="let element" class="c-p"  (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Status </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'text-danger':element.status=='OVERDUE','text-primary':element.status=='SENT','text-success':element.status=='PAID'}" ngcl class="c-p"  (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="duedate">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Due date </th>
                <td mat-cell *matCellDef="let element"  (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.dueDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="amt">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Amount </th>
                <td mat-cell *matCellDef="let element" class="c-p"  (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.finalAmount}} </td>
            </ng-container>
            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef class="f-18 text-right pr-24"> Balance due(Rs.) </th>
                <td mat-cell *matCellDef="let element" class="text-right pr-8 c-p" (click)="openInvoice(element,'invoiceSubscription','open')"> {{element.balanceDue}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<div *ngIf="invoiceSubscription =='true'">
    <app-invoice [invoiceInSub]='invoiceSub'  [clientData]='invoiceClientData' (valueChange)='display($event)' ></app-invoice>
</div>

<!-- <div class="bg-white pb-44 mt-70">
        <div class="row">
            <div class="col-md-10">
                <h2 class="m-0 pl-12 pt-12">Edit Invoice of INV-19-20-103201</h2>
            </div>
            <div class="col-md-2">
                <i class="material-icons right pt-20 pr-20 c-p"> clear </i>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-3">
                <h5 class="m-0 text-right pt-8">Client name </h5>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control br-0">
                </div>
                <div class="row">
                    <div class="col-md-6 p-0">
                        <p class="m-0 text-custom f-12">BILLER ADDRESS</p>
                        <p class="m-0 text-black">#46, Street 1,
                            <br> Lokhandwala Township
                            <br> Borivali East
                            <br> Mumbai 400 066
                        </p>
                        <p class="m-0 text-primary">CHANGE</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <p class="m-0 text-custom f-12">PAYEE ADDRESS</p>
                        <p class="m-0 text-black">#46, Street 1,
                            <br> Lokhandwala Township
                            <br> Borivali East
                            <br> Mumbai 400 066
                        </p>
                        <p class="m-0 text-primary">CHANGE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-28">
            <div class="bt-grey">
                <div class="row pt-28">
                    <div class="col-md-4 p-0">
                        <div class="row">
                            <div class="col-md-4 pl-0">
                                <h5 class="m-0 pt-8 text-left">Invoice No.</h5>
                            </div>
                            <div class="col-md-7 p-0">
                                <div class="form-group mb-0">
                                    <input type="email" class="form-control br-0">
                                </div>
                                <div class="col-md-12">
                                    <p class="m-0 text-custom f-12 text-right pt-4"> 0 / 10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <h5 class="m-0 pt-8 text-right pr-24">Invoice Date</h5>
                            </div>
                            <div class="col-md-6 pr-0">
                                <div class="form-group mb-0">
                                    <input type="email" class="form-control br-0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 pt-8 text-right pr-28">Due Date</h5>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="form-group mb-0">
                                    <input type="email" class="form-control br-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-28 b-a">
                    <div class="row bg-grey lter">
                        <div class="col-md-6 p-0">
                            <p class="m-0 text-black wrapper-16 f-500">Service Details</p>
                        </div>
                        <div class="col-md-2 p-0">
                            <p class="m-0 text-black f-500 wrapper-16 text-right">Price </p>
                        </div>
                        <div class="col-md-2 p-0">
                            <p class="m-0 text-black f-500 wrapper-16">Tax</p>
                        </div>
                        <div class="col-md-2 p-0">
                            <p class="m-0 text-black f-500 wrapper-16 text-right">Amount</p>
                        </div>
                    </div>
                    <div class="row bg-white">
                        <div class="col-md-5 p-0">
                            <div class="b-a m-4 wrapper-4">
                                <div class="row">
                                    <div class="col-md-8 p-0">
                                        <p class="m-0 text-black  pb-0 f-500">Investment management fees</p>
                                        <p class="m-0 text-custom">For the period 20/08/2019 to 19/08/2020</p>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <i class="material-icons text-custom text-right right f-18 pt-8">
                                                    create
                                                    </i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2 p-0">
                            <p class="m-0 text-black wrapper-16 text-right">8,000 </p>
                        </div>
                        <div class="col-md-2 p-0">
                            <p class="m-0 text-black wrapper-16">IGST (18%)</p>
                        </div>
                        <div class="col-md-2 p-0">
                            <p class="m-0 text-black wrapper-16 text-right">9,440</p>
                        </div>
                    </div>

                </div>
                <div class="row pt-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <h5 class="m-0">Sub total</h5>
                    </div>
                    <div class="col-md-2 p-0">
                        <h5 class="m-0 text-right pr-8">Rs.8,000</h5>
                    </div>
                </div>
                <div class="row pt-20">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <h5 class="m-0">Discount</h5>
                    </div>
                    <div class="col-md-2 p-0">
                        <h5 class="m-0 text-right pr-8">Rs.0</h5>
                    </div>
                </div>
                <div class="row pt-20 pb-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <h5 class="m-0">IGST (18%)</h5>
                    </div>
                    <div class="col-md-2 p-0">
                        <h5 class="m-0 text-right pr-8">Rs.1,440</h5>
                    </div>
                </div>
                <div class="row pb-8">
                    <div class="col-md-8"></div>
                    <div class="col-md-2 bt-grey">
                        <h5 class="m-0 text-black pt-8 f-500">Total</h5>
                    </div>
                    <div class="col-md-2 bt-grey p-0">
                        <h5 class="m-0 text-right pr-8 pt-8 text-black f-500">9,440</h5>
                    </div>
                </div>
                <div class="row pb-8">
                    <div class="col-md-8"></div>
                    <div class="col-md-2 bt-grey">
                        <h5 class="m-0 text-black pt-8 f-500">Balance due</h5>
                    </div>
                    <div class="col-md-2 bt-grey p-0">
                        <h5 class="m-0 text-right pr-8 pt-8 text-black f-500">9,440</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-grey lt wrapper-28">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 p-0">
                            <h5 class="m-0 pt-24 text-black text-center">Footnote Description</h5>
                        </div>
                        <div class="col-md-9 p-0">
                                <div class="form-group mb-0">
                                        <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <p class="f-12 m-0 text-custom roboto">Optional</p>
                                          </div>
                                          <div class="col-md-6">
                                                <p class="f-12 m-0 text-custom roboto">0 / 10</p>
                                          </div>
                                      </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="row">
                                <div class="col-md-3 p-0">
                                        <h5 class="m-0 text-black pt-24 text-center">Terms & Conditions</h5>
                                </div>
                                <div class="col-md-9 p-0">
                                        <div class="form-group mb-0">
                                                <textarea class="form-control" rows="5"></textarea>
                                              </div>
                                              <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="f-12 m-0 text-custom roboto">Optional</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                          <p class="f-12 text-custom m-0 roboto">0 / 10</p>
                                                    </div>
                                                </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div> -->
