<div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="showPdfInvoice==false" class="bg-white pb-36 mt-70" id="ui-invoice">
<div class="wrapper-20">
    <div class="row">
        <div class="col-md-8 p-0">
            <h4 class="pt-8 mb-0">Invoices</h4>
        </div>
        <div class="col-md-4 right text-right p-0">
            <i class="material-icons mr-12 icon-light v-sub">
                search
            </i>
            <button mat-stroked-button class="btn-default addon mr-12"><i
                    class="material-icons">filter_list</i>FILTERS</button>
            <button mat-stroked-button class="btn-primary addon"><i class="material-icons">add</i>ADD NEW</button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" id="table-low" class="mt-8">
                 <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef class="f-18"> <mat-checkbox  color="primary"></mat-checkbox> </th>
                    <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
                  </ng-container>
            <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="f-18"> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dueDate | date:'dd/MM/yyyy'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="invoicenum">
                        <th mat-header-cell *matHeaderCellDef class="f-18"> Invoice number </th>
                        <td mat-cell *matCellDef="let element" (click)="showInvoicePdf(element)" class="c-p"> {{element.invoiceNumber}} </td>
                      </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="f-18"> Client name </th>
            <td mat-cell *matCellDef="let element" class="c-p"> {{element.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="f-18"> Email </th>
            <td mat-cell *matCellDef="let element" class="c-p"> {{element.email}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="f-18"> Status </th>
                <td mat-cell *matCellDef="let element" class="text-success c-p"> {{element.status}} </td>
              </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="duedate">
            <th mat-header-cell *matHeaderCellDef class="f-18"> Due date </th>
            <td mat-cell *matCellDef="let element"> {{element.dueDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="amt">
            <th mat-header-cell *matHeaderCellDef class="f-18"> Amount </th>
            <td mat-cell *matCellDef="let element" class="c-p"> {{element.amountReceived}} </td>
          </ng-container>
          <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef class="f-18 text-right pr-24"> Balance due </th>
                <td mat-cell *matCellDef="let element" class="text-right pr-8 c-p"> {{element.balanceDue}} </td>
              </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<div *ngIf="showPdfInvoice">
  <app-invoice-pdf-document [singleInvoiceData]="singleInvoiceData"></app-invoice-pdf-document>
</div>