
    .timeline {
        list-style-type: none;
        position: relative;
    }
    .timeline:before {
        
        content: ' ';
        background: #008FFF;;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
        top: 35%;
    }
    .timeline > li {
        margin: 40px 0;
        padding-left: 50px;
    }
    .timeline > li:before {
        content: url(/assets/images/svg/activity-icons.svg);
        background: white;
        display: inline-block;
        position: absolute;
        // border-radius: 50%;
        // border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 18px;
        z-index: 400;
    }
  span{
      font-size: 12px !important;
      font-family: "Roboto",sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #83959D;
    float: left;
    padding-top: 8px;
  }