<div class="full-lights pb-36 mt-70" id="ui-dashboard">
    <div class="wrapper-20">
        <div class="row bg-red mt-20">
            <div class="col-md-5">

            </div>
            <div class="col-md-7">
                <h1>Welcome Ronak Hindocha</h1>
                <p class="mb-0">We’re excited to see you here! The dashboard currently looks barren. </p>
                <p> Fret not. We’ll help you in this journey. We’re in this together. </p>
                <button mat-flat-button class="btn-red addon mb-28 mt-16">Let’s begin <i class="material-icons right text-right">  arrow_forward  </i></button>
            </div>
        </div>
        <div class="mt-36 subscription-summary">
            <div class="row">
                <div class="col-md-4 pl-0">
                    <div class="bg-white pt-20 text-center">
                        <svg width="100" height="100">
                            <circle cx="50" cy="50" r="40" stroke="blue" stroke-width="4" fill="white" />
                        </svg>
                        <!-- <mat-spinner class="text-center"></mat-spinner> -->
                        <!-- https://bootsnipp.com/snippets/nrDmZ -->
                        <p class="text-center pt-12 pb-12">Clients with subscription</p>
                        <div class="bt-1">
                            <p class="text-center pt-12">Subscription summary</p>
                            <div class="row pt-12">
                                <div class="col-md-4">
                                    <h4 class="f-300">Total</h4>
                                    <p class="f-18 text-left pl-20">128</p>
                                </div>
                                <div class="col-md-5">
                                    <h4 class="f-300">This month</h4>
                                    <p class="f-18 text-left pl-12">12</p>
                                </div>
                                <div class="col-md-3">
                                    <h4 class="f-300">  Today</h4>
                                    <p class="f-18 text-left pl-4">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                       <div class="col-md-6 pl-0">
                           <div class="row bg-white">
                               <div class="col-md-12 pt-8  text-right">
                                    <i class="material-icons f-32 f-700 text-custom">
                                            more_horiz
                                            </i>
                               </div>
                               <div class="col-md-6">
                                   <h4 class="f-300">Total sales</h4>
                                   <p class="f-26 text-primary mb-0 pb-28">75,000</p>
                               </div>
                               <div class="col-md-6">
                                    <h4 class="f-300">Fee received</h4>
                                    <p class="f-26 text-primary mb-0 pb-28">46,000</p>
                                </div>
                           </div>
                       </div>
                       <div class="col-md-6 pr-0">
                            <div class="row bg-white">
                                <div class="col-md-12 pt-8 text-right">
                                     <i class="material-icons text-custom f-32 f-700">
                                             more_horiz
                                             </i>
                                </div>
                                <div class="col-md-6">
                                        <h4 class="f-300">Docs sent </h4>
                                        <p class="f-26 text-primary mb-0 pb-28">25</p>
                                    </div>
                                    <div class="col-md-6">
                                         <h4 class="f-300">Docs signed </h4>
                                         <p class="f-26 text-primary mb-0 pb-28">25</p>
                                     </div>
                            </div>
                        </div>
                       
                    </div>
                 
                                    <div class="col-md-12 bg-white mt-16 pb-32">
                                            <i class="material-icons right text-right text-custom pt-8 f-32 f-700">
                                                    more_horiz
                                                    </i>
                                        <h4 class="text-black pt-28 mb-0">Receivables summary</h4>
                                        <h2 class="text-primary pt-8 pb-36 mb-0">1,23,670</h2>
                                    </div>
                                </div>
                    
                
                
                <div class="col-md-4 pl-0 mt-16">
                    <div class="row bg-white">
                        <div class="col-md-12 pr-0">
                                <i class="material-icons pt-8 right text-right text-custom f-32 f-700">
                                        more_horiz
                                        </i>
                        </div>
                        <h4>Invoices to be reviewed</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Drasti Zaveri</p>
                                <p>INV-19-20-103001</p>
                            </div>
                            <div class="col-md-6">
                                <p>Rs.20,000</p>
                                <p>26/08/2019</p>
                            </div>
                        </div>
                        <div class="bb-a"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Drasti Zaveri</p>
                                <p>INV-19-20-103001</p>
                            </div>
                            <div class="col-md-6">
                                <p>Rs.20,000</p>
                                <p>26/08/2019</p>
                            </div>
                        </div>
                        <div class="bb-a"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Drasti Zaveri</p>
                                <p>INV-19-20-103001</p>
                            </div>
                            <div class="col-md-6">
                                <p>Rs.20,000</p>
                                <p>26/08/2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                       
                               
                   <div  class="wrapper-16 bg-white mt-16">
                       <div class="row">
                        <div class="col-md-12 pr-0">
                                <i class="material-icons right text-right text-custom f-32 f-700">
                                        more_horiz
                                        </i>
                        </div>
                    </div>
                        <h4 class="f-300">Upcoming renewals</h4>
                    <table mat-table [dataSource]="dataSource" id="table-low" class="mt-16">
    
                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Client name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="service">
                          <th mat-header-cell *matHeaderCellDef> Service name </th>
                          <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="amt">
                          <th mat-header-cell *matHeaderCellDef> Fee amount </th>
                          <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="billing">
                          <th mat-header-cell *matHeaderCellDef> Next billing... </th>
                          <td mat-cell *matCellDef="let element"> {{element.billing}} </td>
                        </ng-container>
                        <ng-container matColumnDef="icons">
                            <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> </th>
                            <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons iconscolors">
                                more_vert
                                </i></td>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
