<div class="full-lights pb-36 mt-70" id="ui-dashboard">
<div class="wrapper-20">
<div class="row bg-red">
    <div class="col-md-5">
        
    </div>
    <div class="col-md-7">
            <h1>Welcome Ronak Hindocha</h1>
            <p class="mb-0">We’re excited to see you here! The dashboard currently looks barren. </p>
                   <p> Fret not. We’ll help you in this journey. We’re in this together. </p>
                    <button mat-flat-button class="btn-red addon mb-28 mt-16">Let’s begin <i class="material-icons right text-right">
                            arrow_forward
                            </i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="bg-white">
                <svg width="100" height="100">
                        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
                      </svg>
                <!-- <mat-spinner class="text-center"></mat-spinner> -->
                <!-- https://bootsnipp.com/snippets/nrDmZ -->
                <p class="">Clients with subscription</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
</div>
</div>
