.bg-red{
    background-color: #FFD8D8
}
.full-lights{
    background-color: #F7F8F9;
   
}
.btn-red{
    background-color: #D01010;
    color: #FFD5D5 !important;
    font-size: 20px;
    font-family: "Roboto";
    letter-spacing: 0.2px;
}
h1{
    font-family: "Playfair Display";
font-style: normal;
font-weight: normal;
padding-top: 16px;
line-height: 40px;
letter-spacing: 0.2px;
}
p{
    font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.2px;
color: #004164;
}
.btn-red .material-icons{
    margin-left: 2px;
    padding-top: 2px;
}