<div class="full-lights pb-36" *ngIf="showSubStep==false" id="ui-dashboard">
    <div class="wrapper-20">
        <div class="row bg-red mt-20">
            <div class="col-md-5">
                <img src="../assets/images/svg/Dashboard.svg" class="dashboard-img">
            </div>
            <div class="col-md-7">
                <h1>Welcome Ronak Hindocha</h1>
                <p class="mb-0 pt-12">We’re excited to see you here! The dashboard currently looks barren. </p>
                <p> Fret not. We’ll help you in this journey. We’re in this together. </p>
                <button (click)="showSubscriptionSteps()" mat-flat-button class="btn-red addon mb-28 mt-16">Let’s begin <i class="material-icons right text-right">  arrow_forward  </i></button>
            </div>
        </div>
        <div class="mt-36 subscription-summary">
            <div class="row">
                <div class="col-md-4 pl-0">
                    <div class="bg-white pt-20 pb-20 text-center">
                        <svg width="100" height="100">
                            <circle cx="50" cy="50" r="40" stroke="blue" stroke-width="4" fill="white" />
                        </svg>
                        <!-- <mat-spinner class="text-center"></mat-spinner> -->
                        <!-- https://bootsnipp.com/snippets/nrDmZ -->
                        <p class="text-center f-300 pt-12 pb-24 f-18 mb-0">Clients with subscription</p>
                        <div class="bt-1">
                            <p class="text-center pt-12 f-300 pb-16 f-18 mb-0">Subscription summary</p>
                            <div class="row pt-12">
                                <div class="col-md-4">
                                    <p class="f-300 f-18">Total</p>
                                    <h4 class="text-left pl-20">128</h4>
                                </div>
                                <div class="col-md-5">
                                    <p class="f-300 f-18">This month</p>
                                    <h4 class="text-left pl-12">12</h4>
                                </div>
                                <div class="col-md-3">
                                    <p class="f-300 f-18">  Today</p>
                                    <h4 class="text-left pl-4">1</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pr-0">
                    <div class="row">
                        <div class="col-md-6 pl-0">
                            <div class="row bg-white">
                                <div class="col-md-12 pt-8 text-right">
                                    <i class="material-icons f-32 f-700 text-custom">
                                            more_horiz
                                            </i>
                                </div>
                                <div class="col-md-6">
                                    <div class="pl-20 pr-20">
                                        <p class="f-300 f-18 mb-0">Total sales</p>
                                        <h2 class="text-primary mb-0 pb-28 pt-8">75,000</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 p-0">
                                    <div class="pr-20 pl-20">
                                        <p class="f-300 f-18 mb-0">Fee received</p>
                                        <h2 class="text-primary mb-0 pb-28 pt-8">46,000</h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="row bg-white">
                                <div class="col-md-12 pt-8 text-right">
                                    <i class="material-icons text-custom f-32 f-700">
                                             more_horiz
                                             </i>
                                </div>
                                <div class="col-md-6">
                                    <div class="pl-20 pr-20">
                                        <p class="f-300 f-18 mb-0">Docs sent </p>
                                        <h2 class="f-26 text-primary mb-0 pb-28 pt-8">25</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 pr-0">
                                    <div class="pl-20 pr-20">

                                        <p class="f-300 f-18 mb-0">Docs signed </p>
                                        <h2 class="f-26 text-primary mb-0 pb-28 pt-8">25</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bg-white mt-28 pb-44">
                        <i class="material-icons right text-right text-custom pt-8 f-32 f-700">
                                                    more_horiz
                                                    </i>
                        <div class="pl-20 pr-20">
                            <p class="f-300 f-18 pt-28 mb-0">Receivables summary</p>
                            <h2 class="text-primary pt-8 pb-36 mb-0">1,23,670</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl-0 mt-28">
                    <div class="row bg-white pb-32">
                        <div class="col-md-12 pt-8">
                            <i class="material-icons pt-8 right text-right text-custom f-32 f-700">
                                        more_horiz
                                        </i>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-300 pl-16 mb-16">Invoices to be reviewed</h4>
                        </div>
                        <hr class="w-100">
                        <div class="col-md-12">
                            <div class="row pt-16">
                                <div class="col-md-8">
                                    <p class="f-15 mb-28">Drasti Zaveri</p>
                                    <p class="f-13 mb-12">INV-19-20-103001</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="f-15 mb-28">Rs.20,000</p>
                                    <p class="f-13 mb-12">26/08/2019</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <div class="row pt-16">
                                <div class="col-md-8">
                                    <p class="f-15 mb-28">Drasti Zaveri</p>
                                    <p class="f-13 mb-12">INV-19-20-103001</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="f-15 mb-28">Rs.20,000</p>
                                    <p class="f-13 mb-12">26/08/2019</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <div class="row pt-16">
                                <div class="col-md-8">
                                    <p class="f-15 mb-28">Drasti Zaveri</p>
                                    <p class="f-13 mb-12">INV-19-20-103001</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="f-15 mb-28">Rs.20,000</p>
                                    <p class="f-13 mb-12">26/08/2019</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12 text-right pt-8">
                            <a href="#" class="text-black f-14">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pr-0">
                    <div class="wrapper-16 bg-white mt-28 pb-44">
                        <div class="row">
                            <div class="col-md-12 pr-0">
                                <i class="material-icons right text-right text-custom f-32 f-700">
                                        more_horiz
                                        </i>
                            </div>
                        </div>
                        <div class="pl-20 pr-2">
                            <div class="row">
                                <div class="col-md-6 pl-0">
                                        <h4 class="f-300 mb-0 pt-8">Subscription summary</h4>
                                </div>
                                <div class="col-md-6 right text-right pr-0">
                                        <button mat-stroked-button class="text-primary br-0">NOT STARTED</button>
                                        <button mat-button class="text-custom">UPCOMING</button>
                                </div>
                            </div>
                            <table mat-table [dataSource]="dataSource" id="table-low" class="mt-8">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Client name </th>
                                    <td mat-cell *matCellDef="let element" (click)="rightSideBar('subscriptionFees')"> {{element.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="service">
                                    <th mat-header-cell *matHeaderCellDef> Service name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                                </ng-container>
                                <ng-container matColumnDef="amt">
                                    <th mat-header-cell *matHeaderCellDef> Fee amount </th>
                                    <td mat-cell *matCellDef="let element" (click)="modifyFees('modifyFees')"> {{element.amt}} </td>
                                </ng-container>
                                <ng-container matColumnDef="billing">
                                    <th mat-header-cell *matHeaderCellDef> Next billing... </th>
                                    <td mat-cell *matCellDef="let element"> {{element.billing}} </td>
                                </ng-container>
                                <ng-container matColumnDef="icons">
                                    <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> </th>
                                    <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons iconscolors">
                                more_vert
                                </i></td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <div class="col-md-12 text-right pt-8 pb-44">
                                <a href="#" class="text-black f-14">View all</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<app-subscription-completeness *ngIf="showSubStep"></app-subscription-completeness>