
h5{
    color: #212121;
}
span{
    font-size: 12px;
    float:right;
    color: #A0AEB4;
   
}
.bottom-fixed{
    z-index: 1 !important;
}

.form-control.is-invalid
{
    background-image: none !important;
    border-color: red !important;
}