<img src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png" class="img-top">
<mat-tab-group animationDuration="0ms" mat-align-tabs="center" id="ui-customer">

  <mat-tab label="OVERVIEW">
    <app-accounts></app-accounts>
  </mat-tab>
  <mat-tab label="ACCOUNTS">Content 2</mat-tab>
  <mat-tab label="PLAN">Content 3</mat-tab>
  <mat-tab label="ACTIVITY">Content 2</mat-tab>
  <mat-tab label="TRANSACT">Content 3</mat-tab>

</mat-tab-group>
<!-- <div class="right-side">
  <img src="/src/assets/images/svg/bell.svg">
  <img src="/src/assets/images/svg/bell.svg">
  <img src="/src/assets/images/svg/bell.svg">
</div> -->
