<div class="wrapper-20 bg-grey lter">
        <h3 class="m-0 text-center head-common">Dhyaan Ronak Hindocha</h3>
      </div>
      <div class="bg-white">
        <div class="wrapper-20">
            <div class="row">
                <div class="col-md-12 p-0">
                      <button mat-stroked-button class="btn-primary br-0 right text-right addon"><i class="material-icons">
                              add</i> ADD MORE</button>
                </div>
            </div>
        </div> 
        <div class="wrapper-40 pr-20">
            <div class="row">
         
           
        </div>
      </div>
