p {
  margin: 0;
  font-size: 12px;
  color: #83959D;
  font-family: "Proxima Nova",sans-serif;
}

h5 {
  color: #3F3F3F;
  line-height: 24px;
}

::ng-deep .hoverable {
  transition: box-shadow 0.3s;
}

::ng-deep .hoverable:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

::ng-deep .hoverable {
  width: 950px !important;
}
