<div class="wrapper-28 pb-16">
<h3 class="m-0 pb-8 roboto text-black f-500">HOW TO INSERT A PLACEHOLDER</h3>
<p class="pt-16 mb-0 text-black f-16 roboto">To insert a placeholder do the following: </p>
<p class="pt-12  mb-0 text-black f-16 roboto">1)copy the text along with the curly braces</p>
<p class="pt-12 mb-0 text-black f-16 roboto">2)paste it inside the text editor</p>
<p class="pt-28  mb-0 text-black f-16 roboto">E.g. to insert Client Name ,copy client_name and place it in the text editor wherever you want. </p>
<div class="row pt-28">
    <div class="col-md-12 p-0 right text-right">
        <button mat-button class="text-primary">Ok</button>
    </div>
</div>
</div>
