<div class="row bb-1">
    <div class="col-md-10 p-0">
        <h3 class="mb-0 wrapper-20">MODIFY FEE STRUCTURE123</h3>
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons pt-20 c-p" (click)="Close()"> clear</i>
    </div>
</div>

<div class="wrapper-20 pt-36 mb-44 pb-44">
    <p class="text-primary">VARIABLE </p>
    <h4 class="mb-0 pt-16">Investment management - AUM Linked fee</h4>
    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-12 mb-0">Billing nature</h5>
        </div>
        <div class="col-md-7">
                  <mat-radio-group>
                    <mat-radio-button value="auto" class="b-a pt-8 pr-40 pl-20">Recurring</mat-radio-button>
                    <mat-radio-button value="auto" class="b-a pt-8 pr-40 pl-20">Once</mat-radio-button>
                  </mat-radio-group>
        </div>
    </div>
    <div class="row pt-28">
        <div class="col-md-5">
            <h5 class="text-right pt-12 mb-0">Bill every</h5>
        </div>
        <div class="col-md-7">
                <mat-form-field appearance="outline">
                      
                        <input matInput placeholder="1">
                       
                        
                      </mat-form-field>
            <button mat-button [matMenuTriggerFor]="menu" class="b-a">Months <i class="material-icons ml-44 text-custom">
                arrow_drop_down
                </i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
    </div>
    <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Mutual fund fees</h5>
                <p class="mb-0 f-12 text-custom text-right">Enter yearly rates here even if your <br>charging mode is monthly or quarterly.<br> We will calculate accordingly.</p>
            </div>
            <div class="col-md-7">
                     
            </div>
        </div>
        <div class="row pt-44">
                <div class="col-md-5">
                    <h5 class="text-right pt-12 mb-0">Other asset class fees</h5>
                    <p class="mb-0 f-12 text-custom text-right">This includes assets like stocks,<br> insurance, FD, real estate, gold etc. You <br>can add or remove asset classes.</p>
                </div>
                <div class="col-md-7">
                    
                        <div class="row">
                            <div class="col-md-10 p-0">
                                    <div class="b-a wrapper-12">
                        <mat-chip-list aria-label="Fish selection">
                                <mat-chip class="f-13 f-400 wrapper-16">Stocks</mat-chip>
                                <mat-chip class="custom-chips-color f-13 f-400 wrapper-16"><i class="material-icons mr-8 text-custom f-16">
                                        check
                                        </i>Insurance</mat-chip>
                                <mat-chip class="custom-chips-color f-13 f-400 wrapper-16"><i class="material-icons mr-8 text-custom f-16">
                                        check
                                        </i>Real estate</mat-chip>
                                <mat-chip class="f-14 f-400 wrapper-16">Retirement accounts</mat-chip>
                                <mat-chip class="custom-chips-color f-13 f-400 wrapper-16"><i class="material-icons mr-8 text-custom f-16">
                                        check
                                        </i>Fixed deposits</mat-chip>
                                        <mat-chip class="f-13 f-400 wrapper-16">Gold</mat-chip>
                              </mat-chip-list>
                            </div>
                            </div>
                            <div class="col-md-2 p-0">
                                <h5 class="b-a wrapper-8 pl-12 mb-0">1.0%</h5>
                            </div>
                           
                </div>
            </div>
            </div>
</div>
<div class="bottom-fixed wrapper-12">
        <div class="row">
            <div class="col-md-4">
              <h5 class="mb-0 pt-8 text-white">Cancel</h5>
            </div>
            <div class="col-md-8 right text-right">
                  <button mat-button [matMenuTriggerFor]="menu" class="btn-bottom br-0 text-inherit">Save</button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                  
            </div>
        </div>
      </div>