.custom-chips-color{
    background:#00FFA1 !important;
    color: #000 !important;
    .mat-icons{
     color:  rgba(0, 0, 0, 0.54) !important;
    }
}
.mat-standard-chip{
    font-size: 13px !important; 
}
