<div *ngIf="!createSubData" class="row bb-1 popup-header-fix-60">
    <div class="col-md-8 p-0">
        <h4 class="wrapper-20 m-0">MODIFY FEE STRUCTURE</h4>
    </div>
    <div class="col-md-4 text-right">
        <div class="wrapper-12 pb-10">
            <button mat-stroked-button class="br-0 btn-primary mr-20">EDIT</button>
            <i class="material-icons c-p v-middle" (click)="Close('close')"> clear</i>
        </div>
    </div>
</div>
<div *ngIf="ModifyFeesChange=='variableModifyFees' || createSubData" class="wrapper-20 pt-36 mb-44 pb-44">
    <div [formGroup]="variableFeeStructureForm">
        <p class="text-primary">VARIABLE </p>
        <h4 class="mb-0 pt-16">Investment management - AUM Linked fee</h4>

        <div class="row pt-44">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Billing nature</h5>
            </div>
            <div class="col-md-7">
                <mat-radio-group formControlName="billingNature">
                    <mat-radio-button value="1" checked=true
                        [ngClass]="{'b-a-custom': variableFeeStructureForm.get('billingNature').value==1,'text-primary':variableFeeStructureForm.get('billingNature').value==1,'b-a':variableFeeStructureForm.get('billingNature').value==2}"
                        class="b-a-custom text-primary pt-8 pb-8 pr-52 pl-20 custom-radio">Recurring</mat-radio-button>
                    <mat-radio-button value="2"
                        [ngClass]="{'b-a-custom': variableFeeStructureForm.get('billingNature').value==2,'text-primary':variableFeeStructureForm.get('billingNature').value==2,'b-a':variableFeeStructureForm.get('billingNature').value==1}"
                        class="b-a pt-8 pr-40 pl-20 pr-76 pb-8">Once</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Bill every</h5>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5 p-0">
                        <div class="form-group">
                            <input type="number" pattern="\d*" onKeyPress="if(this.value.length==2) return false;"
                                formControlName="billEvery" class="form-control br-0 h-39">
                        </div>
                    </div>

                    <div class="col-md-5 p-0">
                        <div class="form-group">
                            <select class="form-control br-0" formControlName="Duration" id="sel1">
                                <option value="1">Monthly</option>
                                <option value="12">Yearly</option>
                            </select>
                        </div>
                    </div>
                    <mat-error
                        *ngIf="isBillValid && variableFeeStructureForm.get('billEvery') .invalid ||variableFeeStructureForm.get('billEvery') .touched &&variableFeeStructureForm.get('billEvery') .invalid"
                        class="f-12">Field is required</mat-error>
                </div>
            </div>

        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Mutual fund fees</h5>
                <p class="mb-0 f-12 text-custom text-right">Enter yearly rates here even if your <br>charging mode is
                    monthly or quarterly.<br> We will calculate accordingly.</p>
            </div>
            <div class="col-md-7">
                <div class="row bg-grey lter">
                    <div formGroupName="directFees" class="col-md-6 p-0 bt-grey bl-1 b">
                        <h5 class="m-0 wrapper-12 text-center text-black bb-grey bb-grey">Direct (per annum)</h5>
                        <div class="row">
                            <div class="col-md-4 p-0 br-grey bl-0">
                                <h5 class="m-0 wrapper-8 bb-grey">Equity</h5>
                            </div>
                            <div class="col-md-4 p-0 br-grey">
                                <h5 class="m-0 wrapper-8 bb-grey">Debt</h5>
                            </div>
                            <div class="col-md-4 p-0">
                                <h5 class="m-0 wrapper-8 bb-grey">Liquid</h5>
                            </div>
                        </div>
                        <div class="row ui-mff">
                            <div class="col-md-4 p-0 bl-0 br-grey">
                                <input type="number" pattern="\d*" onKeyPress="if(this.value.length==4) return false;"
                                    placeholder="%" formGroupName="equity" class="form-control br-0 h-39">
                            </div>
                            <div class="col-md-4 p-0 br-grey">
                                <input type="number" pattern="\d*" onKeyPress="if(this.value.length==4) return false;"
                                    placeholder="%" formGroupName="debt" class="form-control br-0 h-39">
                            </div>
                            <div class="col-md-4 p-0">
                                <input type="number" pattern="\d*" onKeyPress="if(this.value.length==4) return false;"
                                    placeholder="%" formGroupName="liquid" class="form-control br-0 h-39">
                            </div>
                        </div>
                    </div>
                    <div formGroupName="regularFees" class="col-md-6 p-0">
                        <h5 class="m-0 wrapper-12 text-center text-black bb-grey bt-grey br-grey">Regular (per annum)
                        </h5>
                        <div class="row">
                            <div class="col-md-4 p-0 br-grey bl-0">
                                <h5 class="m-0 wrapper-8 bb-grey">Equity</h5>
                            </div>
                            <div class="col-md-4 p-0 br-grey">
                                <h5 class="m-0 wrapper-8 bb-grey">Debt</h5>
                            </div>
                            <div class="col-md-4 p-0">
                                <h5 class="m-0 wrapper-8 bb-grey br-grey">Liquid</h5>
                            </div>
                        </div>
                        <div class="row ui-mff">
                            <div class="col-md-4 br-grey p-0 bl-0 bb-grey">
                                <input type="number" pattern="\d*" onKeyPress="if(this.value.length==4) return false;"
                                    placeholder="%" formGroupName="equity" class="form-control br-0 h-39 br-grey">
                            </div>
                            <div class="col-md-4 br-grey bb-grey p-0">
                                <input type="number" pattern="\d*" onKeyPress="if(this.value.length==4) return false;"
                                    placeholder="%" formGroupName="debt" class="form-control br-0 h-39 br-grey">
                            </div>
                            <div class="col-md-4 br-grey bb-grey p-0">
                                <input type="number" pattern="\d*" onKeyPress="if(this.value.length==4) return false;"
                                    placeholder="%" formGroupName="liquid" class="form-control br-0 h-39 br-grey">
                            </div>
                        </div>
                    </div>
                </div>
                <mat-error *ngIf="mutualFundFees" class="f-12 pt-4">Please fill fees details</mat-error>
            </div>
        </div>
        <div class="row pt-44">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Other asset class fees</h5>
                <p class="mb-0 f-12 text-custom text-right">This includes assets like stocks,<br> insurance, FD, real
                    estate, gold etc. You <br>can add or remove asset classes.</p>
            </div>
            <div class="col-md-7">

                <div class="row">
                    <div class="col-md-10 p-0">
                        <div class="b-a wrapper-12">
                            <mat-chip-list *ngIf="otherAssetData" aria-label="Fish selection">
                                <mat-chip (click)="select(assets)" *ngFor="let assets of otherAssetData"
                                    [ngClass]="{'btn-primary':assets.selected}" class="f-13 f-400 wrapper-16"><i
                                        class="material-icons mr-8 text-grey f-16">
                                        check
                                    </i>
                                    <div *ngIf="assets">{{assets.subAssetClassName}}</div>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                    <div class="col-md-2 p-0">
                        <input type="number" maxlength="4" formControlName="pricing" placeholder="%"
                            class="form-control br-0 h-39 br-grey">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="ModifyFeesChange=='fixedModifyFees'" class="wrapper-20 pt-36 mb-44 pb-44">
    <div [formGroup]="fixedFeeStructureForm">
        <p class="text-primary">FIXED </p>
        <h4 class="mb-0 pt-16">Financial Planning</h4>
        <div class="row pt-44">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Fees</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" formControlName="fees" class="form-control br-0">
                </div>
                <mat-error class="f-12 pt-4"
                *ngIf="isFeeValid && getFixedFee().fees.invalid || getFixedFee().fees.touched && getFixedFee().fees.invalid">
                Code is Required
            </mat-error>
            </div>

        </div>

        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Billing nature</h5>
            </div>
            <div class="col-md-7">
                <mat-radio-group formControlName="billingNature">
                    <mat-radio-button value="1" checked=true
                        [ngClass]="{'b-a-custom': fixedFeeStructureForm.get('billingNature').value==1,'text-primary':fixedFeeStructureForm.get('billingNature').value==1,'b-a':fixedFeeStructureForm.get('billingNature').value==2}"
                        class="b-a-custom text-primary pt-8 pb-8 pr-52 pl-20 custom-radio">Recurring</mat-radio-button>
                    <mat-radio-button value="2"
                        [ngClass]="{'b-a-custom': fixedFeeStructureForm.get('billingNature').value==2,'text-primary':fixedFeeStructureForm.get('billingNature').value==2,'b-a':fixedFeeStructureForm.get('billingNature').value==1}"
                        class="b-a pt-8 pr-40 pl-20 pr-76 pb-8">Once</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Bill every</h5>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5 p-0">
                        <div class="form-group">
                            <input type="text" formControlName="billEvery" class="form-control br-0">
                        </div>
                        <mat-error class="f-12 pt-4"
                *ngIf="isBillValid && getFixedFee().billEvery.invalid || getFixedFee().billEvery.touched && getFixedFee().billEvery.invalid">
                Code is Required
              </mat-error>

                    </div>
                    <div class="col-md-5 p-0">
                        <div class="form-group">
                            <select formControlName='Duration' class="form-control br-0" f id="sel1">
                                <option value="1">Months</option>
                                <option value="12">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-28">
            <div class="col-md-5">
                <h5 class="text-right pt-12 mb-0">Billing Mode</h5>
            </div>
            <div class="col-md-7">
                <mat-radio-group formControlName="billingMode">
                    <mat-radio-button value="1"
                        [ngClass]="{'b-a-custom': fixedFeeStructureForm.get('billingMode').value==1,'text-primary':fixedFeeStructureForm.get('billingMode').value==1,'b-a':fixedFeeStructureForm.get('billingMode').value==2}"
                        class="text-custom b-a wrapper-8" checked="true">Start of period</mat-radio-button>
                    <mat-radio-button value="2"
                        [ngClass]="{'b-a-custom': fixedFeeStructureForm.get('billingMode').value==2,'text-primary':fixedFeeStructureForm.get('billingMode').value==2,'b-a':fixedFeeStructureForm.get('billingMode').value==1}"
                        class="text-custom b-a wrapper-8">End of period</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-16">
    <div class="row">
        <div class="col-md-4 pl-8">
            <h5 class="mb-0 pt-4 text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div *ngIf="ModifyFeesChange=='fixedModifyFees'" class="col-md-8 right text-right">
            <button mat-button (click)="saveFixedModifyFees()" class="btn-bottom br-0 text-inherit">Save</button>
        </div>
        <div *ngIf="ModifyFeesChange=='variableModifyFees'" class="col-md-8 right text-right">
            <button mat-button (click)="saveVariableModifyFees()" class="btn-bottom br-0 text-inherit">Save</button>
        </div>
        <div *ngIf="createSubData" class="col-md-8 right text-right">
            <button mat-button (click)="saveVariableModifyFees()" class="btn-bottom br-0 text-inherit">NEXT STEP</button>
        </div>
    </div>
</div>