.sidenav-container {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: #3f51b5;
}

.none {
    display: none;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidenav-link {
    color: #000000 !important;
    font-size: 14px !important;
    letter-spacing: 0.25px;
    font-family: "Roboto";
    img{
    position: absolute;
    }
    span{
       padding-left: 50px;

    }
}

.fix-top {
    position: fixed;
    top: 0;
    bottom: 20px;
    z-index: 10;
    background: #fff !important;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3); */
}

.fix-top .sidenav-link {
    padding-right: 55px !important;
   margin-top: -12px;
}

.mat-toolbar-single-row {
    border-bottom: 1px solid #ddd !important;
    // border-left: 1px solid #ddd !important;
}

.sidenav-link .mat-list-icon {
    width: 24px;
    height: 24px;
}

.main-details {
    border-bottom: 1px solid #ddd !important;
    padding: 15px;
}

.main-details .mat-form-field-infix {
    border-top: 0px !important;
}

img.header-img {
    width: 30%;
    border-radius: 50%;
    padding: 15px;
}

.search-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 60%;
    position: relative;
}

.icon {
    position: absolute;
    left: 1%;
    right: 75%;
    top: -11px;
    z-index: 9999;
    color: #707070;
}

.search-field {
    background: #EBEEF3;
    border: 1px solid #EBEEF3;
    box-sizing: border-box;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
    border-radius: 4px;
    outline: none;
    position: absolute;
    width: 60%;
    height: 37px;
    top: -19px;
    padding-left: 50px;
}

.search-field:hover,
.bb-a {
    border: 1px solid #1B69B8 !important;
}

::placeholder {
    color: #707070;
    position: relative;
    top: -2px;
    font-size: 14px;
}

.dropdowns {
    height: auto !important;
    margin-left: 0;
    overflow: auto;
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdowns li {
    padding: 5px;
}

.desktop-none {
    display: none;
}

@media(max-width:670px) {
    .desktop-none {
        display: block;
    }
    #left .right-fixed,
    .search-container {
        display: none !important;
    }
    .tabs-right {
        float: right;
        margin-right: 10px;
        right: 0;
        position: fixed;
    }
    .tabs-mt-70 {
        margin-top: 70px;
    }
    .tabs-mt-70 .material-icons {
        padding-right: 40px;
    }
    #left .search-container.tabs-block {
        display: block !important;
        margin-top: 50px;
        margin-left: 10px;
    }
    #left .search-container.tabs-block .search-field {
        top: -3px;
        width: 100%;
    }
    #left .search-container.tabs-block .icon {
        left: 3%;
        top: 3px;
    }
}