<mat-sidenav-container (window:resize)="onResize()" class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened role="navigation">
        <mat-toolbar class="bg-white p-0">
            <img src="{{userInfo}}" class="w-100">
        </mat-toolbar>
        <mat-nav-list class="width-230">
            <div class="pt-16">
                <img src="assets/images/img1.jpg" class="header-img pt-0 pb-0">
            </div>
            <div class="main-details">
                <mat-form-field>
                    <mat-select class="f-900" placeholder="Advisor Login">
                        <mat-option class="f-700" value="option">Advisor Login</mat-option>
                        <mat-option class="f-700" value="option">Client Login</mat-option>
                    </mat-select>
                </mat-form-field>
                <p class="f-14 f-500 mb-0">Ronak Hindocha</p>
            </div>
            <div class="pt-20">
                <a mat-list-item class="sidenav-link" routerLink="/admin/dashboard">
                    <mat-icon mat-list-icon>radio_button_checked</mat-icon>
                    <span class="title" mat-line>Dashboard</span>
                </a>
                <a mat-list-item class="sidenav-link">
                   <img src="assets/images/svg/cart.svg">
                    <span class="title" mat-line>Clients</span>
                </a>
                <div>
                    <a mat-list-item class="sidenav-link">
                        <mat-icon mat-list-icon>dehaze</mat-icon>
                        <span class="title" mat-line>Activity</span>
                        <i *ngIf="showTabs==true" class="material-icons">
                            keyboard_arrow_down
                        </i>
                        <i *ngIf="showTabs==false" class="material-icons">
                            keyboard_arrow_right
                        </i>
                    </a>
                    <ul *ngIf="showTabs" class="bg-grey lt p-b-md dropdowns">
                        <li class="c-p">Plans</li>
                        <li routerLink="/admin/service" class="c-p">Services</li>
                        <li routerLink="/admin/service" class="c-p">Documents</li>
                        <li routerLink="/admin/service" class="c-p">Settings</li>
                    </ul>
                </div>
            </div>
        </mat-nav-list>
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #sidenav mode="side" opened role="navigation">
                <mat-nav-list id="d" class="width-230 pt-0">
                    <mat-toolbar *ngIf="showTabs && userInfo" class="bg-white p-0">
                        <img src="{{userInfo}}" class="w-100">

                    </mat-toolbar>
                    <div *ngIf="showTabs" class="pt-16">
                        <img src="assets/images/img1.jpg" class="header-img pt-0 pb-0">
                    </div>
                    <div *ngIf="showTabs" class="main-details">
                        <mat-form-field>
                            <mat-select placeholder="Advisor Login" class="f-500">
                                <mat-option class="f-500" value="option">Advisor Login</mat-option>
                                <mat-option class="f-500" value="option">Client Login</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p class="f-14 f-500 mb-0">Ronak Hindocha</p>
                    </div>
                    <div class="pt-12 scorllable">
                        <a mat-list-item class="sidenav-link" routerLink="/admin/dashboard">
                            <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Dashboard</span>
                        </a>
                        <a mat-list-item class="sidenav-link">
                            <img src="assets/images/svg/people.svg" routerLink="/customer-detail">
                            <span *ngIf="showTabs" class="title" mat-line>People</span>
                        </a>
                        <a mat-list-item class="sidenav-link">
                           <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Activities</span>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-custom">keyboard_arrow_right</mat-icon>
                        </a>
                        <a mat-list-item class="sidenav-link">
                           <img src="assets/images/svg/mail.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Email</span>
                        </a>
                        <a mat-list-item class="sidenav-link">
                            <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Transactions</span>
                        </a>
                        <a mat-list-item class="sidenav-link" routerLink="/admin/subscription">
                           <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Subscription</span>
                        </a>
                        <a mat-list-item class="sidenav-link">
                           <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Documents</span>
                        </a>
                        <a mat-list-item class="sidenav-link">
                           <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Compliance</span>
                        </a>
                        <a mat-list-item class="sidenav-link">
                           <img src="assets/images/svg/cart.svg">
                            <span *ngIf="showTabs" class="title" mat-line>Back Office</span>
                        </a>
                    </div>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content id="left">
                <mat-toolbar class="bg-white bl-1" class="fix-top pl-0">
                    <button *ngIf="showTabs==false" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="showMainNavWrapper()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <button *ngIf="showTabs" class="btn_nav" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="showsmallNavWrapper()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>

                    <div class="search-container mr-32">
                        <i class="material-icons icon">
                            search
                        </i>
                        <input class="search-field" type="text" placeholder="SEARCH" name="email">
                    </div>
                    <div class="hide-on-800 flex right-fixed tablate-none">
                        <a mat-list-item class="sidenav-link">
                           <img src="assets/images/svg/bell.svg" class="t-15">
                        </a>
                        <a mat-list-item class="sidenav-link">
                            <img src="assets/images/svg/earphone.svg">
                        </a>
                        <a mat-list-item class="sidenav-link">
                            <img src="assets/images/svg/setting.svg">
                        </a>
                    </div>
                    <i (click)="openSettings()" class="material-icons tabs-right desktop-none">
                        more_vert
                    </i>
                </mat-toolbar>
                <div id="showSettings" *ngIf="showSettings" class="desktop-none tabs-mt-70">
                    <div class="bg-success">
                        <div class="search-container tabs-block">
                            <i class="material-icons icon">
                                search
                            </i>
                            <input class="search-field" type="text" placeholder="SEARCH" name="email">
                        </div>
                        <div class="pl-48 flex tabs-right">
                            <a mat-list-item class="sidenav-link">
                                <mat-icon mat-list-icon>notifications_none</mat-icon>
                            </a>
                            <a mat-list-item class="sidenav-link">
                                <mat-icon mat-list-icon>headset_mic</mat-icon>
                            </a>
                            <a mat-list-item class="sidenav-link">
                                <mat-icon mat-list-icon>settings</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wrapperauto">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav>
</mat-sidenav-container>