<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
    
    <img class="loader" src="https://offerscouponsdeals.in/public/ocd_images/overlay-loader.gif">
</div> -->
<div id="ui-misreport">
    <div class="bg-white pb-36 b-a ">
        <div *ngIf="aumComponent==true" class="wrapper-20">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="pt-36">Mutual Fund - AUM Report</h3>
                </div>
                <div class="pt-20 pr-0">
                    <div class="row ">
                        <div class="col-md-9 pl-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="bg-aum pt-24 pb-24 text-center br-2 min-height162">

                                        <h1 class="text-white f-44 f-300 pt-32" *ngIf="MiscData1">{{MiscData1.totalAumRupees}}  
                                        </h1>
                                        <p class="f-16 pt-4 text-white">TOTAL AUM</p>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="bg-foliocount br-2 min-height162 pr-20 pl-12">

                                        <div class="row pt-12">
                                            <div class="col-md-5 text-left p-0" *ngIf="MiscData1">
                                                <div class="pl-12">
                                                    <h1 class="f-24 text-white mb-0 pb-8">{{MiscData1.totalFolioCount}}
                                                    </h1>
                                                    <p class="f-12 text-white mb-0">Folio Count</p>
                                                </div>
                                            </div>
                                            <div class="col-md-7 p-0 text-right" *ngIf="MiscData1">
                                                <h1 class="text-white f-24 mb-0 pb-8">{{MiscData1.averageFolioSize}}</h1>
                                                <p class="f-12 mb-0 text-white">Average Folio Size</p>

                                            </div>
                                            <div class="col-md-12 pr-0">
                                                <div class="pt-20">
                                                    <mat-progress-bar mode="determinate" value="10" class="text-white">
                                                    </mat-progress-bar>
                                                    <p class="text-white f-12 pt-4 mb-0 pb-8">10 % Clients without MF
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="bg-info p-16 br-2 pt-12 min-height162">
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <div class="text-center">
                                                    <h1 class="text-white f-300 f-40 mb-4 pt-8">13.22%</h1>

                                                    <p class="text-white f-14 mb-0 pt-12 l-21">Out of 5370 folios, 13.4% (716 folios) are currently linked to financial goals of your clients </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <p class="pt-12 mb-8 text-muted">Filter Options</p>
                                </div>
                            </div>
                            <div class="margin-12 mt-0">
                                <div class="row">
                                    <div class=" col-md-3 p-0 ">
                                        <div class="mr-8 bg-white b-a">
                                            <div class="row ">
                                                <div class="col-sm-3 text-right p-0 ">
                                                    <i class="material-icons pt-16 text-custom f-20 text-right ">
                                                            calendar_today
                                                        </i>
                                                </div>
                                                <div class="col-sm-9 text-left " (click)="categoryWise('category')">
                                                    <p class="mb-0 text-custom pt-16 pb-16 ">Category wise</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-0 p-0 ">
                                        <div class="mr-8 bg-white b-a">
                                            <div class="row ">
                                                <div class="col-sm-3 text-right p-0 ">
                                                    <i class="material-icons pt-12 text-custom f-20 ">
                                                            favorite
                                                        </i>
                                                </div>
                                                <div class="col-sm-9 text-left " (click)="categoryWise('amc')">
                                                    <p class="mb-0 text-custom pt-16 pb-16 ">AMC wise</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-0 p-0 ">
                                        <div class="mr-8 bg-white b-a">
                                            <div class="row ">
                                                <div class="col-sm-3 text-right p-0 ">
                                                    <i class="material-icons pt-16 text-custom f-20 text-right ">
                                                            shopping_cart
                                                        </i>
                                                </div>
                                                <div class="col-sm-9 text-left " (click)="categoryWise('client')">
                                                    <p class="mb-0 text-custom pt-16 pb-16 ">Client wise</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-0 ">
                                        <div class="bg-white b-a">
                                            <div class="row ">
                                                <div class="col-sm-3 text-right p-0 ">
                                                    <i class="material-icons pt-16 text-custom f-20 text-right ">
                                                            dehaze
                                                        </i>
                                                </div>
                                                <div class="col-sm-9 text-left " (click)="categoryWise('applicant')">
                                                    <p class="mb-0 text-custom pt-16 pb-16 ">Applicant wise</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-12">
                                <img src="https://res.cloudinary.com/futurewise/image/upload/v1566296616/chart_gasc6r.png " class="w-100 h-365">
                            </div>
                        </div>
                        <div class="col-md-3 p-0">

                            <div id="mistabs1">
                                <mat-tab-group class="h-300 bg-white b-a ">
                                    <mat-tab label="Clients">
                                        <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Top Clients </h6>

                                        <div class="b-white" *ngIf="clientTotalAum">
                                            <div class="row bb-dotted" *ngFor="let item of clientTotalAum">
                                                <div class="col-md-7 p-0 ">
                                                    <p class="mb-0 f-bold f-13 p-8 ">{{item.name}}</p>
                                                </div>
                                                <div class="col-md-5 p-0 ">
                                                    <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                        {{item.totalAum}}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </mat-tab>
                                    <mat-tab label="AMC " class="min-w140 ">
                                        <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Top AMC</h6>

                                        <div class="b-white " *ngIf="amcTotalAum">
                                            <div class="row bb-dotted " *ngFor="let item of amcTotalAum">
                                                <div class="col-md-7 p-0 ">
                                                    <p class="mb-0 f-bold f-13 p-8 ">{{item.schemeName}}</p>
                                                </div>
                                                <div class="col-md-5 p-0 ">
                                                    <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                        {{item.total_aum}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                            <div class="col-md-12 aumtabs p-0 mt-20 " id="mistabs2">
                                <mat-tab-group class="h-300 bg-white b-a ">
                                    <mat-tab label="Category ">
                                        <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">TOP CATEGORY</h6>


                                        <div class="b-white " *ngIf="category">
                                            <div class="row bb-dotted " *ngFor="let item of category">
                                                <div class="col-md-7 p-0 ">
                                                    <p class="mb-0 f-bold f-13 p-8 ">{{item.name}}</p>
                                                </div>
                                                <div class="col-md-5 p-0 ">
                                                    <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                        {{item.totalAum}}</p>
                                                </div>
                                            </div>
                                        </div>

                                    </mat-tab>

                                    <mat-tab label="Sub Category " class="min-w140 ">
                                        <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Sub Category</h6>
                                        <div class="b-white " *ngIf="subcategory">
                                            <div class="row bb-dotted " *ngFor="let item of subcategory">
                                                <div class="col-md-7 p-0 ">
                                                    <p class="mb-0 f-bold f-13 p-8 ">{{item.name}}</p>
                                                </div>
                                                <div class="col-md-5 p-0 ">
                                                    <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                        {{item.totalAum}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="componentWise=='category'">
        <app-category-wise></app-category-wise>
    </div>
    <div *ngIf="componentWise=='amc'">
        <app-amc-wise></app-amc-wise>
    </div>
    <div *ngIf="componentWise=='client'">
        <app-client-wise></app-client-wise>
    </div>
    <div *ngIf="componentWise=='applicant'">
        <app-applicant-wise></app-applicant-wise>
    </div>