<div class="wrapper-20 bg-grey lter heading-fix b-a">
  <h3 class="m-0 text-center head-common">{{upperData.name}}</h3>
</div>

<div *ngIf="quotationDesign=='true'" class="bg-white">

  <div class="wrapper-40 pr-20">
    <div class="pt-150 pr-0">
      <div class="row">
        <div class="col-md-12 p-0">
          <button mat-button class="right text-right mt-20 br-0" (click)="openPopup('QuotationHelpPopup')">HELP</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 p-0">
        <button mat-button [matMenuTriggerFor]="menu" class="b-a pr-0">Actions <i class="material-icons c-p iconscolors"
                                                                                  [matMenuTriggerFor]="menu"
                                                                                  [matMenuTriggerFor]="belowMenu">
          arrow_drop_down
        </i>
          <mat-menu #menu="matMenu">
            <a mat-menu-item>Select Quotation to see more actions</a>
          </mat-menu>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="b-t" *ngIf="dataCount == 0">Select Quotation to see more actions</button>
          <button mat-menu-item (click)="openQuotationsESign('eSignQuotations','open')"  *ngIf="dataCount != 0">Email only</button> 
          <button mat-menu-item (click)="deleteModal('QUOTATION')" *ngIf="dataCount != 0">Delete Quotations</button>
        </mat-menu>
      </div>
      <div class="col-md-9 p-0 ml-8">
        <p class="m-0 text-black text-left pt-10">{{dataCount}} documents selected</p>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mt-8" id="table-low">
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;">
          <mat-checkbox></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element" style="width: 2%;">
          <mat-checkbox [(ngModel)]="element.isChecked" (click)="selectedInvoice(element.isChecked)"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef> Document name</th>
        <td mat-cell *matCellDef="let element" class="c-p" (click)="viewQuotation('emailQuotation',element)"> {{element.documentName}} </td>
      </ng-container>
      <ng-container matColumnDef="plan">
        <th mat-header-cell *matHeaderCellDef> Plan name</th>
        <td mat-cell *matCellDef="let element"> {{element.planName}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Created date</th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="sdate">
        <th mat-header-cell *matHeaderCellDef> Sent date</th>
        <td mat-cell *matCellDef="let element"> {{element.sentDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="cdate">
        <th mat-header-cell *matHeaderCellDef> Client consent date</th>
        <td mat-cell *matCellDef="let element"> {{element.signedDate  | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element" class="text-success f-500"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="send">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div> 
              <button mat-stroked-button class="btn-header btn-xs br-0 t-50 p-0" (click)="viewQuotation('emailQuotationSend')">SEND</button>
            </div>
          </td>
        </ng-container>
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"></th>
        <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons c-p iconscolors"
                                                                     [matMenuTriggerFor]="menu"
                                                                     [matMenuTriggerFor]="belowMenu">
          more_vert
        </i>
          <mat-menu #menu="matMenu">
            <a mat-menu-item (click)="viewQuotation('emailQuotation',element)">View & Modify document</a>
            <a mat-menu-item class="bt-1" (click)="deleteModal('QUOTATION')">Delete quotation</a>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div  class="pt-130 pr-0"  *ngIf="quotationDesign=='emailQuotation'">
<app-email-only [emailSend]="quotationDesign" [quotationData]="this.dataSource" (valueChange)='display($event)'></app-email-only>
</div>
<div  class="pt-130 pr-0"  *ngIf="quotationDesign=='emailQuotationSend'">
    <app-email-only [emailSendfooter]="changeEmail"  (valueChange)='display($event)'></app-email-only>
    </div>
<div class="pt-14 pr-0">
  <app-terms-agreement *ngIf="quotationDesign=='termsAgreement'"></app-terms-agreement>
</div>
<div>
  <app-terms-agreement [quotationDesignE]="quotationDesignEmail" *ngIf="quotationDesign=='email'"
                       (valueChange)='display($event)'></app-terms-agreement>
</div>
