<div class="wrapper-20 bg-grey lter">
    <h3 class="m-0 text-center head-common">Ronak Hasmukh Hindocha</h3>
</div>

<div *ngIf="quotationDesign=='true'" class="bg-white">
    <div class="wrapper-20">
        <div class="row">
            <div class="col-md-12 p-0">
                <button mat-stroked-button class="btn-primary br-0 right text-right addon"><i class="material-icons">
                        add</i> ADD PLAN</button>
                <button mat-button class="right text-right mr-8" (click)="openPopup('QuotationHelpPopup')">HELP</button>

            </div>
        </div>
    </div>
    <div class="wrapper-40 pr-20">
        <div class="row">
            <div class="col-md-1 p-0">
                <button mat-button [matMenuTriggerFor]="menu" class="b-a pr-0">Actions <i class="material-icons">
                        arrow_drop_down
                    </i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openQuotationsESign('eSignQuotations','open')">Email with eSign request</button>
                    <button mat-menu-item (click)="changeDisplay('email')">Email only</button>
                    <button mat-menu-item (click)="deleteModal()">Delete document</button>
                </mat-menu>
            </div>
            <div class="col-md-9 p-0">
                <p class="m-0 text-black text-left pt-8">2 documents selected</p>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mt-8" id="table-low">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;">
                    <mat-checkbox></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element" style="width: 2%;">
                    <mat-checkbox checked="false"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="document">
                <th mat-header-cell *matHeaderCellDef> Document name</th>
                <td mat-cell *matCellDef="let element" class="c-p"> {{element.documentName}} </td>
            </ng-container>
            <ng-container matColumnDef="plan">
                <th mat-header-cell *matHeaderCellDef> Plan name </th>
                <td mat-cell *matCellDef="let element"> {{element.planName}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Created date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="sdate">
                <th mat-header-cell *matHeaderCellDef> Sent date </th>
                <td mat-cell *matCellDef="let element"> {{element.sentDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="cdate">
                <th mat-header-cell *matHeaderCellDef> Client consent date </th>
                <td mat-cell *matCellDef="let element"> {{element.signedDate  | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" class="text-success f-500" (click)="changeDisplay('termsAgreement')"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> </th>
                <td mat-cell *matCellDef="let element" style="width: 2%;"><i class="material-icons c-p iconscolors"
                        [matMenuTriggerFor]="menu" [matMenuTriggerFor]="belowMenu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item>View document</a>
                        <a mat-menu-item>Modify document</a>
                        <a mat-menu-item class="bt-1">Delete subscription</a>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>


<!-- email quotation inner part -->
<div *ngIf="quotationDesign=='false'">
        <button (click)="changeDisplay('completeSteps')">OK</button>
        <button (click)="changeDisplay('Bummer')">Cancel</button>
    </div>
    
    <div *ngIf="quotationDesign=='Bummer'">
        <button (click)="changeDisplay('false')">GO BACk</button>
        <button>CLOSE</button>
    </div>
    
    <div *ngIf="quotationDesign=='completeSteps'">
        <button>CLOSE</button>
    </div>
    <div>
    <app-terms-agreement *ngIf="quotationDesign=='termsAgreement'"></app-terms-agreement>
    <div>
    <div>
            <app-terms-agreement *ngIf="quotationDesign=='email'"></app-terms-agreement> 
    </div>