<div id="ui-assets">
        <div class="row">
            <div class="col-md-2 p-0 pt-8 pb-20 bg-grey lter">
                <ul class="vertical-menu">
                    <li (click)="viewMode ='tab1'" [ngClass]="{'b-ua':viewMode =='tab1'}" class="b-ua c-p">
                        Mutual funds</li>
                    <li (click)="viewMode ='tab2';getPrefixData(1)" [ngClass]="{'b-ua':viewMode =='tab2'}" class="c-p">
                        Stocks</li>
                    <li (click)="viewMode ='tab3';getPrefixData(2)" [ngClass]="{'b-ua':viewMode =='tab3'}" class="c-p">
                        <div class="row">
                            <div class="col-md-10 p-0"> Fixed income</div>
                            <div class="col-md-2 p-0">
                                <p class="m-0 text-right text-custom pt-2">4</p>
                            </div>
                        </div>
                    </li>
                    <li (click)="viewMode ='tab4';getPrefixData(3)" [ngClass]="{'b-ua':viewMode =='tab4'}" class=" c-p">
                        Real estate</li>
                    <li (click)="viewMode ='tab5'" [ngClass]="{'b-ua':viewMode =='tab5'}" class=" c-p">
                        Retirement accounts</li>
                    <li (click)="viewMode ='tab6'" [ngClass]="{'b-ua':viewMode =='tab6'}" class=" c-p">
                        Small saving schemes</li>
                    <li (click)="viewMode ='tab7'" [ngClass]="{'b-ua':viewMode =='tab7'}" class=" c-p">
                        Cash & Bank</li>
                    <li (click)="viewMode ='tab8'" [ngClass]="{'b-ua':viewMode =='tab8'}" class=" c-p">
                        Commodities</li>
                    <li (click)="viewMode ='tab9'" [ngClass]="{'b-ua':viewMode =='tab9'}" class=" c-p">
                        Miscellaneous</li>
                </ul>
    
            </div>
            <div class="col-md-10 b-a p-0 min-height" [ngSwitch]="viewMode">
                <div *ngSwitchCase="'tab1'">
    
                    <!-- <div class="wrapper-8">
                        <div class="row">
                            <div class="col-md-12 right text-right pt-28 pb-28 pr-0">
                                <button mat-stroked-button [matMenuTriggerFor]="menu" class="b-a br-0">Overview Report
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Overview Report</button>
                                    <button mat-menu-item>Summary</button>
                                    <button mat-menu-item>All Transactions</button>
                                    <button mat-menu-item>Unrealized Transactions</button>
                                    <button mat-menu-item>Capital Gains</button>
                                    <button mat-menu-item>Goal Linkage</button>
                                </mat-menu>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-4 p-0">
                                <h4 class="m-0 text-black roboto">Mutual fund overview</h4>
                            </div>
                            <div class="col-md-8 p-0 right text-right">
                                <img src="assets/images/svg/download-bordered.svg" class="c-p">
                                <img src="assets/images/svg/up-down.svg" class="c-p">
                                <img src="assets/images/svg/three-dot-bordered.svg" class="c-p mr-12">
    
                                <button mat-stroked-button class="btn-default addon mr-12 v-middle"><i class="material-icons">filter_list</i>FILTERS</button>
                                <button mat-stroked-button class="btn-primary addon v-middle" [matMenuTriggerFor]="menu1"><i class="material-icons">add</i>ADD NEW</button>
                                <mat-menu #menu1="matMenu" class="add-new">
                                    <button mat-menu-item class="b-b">
                                        <div class="row">
                                            <div class="col-md-2 pr-8 text-right">
                                                <img src="assets/images/svg/dark-three-dot.svg">
                                            </div>
                                            <div class="col-md-10">
                                                <p class="m-0 text-black">Portfolio summary</p>
                                                <p class="m-0 f-13 pt-4 text-custom">Add just the overall portfolio<br> summary. Time saver!</p>
                                            </div>
                                        </div>
                                    </button>
                                    <button mat-menu-item class="b-b">
                                        <div class="row">
                                            <div class="col-md-2 pr-8 text-right">
                                                <img src="assets/images/svg/scheme-icon.svg">
                                            </div>
                                            <div class="col-md-10">
                                                <p class="m-0 text-black">Scheme level transactions</p>
                                                <p class="m-0 pt-4 f-13 text-custom">Add transaction data at<br>
                                                    scheme level for better reporting</p>
                                            </div>
                                        </div>
                                    </button>
                                    <button mat-menu-item>
                                        <div class="row">
                                            <div class="col-md-2 pr-8 text-right">
                                                <img src="assets/images/svg/dark-download.svg">
                                            </div>
                                            <div class="col-md-10">
                                                <p class="m-0 text-black">Import data</p>
                                                <p class="m-0 pt-4 f-13 text-custom">Add transaction data at<br>
                                                    scheme level for better reporting</p>
                                            </div>
                                        </div>
                                    </button>
                                  </mat-menu>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-12">
                        <div class="col-md-5 pr-4 pl-8">
                            <div class="row b-a">
                                <div class="col-md-12 bg-grey lter p-0">
                                    <h5 class="mb-0 wrapper-8 pt-12 pb-16 text-black b-b">Summary</h5>
                                </div>
                                <div class="col-md-12 p-0">
                                    <p class="m-0 text-custom pt-24 pl-8">Current value</p>
                                    <h2 class="m-0 f-300 text-black pt-4 pl-8 pb-24">₹28,37,842</h2>
                                </div>
                                <div class="col-md-12 p-0">
                                    <div class="row bg-light lter pt-20 pb-20 bt-1">
                                        <div class="col-md-4 pr-0 pl-12">
                                            <p class="text-custom m-0">Amount invested</p>
                                            <h5 class="m-0 text-black">₹19,24,908</h5>
                                        </div>
                                        <div class="col-md-4 pr-0 pl-12">
                                            <p class="text-custom m-0">Unrealized gain/loss</p>
                                            <h5 class="m-0 text-success">₹9,13,206</h5>
                                        </div>
                                        <div class="col-md-4 pr-0 pl-12">
                                            <p class="text-custom m-0">Returns</p>
                                            <h5 class="m-0 text-success">12.23% <i class="material-icons f-14 f-700">
                                                                arrow_upward
                                                                </i></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 pl-4 pr-8">
                            <div class="row">
                                <div class="col-md-5 p-0 b-a">
                                    <img src="assets/images/svg/circle-chart.svg" class="center-img">
                                </div>
                                <div class="col-md-7 b-a bl-0 p-0">
                                    <div class="row b-b pt-12">
                                        <div class="col-md-1">
                                            <div class="hw-16 bg-primary"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="f-500 text-black">Equity</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">5,24,819</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">23.43%</p>
                                        </div>
                                    </div>
                                    <div class="row b-b pt-12">
                                        <div class="col-md-1">
                                            <div class="hw-16 bg-success"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="f-500 text-black">Debt</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">5,24,819</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">23.43%</p>
                                        </div>
                                    </div>
                                    <div class="row b-b pt-12">
                                        <div class="col-md-1">
                                            <div class="hw-16 bg-warning"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="f-500 text-black">Hybrid</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">5,24,819</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">23.43%</p>
                                        </div>
                                    </div>
                                    <div class="row b-b pt-12">
                                        <div class="col-md-1">
                                            <div class="hw-16 bg-danger"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="f-500 text-black">Solutions oriented</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">5,24,819</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">23.43%</p>
                                        </div>
                                    </div>
                                    <div class="row pt-12">
                                        <div class="col-md-1">
                                            <div class="hw-16 bg-grey dker"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="f-500 text-black">Others</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">5,24,819</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-black">23.43%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-12">
                        <div class="col-md-6 pr-4 pl-8">
                            <div class="bg-grey lter">
                                <h5 class="m-0 wrapper-8 b-a">Scheme wise allocation</h5>
                            </div>
                            <div class="example-container" id="table-low">
                                <table mat-table [dataSource]="dataSource">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="t-55 br"> Scheme name </th>
                                        <td mat-cell *matCellDef="let element" class="t-55 br"> {{element.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="amt">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Amount
                                            invested </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.amt}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="value">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Current value </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.value}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="abs">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Abs 
                                            Ret % </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.abs}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="xirr">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> XIRR % </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.xirr}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="alloc">
                                        <th mat-header-cell *matHeaderCellDef class="text-right"> Alloc % </th>
                                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.alloc}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-grey lter">
                                <h5 class="m-0 wrapper-8 b-a">Cashflow status</h5>
                            </div>
                            <div class="example-container" id="table-low">
                                <table mat-table [dataSource]="datasource1" class="cashflow">
                                    <ng-container matColumnDef="data">
                                        <th mat-header-cell *matHeaderCellDef class="t-55 br"> Scheme name </th>
                                        <td mat-cell *matCellDef="let element" class="t-55 br"> {{element.data}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="amts">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Amount
                                            invested </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.amts}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-12 pb-44">
                        <div class="col-md-6 pr-4 pl-8">
                            <div class="bg-grey lter">
                                <h5 class="m-0 wrapper-8 b-a">Scheme wise allocation</h5>
                            </div>
                            <div class="example-container" id="table-low">
                                <table mat-table [dataSource]="dataSource">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Scheme name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="amt">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Amount
                                            invested </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.amt}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="value">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Current value </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.value}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="abs">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Abs 
                                            Ret % </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.abs}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="xirr">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> XIRR % </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.xirr}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="alloc">
                                        <th mat-header-cell *matHeaderCellDef class="text-right"> Alloc % </th>
                                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.alloc}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-grey lter">
                                <h5 class="m-0 wrapper-8 b-a">Family member wise allocation</h5>
                            </div>
                            <div class="example-container" id="table-low">
                                <table mat-table [dataSource]="dataSource">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="t-55 br"> Scheme name </th>
                                        <td mat-cell *matCellDef="let element" class="t-55 br"> {{element.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="amt">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Amount
                                            invested </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.amt}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="value">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Current value </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.value}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="abs">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> Abs 
                                            Ret % </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.abs}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="xirr">
                                        <th mat-header-cell *matHeaderCellDef class="br text-right"> XIRR % </th>
                                        <td mat-cell *matCellDef="let element" class="br text-right"> {{element.xirr}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="alloc">
                                        <th mat-header-cell *matHeaderCellDef class="text-right"> Alloc % </th>
                                        <td mat-cell *matCellDef="let element" class="text-right"> {{element.alloc}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div> -->
                    <div class="wrapper-8 pt-0">
                        <div class="row pt-28">
                            <div class="col-md-12 right text-right ">
                                <button mat-stroked-button [matMenuTriggerFor]="menu" class="ba-black br-2 text-black pr-8 t-15 pl-0">Summary
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-right right pt-6">keyboard_arrow_down</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Overview Report</button>
                                    <button mat-menu-item>Summary</button>
                                    <button mat-menu-item>All Transactions</button>
                                    <button mat-menu-item>Unrealized Transactions</button>
                                    <button mat-menu-item>Capital Gains</button>
                                    <button mat-menu-item>Goal Linkage</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row pt-28">
                            <div class="col-md-3 p-0">
                                <h4 class="m-0 text-black roboto">Mutual fund overview</h4>
                            </div>
                            <div class="col-md-9 p-0 right text-right">
                                <img src="assets/images/svg/mail-light.svg" class="b-a">
                                <img src="assets/images/svg/pdf-icons.svg" class="b-t b-b">
                                <img src="assets/images/svg/printer.svg" class="b-a">
                                <img src="assets/images/svg/printer.svg" class="mr-12 b-t b-b br">
                               
                                <button mat-stroked-button class="btn-default addon mr-12 v-middle"><i class="material-icons">filter_list</i>FILTERS</button>
                            </div>
                           
                        </div>
                        <div class="example-container mt-8 mb-44" id="table-low">
                            <table mat-table [dataSource]="datasource2">
    
                                <!-- Position Column -->
                                <ng-container matColumnDef="sname">
                                    <th mat-header-cell *matHeaderCellDef class="br t-45"> Scheme name </th>
                                    <td mat-cell *matCellDef="let element" class="br t-45 c-p"> {{element.sname}} </td>
                                </ng-container>
    
                                <!-- Name Column -->
                                <ng-container matColumnDef="amts">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Amount invested </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.amts}} </td>
                                </ng-container>
    
                                <!-- Weight Column -->
                                <ng-container matColumnDef="cvalue">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Current value </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.cvalue}} </td>
                                </ng-container>
    
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="profit">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Unrealized profit (loss) </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.profit}} </td>
                                </ng-container>
                                <ng-container matColumnDef="abs">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Abs Ret % </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.abs}} </td>
                                </ng-container>
                                <ng-container matColumnDef="xirr">
                                    <th mat-header-cell *matHeaderCellDef class="br t-5"> XIRR % </th>
                                    <td mat-cell *matCellDef="let element" class="br t-5"> {{element.xirr}} </td>
                                </ng-container>
                                <ng-container matColumnDef="pay">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Dividend payout </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.pay}} </td>
                                </ng-container>
                                <ng-container matColumnDef="outs">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Withdrawals Switch outs </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.outs}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unit">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> Balance Unit </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.unit}} </td>
                                </ng-container>
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> NAV Date </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.date}} </td>
                                </ng-container>
                                <ng-container matColumnDef="sip">
                                    <th mat-header-cell *matHeaderCellDef class="br text-right t-5"> SIP </th>
                                    <td mat-cell *matCellDef="let element" class="br text-right t-5"> {{element.sip}} </td>
                                </ng-container>
                                <ng-container matColumnDef="icons">
                                    <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                                    <td mat-cell *matCellDef="let element" class="t-2"> <i class="material-icons c-p" [matMenuTriggerFor]="menu">
                                                                more_vert
                                                                </i>
                                                                <mat-menu #menu="matMenu">
                                                                        <button mat-menu-item>View factsheet</button>
                                                                        <button mat-menu-item>Download SOA</button>
                                                                        <button mat-menu-item>Folio master details</button>
                                                                        <button mat-menu-item>SIP details</button>
                                                                        <button mat-menu-item class="b-t">Transact online</button>
                                                                        <button mat-menu-item>Transaction slip</button>
                                                                        <button mat-menu-item class="b-t">View transactions</button>
                                                                        <button mat-menu-item>Add records</button>
                                                                        <button mat-menu-item>Delete scheme</button>
                                                                      </mat-menu>
                                                            </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                            </table>
                        </div>
                    </div>
    
                </div>
                <div *ngSwitchCase="'tab2'">
                    <div class="wrapper-8">
                        <div class="row">
                            <div class="col-md-12 right text-right pt-28 pb-28 pr-0">
                                <button mat-stroked-button [matMenuTriggerFor]="menu" class="b-a br-0">Overview Report
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Overview Report</button>
                                    <button mat-menu-item>Summary</button>
                                    <button mat-menu-item>All Transactions</button>
                                    <button mat-menu-item>Unrealized Transactions</button>
                                    <button mat-menu-item>Capital Gains</button>
                                    <button mat-menu-item>Goal Linkage</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-0">
                                <h4 class="m-0 text-black roboto">Mutual fund overview</h4>
                            </div>
                            <div class="col-md-8 p-0 right text-right">
                                <img src="assets/images/svg/download-bordered.svg" class="c-p">
                                <img src="assets/images/svg/up-down.svg" class="c-p">
                                <img src="assets/images/svg/three-dot-bordered.svg" class="c-p mr-12">
    
                                <button mat-stroked-button class="btn-default addon mr-12 v-middle"><i class="material-icons">filter_list</i>FILTERS</button>
                                <button mat-stroked-button class="btn-primary addon v-middle" [matMenuTriggerFor]="menu1"><i class="material-icons">add</i>ADD NEW</button>
                                <mat-menu #menu1="matMenu" class="add-new">
                                    <button mat-menu-item class="b-b">
                                        <div class="row">
                                            <div class="col-md-2 pr-8 text-right">
                                                <img src="assets/images/svg/dark-three-dot.svg">
                                            </div>
                                            <div class="col-md-10">
                                                <p class="m-0 text-black">Portfolio summary</p>
                                                <p class="m-0 f-13 pt-4 text-custom">Add just the overall portfolio<br> summary. Time saver!</p>
                                            </div>
                                        </div>
                                    </button>
                                    <button mat-menu-item class="b-b">
                                        <div class="row">
                                            <div class="col-md-2 pr-8 text-right">
                                                <img src="assets/images/svg/scheme-icon.svg">
                                            </div>
                                            <div class="col-md-10">
                                                <p class="m-0 text-black">Scheme level transactions</p>
                                                <p class="m-0 pt-4 f-13 text-custom">Add transaction data at<br>
                                                    scheme level for better reporting</p>
                                            </div>
                                        </div>
                                    </button>
                                    <button mat-menu-item>
                                        <div class="row">
                                            <div class="col-md-2 pr-8 text-right">
                                                <img src="assets/images/svg/dark-download.svg">
                                            </div>
                                            <div class="col-md-10">
                                                <p class="m-0 text-black">Import data</p>
                                                <p class="m-0 pt-4 f-13 text-custom">Add transaction data at<br>
                                                    scheme level for better reporting</p>
                                            </div>
                                        </div>
                                    </button>
                                  </mat-menu>
                            </div>
                            <div class="row pt-12">
                                <div class="col-md-5 pr-4 pl-0">
                                    <div class="row b-a">
                                        <div class="col-md-12 bg-grey lter p-0">
                                            <h5 class="mb-0 wrapper-8 pt-12 pb-16 text-black b-b">Summary</h5>
                                        </div>
                                        <div class="col-md-12 p-0">
                                            <p class="m-0 text-custom pt-24 pl-8">Current value</p>
                                            <h2 class="m-0 f-300 text-black pt-4 pl-8 pb-24">₹28,37,842</h2>
                                        </div>
                                        <div class="col-md-12 p-0">
                                            <div class="row bg-light lter pt-20 pb-20 bt-1">
                                                <div class="col-md-4 pr-0 pl-12">
                                                    <p class="text-custom m-0">Amount invested</p>
                                                    <h5 class="m-0 text-black">₹19,24,908</h5>
                                                </div>
                                                <div class="col-md-4 pr-0 pl-12">
                                                    <p class="text-custom m-0">Unrealized gain/loss</p>
                                                    <h5 class="m-0 text-success">₹9,13,206</h5>
                                                </div>
                                                <div class="col-md-4 pr-0 pl-12">
                                                    <p class="text-custom m-0">Returns</p>
                                                    <h5 class="m-0 text-success">12.23% <i class="material-icons f-14 f-700">
                                                                        arrow_upward
                                                                        </i></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 pl-4 pr-0">
                                    <div class="row">
                                        <div class="col-md-4 p-0 b-a">
                                            <img src="assets/images/svg/circle-chart.svg">
                                        </div>
                                        <div class="col-md-8 b-a bl-0 p-0">
                                            <div class="row b-b pt-12">
                                                <div class="col-md-1">
                                                    <div class="hw-16 bg-primary"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="f-500 text-black">Banking</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="text-black">5,24,819</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="text-black">23.43%</p>
                                                </div>
                                            </div>
                                            <div class="row b-b pt-12">
                                                <div class="col-md-1">
                                                    <div class="hw-16 bg-success"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="f-500 text-black">Information technology</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="text-black">5,24,819</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="text-black">23.43%</p>
                                                </div>
                                            </div>
                                            <div class="row b-b pt-12">
                                                <div class="col-md-1">
                                                    <div class="hw-16 bg-warning"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="f-500 text-black">FMCG</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="text-black">5,24,819</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="text-black">23.43%</p>
                                                </div>
                                            </div>
                                            <div class="row b-b pt-12">
                                                <div class="col-md-1">
                                                    <div class="hw-16 bg-danger"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="f-500 text-black">Auto ancillaries</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="text-black">5,24,819</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="text-black">23.43%</p>
                                                </div>
                                            </div>
                                            <div class="row pt-12">
                                                <div class="col-md-1">
                                                    <div class="hw-16 bg-grey dker"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="f-500 text-black">Others</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="text-black">5,24,819</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="text-black">23.43%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-12 pb-44">
                            <div class="col-md-12 pr-4 pl-0">
                                <div class="bg-white">
                                    <p class="m-0 wrapper-8 b-a text-primary f-500">MOTILAL OSWAL PORTFOLIO | RAHUL JAIN</p>
                                </div>
                                </div>
                                <br>
                                <br><br><br><br> <br><br><br><br> <br><br><br><br>
                                <div class="col-md-12 pr-4 pl-0">
                                    <div class="bg-white">
                                        <p class="m-0 wrapper-8 b-a text-primary f-500">MOTILAL OSWAL PORTFOLIO | RAHUL JAIN</p>
                                    </div>
                                    </div>
                    </div>
                </div>
                </div>
                <div *ngSwitchCase="'tab3'">
                   
                </div>
                <div *ngSwitchCase="'tab4'">
                    <div class="wrapper-8">
                        <div class="row">
                            <div class="col-md-12 right text-right pt-28 pb-28 pr-0">
                                <button mat-stroked-button [matMenuTriggerFor]="menu" class="b-a br-0">Overview Report
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Overview Report</button>
                                    <button mat-menu-item>Summary</button>
                                    <button mat-menu-item>All Transactions</button>
                                    <button mat-menu-item>Unrealized Transactions</button>
                                    <button mat-menu-item>Capital Gains</button>
                                    <button mat-menu-item>Goal Linkage</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-0">
                                <h4 class="m-0 text-black roboto">Real estate</h4>
                            </div>
                            <div class="col-md-8 p-0 right text-right">
                                <img src="assets/images/svg/download-bordered.svg" [matMenuTriggerFor]="menu" class="c-p">
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>PDF</button>
                                    <button mat-menu-item>XLS</button>
                                  </mat-menu>
                                <img src="assets/images/svg/up-down.svg" class="c-p">
                                <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu1" class="c-p mr-12">
                                <mat-menu #menu1="matMenu">
                                    <button mat-menu-item>Email Report</button>
                                    <button mat-menu-item>Option 2</button>
                                    <button mat-menu-item>Option 3</button>
                                  </mat-menu>
                                <button mat-stroked-button class="btn-default addon mr-12 v-middle"><i class="material-icons">filter_list</i>FILTERS</button>
                                <button mat-stroked-button class="btn-primary addon v-middle"><i class="material-icons">add</i>ADD NEW</button>
                         
                            </div>
                           
                        </div>
                        <div class="example-container mt-8 real-estate">
                            <table mat-table [dataSource]="datasource3" id="table-low">
                              <ng-container matColumnDef="no">
                                <th mat-header-cell *matHeaderCellDef class="br"> No </th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.no}} </td>
                              </ng-container>
                              <ng-container matColumnDef="owner">
                                <th mat-header-cell *matHeaderCellDef class="br"> Owner </th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.owner}} </td>
                              </ng-container>
                              <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef class="br"> Type </th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.type}} </td>
                              </ng-container>
                              <ng-container matColumnDef="value">
                                <th mat-header-cell *matHeaderCellDef class="br"> Market value </th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.value}} </td>
                              </ng-container>
                              <ng-container matColumnDef="pvale">
                                <th mat-header-cell *matHeaderCellDef class="br"> Purchase value </th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.pvale}} </td>
                              </ng-container>
                              <ng-container matColumnDef="desc">
                                <th mat-header-cell *matHeaderCellDef class="br"> Description</th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.desc}} </td>
                              </ng-container>
                              <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef class="br"> Status</th>
                                <td mat-cell *matCellDef="let element" class="text-primary br"> {{element.status}} </td>
                              </ng-container>
                              <ng-container matColumnDef="icons">
                                <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                                <td mat-cell *matCellDef="let element" class="t-2"> <i class="material-icons c-p text-black">
                                                            more_vert
                                                            </i>
                                                          
                                                        </td>
                            </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                            </table>
                          </div>
                </div> 
                </div>
                <div *ngSwitchCase="'tab5'">
    
                </div>
                <div *ngSwitchCase="'tab6'">
    
                </div>
                <div *ngSwitchCase="'tab7'">
    
                </div>
                <div *ngSwitchCase="'tab8'">
    
                </div>
                <div *ngSwitchCase="'tab9'">
    
                </div>
            </div>
        </div>