p{
  font-family: "Roboto",sans-serif;
  font-weight: normal;
}
.hw-16{
  height: 16px;
  width: 16px;
}
.center-img{
  margin: 0 auto;
  display: block;
  text-align: center;
}
.example-container {
  height: 320px;
  overflow: auto;
}
table {
  width: 100%;
}
::ng-deep #table-low th{
  padding: 7px 5px !important 
}
::ng-deep #table-low tbody td.br {
  border-right: 1px solid #dee5e7 !important;
}
::ng-deep .mat-row:last-child{
  font-weight: 700;
}
::ng-deep #table-low .cashflow tbody td{
  padding: 3px 5px !important;
  color: #000000;
}
::ng-deep #table-low .cashflow tr.mat-row{
  height: 28px;
}
::ng-deep  .add-new .mat-menu-item{
  height: 90px;
  line-height: 28px;
  padding: 0 !important;
}
::ng-deep .add-new .mat-menu-panel{
  border-radius: 0px;
}