/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import'./assets/style/scss/variable';
@import'./assets/style/scss/_color';
@import'./assets/style/scss/_helper';
@import'./assets/style/scss/_common';
@import'./assets/style/scss/_form';
@import './assets/style/scss/_sidenavbar';
@import './assets/style/scss/_card';
@import'./assets/style/scss/table';
@import'./assets/style/scss/plugin';
@import'./assets/style/scss/config';
@import'./assets/style/scss/border';
@import'./assets/style/scss/fixing';
@import'./assets/style/scss/height-width';
@import'./assets/style/scss/progressbar';
@import'./assets/style/scss/_footer';

@mixin heading {
    padding-left: 20px !important;
    padding-top: 20px !important;
}

@mixin borderbottomnone {
    border-bottom: 0;
}

@mixin tab-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #595252;
    min-width: 0 !important;
    text-transform: uppercase;
}

@mixin breadcrumbafter {
    font-family: "Material Icons";
    content: "\e5cc";
    color: #83959D;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

@mixin breadcrumblinks {
    text-decoration: none;
    color: #83959D;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar {
    height: 48px !important;
}

.mat-ink-bar {
    height: 4.5px !important;
    color: #2680EB !important;
}

.text-blue .mat-tab-label,
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #2680EB !important;
}

.main-details {
    .mat-form-field,
    .mat-option {
        font-family: "proxima-nova", sans-serif;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        display: none;
    }
    .mat-select-value {
        width: 85%;
    }
}

#ui-subscriptions {
    .cusotm-haeding-main{
        position: fixed;
        z-index: 1111;
        padding: 25px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.2px;
        margin: 0;

    }
    h3.top-head {
        @include heading;
    }
    .mat-tab-header {
        @include borderbottomnone;
    }
    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    li:after {
        @include breadcrumbafter;
    }
    li:last-child:after {
        content: '';
    }
    a {
        text-decoration: none;
        color: #83959D;
    }
    .mat-tab-label {
        @include tab-label;
    }
    .actions {
        color: #757575;
        text-align: right;
    }
    .mat-progress-bar-fill::after {
        background-color: $white;
    }
}

#ui-misreport {
    margin-top: 65px;
    h3.top-head {
        @include heading;
    }
    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    li:after {
        @include breadcrumbafter;
    }
    li:last-child:after {
        content: '';
    }
    a {
        text-decoration: none;
        color: #83959D;
    }
    .mat-tab-label {
        padding: 0px 15px !important;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #595252;
        text-transform: uppercase;
    }
    .actions {
        color: #757575;
        text-align: right;
    }
    .mat-progress-bar-fill::after {
        background-color: $white;
    }
}

#ui-subscriptions {
    h3.top-head {
        padding-left: 20px !important;
        padding-top: 20px !important;
    }
    .mat-tab-header {
        border-bottom: 0px;
    }
    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    li:after {
        @include breadcrumbafter;
    }
    li:last-child:after {
        content: '';
    }
    a {
        @include breadcrumblinks;
    }
    .mat-tab-label {
        @include tab-label;
        padding: 0px 15px !important;
    }
    .actions {
        color: #757575;
        text-align: right;
    }
    .mat-progress-bar-fill::after {
        background-color: $white;
    }
    .mat-tab-header {
        position: fixed;
        margin-top: 4px;
        float: right;
        width: 100%;
        padding-right: 15px;
        right: 0;
        z-index: 10;
        background: #fff !important;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
    }
}
#ui-subs{
    .custom-tags .mat-form-field-infix{
          padding-top: 4px;
          border-top:0px !important

}
.custom-tags .mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
}
}
#mistabs1,
#mistabs2 ,#siptabs1,#siptabs2{
    .mat-tab-label {
        // min-width: 150px !important;
        height: 45px !important;
    }
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none !important
    }
    .mat-ink-bar {
        height: 1.5px !important;
    }
    .h-300 {
        height: 300px;
        overflow: auto;
    }
     ::-webkit-scrollbar {
        width: 7px;
    }
    .mat-tab-body-content {
        overflow-x: hidden !important;
    }
}

#ui-subscriptions,
#ui-plans {
    @extend .mt-60;
    .example-card .mat-card-header-text {
        margin: 0 !important;
    }
    .plan-description {
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.2px;
        color: #3F3F3F;
        word-break: break-all;
    }
    .mat-card-header {
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
    }
    .mat-card-header .mat-card-subtitle:not(:first-child) {
        font-family: "Proxima Nova", sans-serif !important;
        letter-spacing: 0.2px;
        line-height: 19px;
        color: #3F3F3F;
    }
}
#ui-service-documents{
    .example-card .mat-card-header-text {
        margin: 0 !important;
    }
    .mat-card-header {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
    }
    .mat-card-header .mat-card-subtitle:not(:first-child) {
        font-family: "Proxima Nova", sans-serif !important;
        letter-spacing: 0.2px;
        line-height: 19px;
        color: #3F3F3F;
    }
    // .custom-checkbox .mat-checkbox-inner-container{
    //     top:0;
    //     right: 0;
    //     position: absolute;
    // }

}
.example-card {
    // border: 1px solid rgba(0, 0, 0, 0.12);
    transition: box-shadow .3s;
    &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
}

.example-card.height-470 {
    height: 100%;
    // height: 470px;


}

.icon-center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 72px;
    cursor: pointer;
}

#ui-subscriptions .sub-headings .mat-tab-labels {
    float: right;
    text-align: right;
    margin-right: 12px;
}

#ui-subscriptions .sub-headings .mat-tab-label-container {
    position: fixed;
    width: 85%;
    padding-right: 30px;
    float: right;
    z-index: 2;
    margin-top: -4px;
    background: #fff;
}

#ui-subscriptions .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
}

#upper .mat-tab-labels {
    display: block !important;
    text-align: center;
}
#ui-settings-subs,
#ui-mutualsecond-header {
    box-shadow: 0 !important;
    .mat-tab-header {
        border-bottom: 0px;
        margin-right: 12px;
    }
    .mat-tab-label {
        height: 40px !important;
        margin-top: 15px;
        margin-bottom: 10px;
        line-height: 2;
    }
    .mat-ink-bar {
        display: none !important;
    }
    .mat-tab-label {
        color: #595252;
    }
    .mat-tab-label.mat-tab-label-active {
        border: 1px solid #BCC6CA;
        width: auto;
        background: transparent;
        color: #008FFF;
    }
}

.dialogBox {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    .mat-dialog-container {
        padding: 0 !important;
    }
}

#table-low label {
    background-color: transparent !important;
    margin-bottom: 0;
    padding: 0px 3px;
}

.slim-loading-bar-progress {
    z-index: 222;
    position: absolute;
}

// right sidebar 4-9-2019
.right_sidenav {
    height: 100%;
    position: fixed;
    z-index: 222;
    top: 0;
    width: 60%;
    // right: 0;
    left: 100%;
    background-color: #fff;
    overflow-x: hidden;
    // transition: 0.4s;
    border: 1px solid #ddd;
    border-top:0px !important;
}

.right_sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.right_sidenav a:hover {
    color: #f1f1f1;
}

.right_sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.upper_slider {
  height: 100%;
  position: fixed;
  z-index: 222;
  top: -100%;
  width: 100%;
  // right: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  // transition: 0.4s;

}
.mat-dialog {
    transition: none;
}
mat-tab-group[vertical] .mat-tab-labels {
    display: flex;
    flex-direction: column!important;
}

mat-tab-group[vertical] {
    display: flex;
    flex-direction: row!important;
}
// invoice pdf documents
#ui-invoice-pdf-documents{
    .mat-form-field-appearance-legacy .mat-form-field-underline{
        display: none;
    }
    .my-btn{
        width: 36px !important;
    min-width: 0px !important;
    padding: 0 !important;
    }
    .custom-width .mat-select-value{
        width: 75%;
    }
}
// invoice pdf documents end
#ui-settings-headers{
    .mat-tab-header{
        box-shadow: none !important;
    }
}
#ui-perferences,#ui-assets{
        .vertical-menu {

        height: 100%;
        display:block !important;

        width: 100%;
        text-align: center;
    }
    li{

        color: #212121;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        padding: 8px 12px 4px;
        text-align: left;

        border-right: 0px !important;
    }

    li:after{
        display: none;
    }
    a{
        padding: 8px;
    }
}
#ui-assets{
    li{
        padding-top: 12px;
        padding-left: 24px;
        padding-bottom: 8px;
        font-size: 14px;
    }
}
#ui-biller-tabs{
    margin-top: 40px;
    margin-bottom: 40px;

    .mat-tab-body-content{
        overflow: hidden !important;
    }

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
    display: none !important;

}
.mat-tab-header{
    border-bottom: 0px !important;
}
.mat-ink-bar{
    display: none !important;
}
.mat-tab-label{
    // border-right:1px solid #ddd;
    border-bottom-color: transparent !important;
    height: 50px !important;
    min-width: 75px;

}
.mat-tab-body-wrapper{
    border:1px solid #ddd;

}
.mat-tab-label-active{
    border:1px solid #ddd;
    border-bottom: 0px !important;
}
}

#ui-customer{

    .mat-tab-header{
        border-bottom: 0px !important;
        position: fixed;
        width: 100%;
        top: 0;
        background: #fff;
        z-index: 999;
    }
    .left-icons{

        position: fixed;
        z-index: 1111;
        padding: 25px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.2px;
        margin: 0;
    }
    .mat-tab-label{
       
        min-width: 110px !important;
    }
    .mat-ink-bar{
        height: 6px !important;
    }
}
#ui-account-summary,#ui-assets{
    padding-top: 129px !important;
}
#ui-account-second-head{
    .mat-tab-header{
        background-color: #1F1F1F;
        position: fixed;
    margin-top: 64px;
    float: right;
    width: 100%;
    // padding-right: 15px;
    // right: 0;
    z-index: 10;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);


    }
    .mat-tab-label{
        color: #fff;
        padding: 0 !important;
        min-width: 110px;
    }
    .mat-tab-label:focus:not(.mat-tab-disabled){
        background-color: #ddd;
        color:#008FFF;
    }
    .mat-ink-bar{
        display: none;
    }
}
#advisor-home{
    position: fixed;
    z-index: 1111;
    margin-top: 78px;
    border: 1px solid #FFC100;
    color: #FFC100;
    margin-left: 20px;

}

.real-estate,.fixed-deposite{
    tr.mat-header-row {
        height: 40px;
        padding: 10px 8px !important;
    }
     tr.mat-row{
    // padding: 3px 5px !important;
    height: 40px !important;
  }
  #table-low tbody td{
      padding: 6px 8px !important
  }
}
