<div class="row bb-1 popup-header-fix-50">
    <div class="col-md-10 p-0">
        <h5 class="m-0 wrapper-20">Consent T&C</h5>
    </div>
    <div class="col-md-2">
            <i class="material-icons pt-16 right text-right c-p" (click)="Close()"> clear </i>
    </div>
</div>
<div class="pl-28 text-black pb-44 pr-28">
       <p class="m-0 roboto pt-100"> REPRESENTATIONS AND WARRANTIES</p>
       <p class="roboto">Representations and Warranties by Licensor:</p>
        
       <p class="roboto">Licensor is the owner of all right, title and interest, including copyright, in all the Licensed Materials, or has the authority to enter into this Agreement on behalf of the owner.</p>
        
        <p class="roboto">Licensor will not enter into any agreement with any third party which would affect Licensee's rights under this Agreement, or bind Licensee to any third party, without Licensee's prior written consent.</p>
        
        <p class="roboto">Licensor owns and possesses exclusive rights of the Software and the Source Code. No third party has any right, claim or interest whatsoever in respect of the Software.</p>
        
        <p class="roboto">The Licensor hereby declares that it has complied with and agrees to comply with all statutory formalities under the Companies Act, 1956 and statutory and regulatory requirements applicable to the formation and functioning of a company/Partnership/Limited Liability Partnership.</p>
        
        <p class="roboto">Representations and Warranties by the Licensee: </p>
        <p class="roboto">Licensee's use of the Licensed Materials as authorized by this Agreement will not infringe any existing copyright, trade secret, patent or trademark rights of any third party.</p>
        
        <p class="roboto">It has the required legal capacity, regulatory approvals (as may be applicable) and authority to execute this Agreement and perform all its obligations, present and future, under the same. It shall also continue to have the required legal capacity, regulatory approvals (as may be applicable) and authority to effectively carry out its obligations under the terms of this Agreement.</p>
        
        <p class="roboto">The Licensee shall take suitable measures within its control as a prudent and responsible user to prevent loss of Client related data and that it shall implement such measures as necessary.</p>
        
        <p class="pb-28 roboto">The Licensee hereby declares that it has complied with and agrees to comply with all statutory formalities under the Companies Act, 1956/Indian Partnership Act, 1932/Limited Liability Partnership Act, 2008 and statutory and regulatory requirements applicable to the formation and functioning of a company/Partnership/Limited Liability Partnership.</p>
        
</div>
<div class="bottom-fixed-50 wrapper-12">
        <div class="row">
            <div class="col-md-12">
                <h5 class="mb-0 pt-8 text-white c-p" (click)="Close()">Cancel</h5>
            </div>
        </div>
    </div>