<div class="wrapper-20 bg-grey lter heading-fix">
        <h3 class="m-0 text-center head-common">{{upperData.name}}</h3>
      </div>
      <div class="bg-white" *ngIf="invoiceDesign=='true'">
        <div class="wrapper-20 pb-0 mt-32 pt-180">
            <div class="row">
                <div class="col-md-12 p-0">
                        <button mat-stroked-button class="btn-primary br-0 right text-right addon"><i class="material-icons">
                                add</i> ADD INVOICE</button>
                        <button mat-button class="m-0 text-black text-right mr-12 right br-0">HELP</button>
                      
                            
                </div>
            </div>
        </div>
        <div class="wrapper-40 pt-0 pr-20">
            <div class="row">
                <div class="col-md-1 p-0">
          <button mat-button [matMenuTriggerFor]="menu" class="b-a pr-0">Actions <i class="material-icons text-custom">
                  arrow_drop_down
                  </i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="b-t"  *ngIf="dataCount == 0">Select invoice to see more actions</button>
                    <button mat-menu-item (click)="openInvoicesESign('eSignInvoices','open')" *ngIf="dataCount != 0">Email with eSign request</button>
                    <button mat-menu-item (click)="changeDisplay('emailInvoices')"*ngIf="dataCount != 0">Email only</button>
                    <button mat-menu-item class="b-t" (click)="deleteModal('INVOICE')"*ngIf="dataCount != 0">Delete Invoices</button>
                </mat-menu>
                </div>
                <div class="col-md-9 p-0">
                      <p class="m-0 text-black text-left pt-12">{{dataCount}} invoices selected</p>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" class="mt-8" id="table-low">
                  <ng-container matColumnDef="checkbox">
                          <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> <mat-checkbox></mat-checkbox> </th>
                          <td mat-cell *matCellDef="let element" style="width: 2%;" class="c-p">
                                  <mat-checkbox [(ngModel)]="element.isChecked"(click)="selectedInvoice(element.isChecked)"></mat-checkbox>
                          </td>
                      </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date</th>
                    <td mat-cell *matCellDef="let element" class="c-p" (click)="openInvoice(element,'invoiceUpperSlider','open')"> {{element.invoiceDate | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="Invoice number">
                    <th mat-header-cell *matHeaderCellDef> Invoice number</th>
                    <td mat-cell *matCellDef="let element" class="c-p"> {{element.invoiceNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="Service name">
                    <th mat-header-cell *matHeaderCellDef class="border-right-1"> Service name </th>
                    <td mat-cell *matCellDef="let element" class="c-p"> {{element.clientName}} </td>
                </ng-container>

                <ng-container matColumnDef="Billed to">
                    <th mat-header-cell *matHeaderCellDef class="border-right-1"> Billed to </th>
                    <td mat-cell *matCellDef="let element" class="c-p"> {{element.Billedto}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> status</th>
                    <td mat-cell *matCellDef="let element" class="c-p" [ngClass]="{'text-danger':element.status=='OVERDUE','text-primary':element.status=='SENT','text-success':element.status=='PAID'}"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="Duedate">
                    <th mat-header-cell *matHeaderCellDef>Duedate</th>
                    <td mat-cell *matCellDef="let element" class="c-p"> {{element.dueDate | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef> Amount</th>
                        <td mat-cell *matCellDef="let element" class="c-p"> {{element.finalAmount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Balance due">
                            <th mat-header-cell *matHeaderCellDef> Balance due(Rs.)</th>
                            <td mat-cell *matCellDef="let element" class="c-p text-right"> {{element.balanceDue}} </td>
                        </ng-container>
                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef class="f-18" style="width: 2%;"> </th>
                    <td mat-cell *matCellDef="let element" class="c-p" style="width: 2%;">
                        <!-- <i class="material-icons c-p iconscolors" [matMenuTriggerFor]="menu" [matMenuTriggerFor]="belowMenu">
                                                        more_vert
                                                        </i> -->
                        <!-- <mat-menu #menu="matMenu">
                            <a mat-menu-item>View document</a>
                            <a mat-menu-item>Modify document</a>
                            <a mat-menu-item class="bt-1">Delete subscription</a>
                        </mat-menu> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="bottom-fixed wrapper-16 w-100">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="mb-0 pt-8 text-white c-p" (click)="Close('close')">Cancel</h5>
                  </div>
                 
                </div>
              </div>
      </div>
      <div class="pt-14 pr-0" >
            <app-terms-agreement [quotationDesignE]="quotationDesignEmail" *ngIf="invoiceDesign=='emailInvoices'"  (valueChange)='display($event)'  ></app-terms-agreement>
            </div>
