<div class="bg-white b-a">
    <div class="bg-white ">

        <mat-tab-group class="bg-white " mat-align-tabs="end" animationDuration="0ms" id="ui-settings-subs">
            <mat-tab label="PLANS">
                <app-plans-settings></app-plans-settings>
            </mat-tab>
            <mat-tab label="SERVICES">
                <app-services-settings></app-services-settings>
            </mat-tab>
            <mat-tab label="DOCUMENTS">
                <app-documents-settings></app-documents-settings>
            </mat-tab>
            <mat-tab label="PREFERENCES">
                <app-preferences-settings></app-preferences-settings>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>