<div *ngIf="showLoader">
        <mat-spinner class="loader" [diameter]="30"></mat-spinner>
    </div>
<div *ngIf="showLoader==false" class="wrapper-20 mt-70">
        <div class="row">
            <div class="col-md-12">
                <h4 class="pt-20">Services</h4>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-4 mt-20">
                <mat-card class="example-card height-470 bg-grey lter">
    
                    <mat-card-content>
                        <p class="text-center">
                            <i class="material-icons icon-center" (click)="openFragment('services')">   add  </i>
                        </p>
                    </mat-card-content>
    
                </mat-card>
            </div>
            <div class="col-md-4 mt-20" *ngFor="let singleService of serviceSettingData">
                <mat-card class="example-card bg-grey lter p-0">
                    <mat-card-header>
                        <div class="wrapper-20">
                            <mat-card-title class="mb-0 f-24">{{singleService.serviceName}}</mat-card-title>
                            <mat-card-subtitle class="pt-4 pb-12">{{singleService.serviceCode}}</mat-card-subtitle>
                        </div>
                    </mat-card-header>
    
                    <mat-card-content class="bg-white mb-0">
    
                        <div class="row wrapper-20">
                            <div class="col-md-6 p-0">
                                <p class="mb-0 text-primitive f-12">FEE TYPE</p>
                                <label class="bg-header mt-4">{{singleService.feeType}}</label>
                            </div>
                            <div class="col-md-6 p-0">
                                <p class="f-12 mb-0 text-primitive">BILLING NATURE</p>
                                <p class="f-18 pt-4 mb-0">{{singleService.billingNature}}</p>
                            </div>
                        </div>
                        <div class="row wrapper-20 pt-0">
                            <div class="col-md-6 p-0">
                                <p class="mb-0 text-primitive f-12">BILLING MODE</p>
                                <p class="mb-0 f-18">{{singleService.billingMode}}</p>
                            </div>
                            <div class="col-md-6 p-0">
                                <p class="f-12 mb-0 text-primitive">FEES</p>
                                <p class="f-18 mb-0">{{singleService.amount}}</p>
                            </div>
                        </div>
                        <div class="row wrapper-20 bt-1 bb-1">
                            <div class="col-md-4 p-0">
                                <p class="f-14 text-primitive">PLANS</p>
                                <p class="f-24">{{singleService.planCount}}</p>
                            </div>
                            <div class="col-md-4 p-0">
                                <p class="f-14 text-primitive">MODULES</p>
                                <p class="f-24">{{singleService.moduleCount}}</p>
                            </div>
                            <div class="col-md-4 p-0">
                                <p class="f-14 text-primitive">DOCUMENTS</p>
                                <p class="f-24">{{singleService.docCount}}</p>
                            </div>
    
                        </div>
                    </mat-card-content>
                    <mat-card-actions (click)="openFragment('services')" class="block text-center pt-20 pb-20 mb-0">
                        <button mat-stroked-button class="btn-header addon mb-12 mt-8 br-0">INFO</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>