.min-height162 {
    min-height: 162px !important;
    padding-top: 20px !important;
}


/* .mis-header-shadow {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);
} */

.bxo {
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.bg-aum{
    background-color: #FF7272 !important;
    border: 1px solid #BCC6CA;
}
.bg-foliocount {
    background-color: #5DC644;
    border: 1px solid #BCC6CA;
}

.bg-goal {
    background: #5562B2;
    border: 1px solid #BCC6CA;
}

.h-365 {
    height: 365px !important;
}
.second-header{
    position: fixed;
    padding-right: 100px;
    margin-top: 125px;
    padding-top: 16px;
    padding-bottom: 16px;
    // left: 0;
    z-index: 2;
    // right: 0;
    background: #fff;
    // border-left: 1px solid #e8ecef;
}
