<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
    
    <img class="loader" src="https://offerscouponsdeals.in/public/ocd_images/overlay-loader.gif">
</div> -->
<div id="ui-misreport">
    <div class="bg-white pb-36 b-a ">
        <div *ngIf="sipComponent==true" class="wrapper-20">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="pt-36">Mutual Fund - AUM Report</h3>
                </div>
                <div class="pt-20 pr-0">
                    <div class="row ">
                        <div class="col-md-9 pl-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="bg-aum pt-24 pb-24 text-center br-2 min-height162">

                                        <h1 class="text-white f-44 f-300 pt-32">Cr
                                        </h1>
                                        <p class="f-16 pt-4 text-white">TOTAL SIP BOOK</p>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="bg-foliocount br-2 min-height162 pr-20 pl-12">

                                        <div class="row pt-12">
                                            <div class="col-md-5 text-left p-0" *ngIf="SipData1">
                                                <div class="pl-12">
                                                    <h1 class="f-24 text-white mb-0 pb-8">{{SipData1.totalCount}}
                                                    </h1>
                                                    <p class="f-12 text-white mb-0">SIP Count</p>
                                                </div>
                                            </div>
                                            <div class="col-md-7 p-0 text-right">
                                                <h1 class="text-white f-24 mb-0 pb-8"></h1>
                                                <p class="f-12 mb-0 text-white">Average SIP</p>

                                            </div>
                                            <div class="col-md-12 pr-0">
                                                <div class="pt-20">
                                                    <mat-progress-bar mode="determinate" value="10" class="text-white">
                                                    </mat-progress-bar>
                                                    <p class="text-white f-12 pt-4 mb-0 pb-8">10 % Clients without SIP
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bg-info p-16 br-2 pt-12 min-height162">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="text-center">
                                                <h1 class="text-white f-300 f-40 mb-4 pt-8">13.22%</h1>

                                                <p class="text-white f-14 mb-0 pt-12 l-21">Out of 5370 folios, 13.4% (716 folios) are currently linked to financial goals of your clients </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="pt-12 mb-8 text-muted">Filter Options</p>
                            </div>
                        </div>
                        <div class="margin-12 mt-0">
                            <div class="row">
                                <div class=" col-md-3 p-0 ">
                                    <div class="mr-8 bg-white b-a">
                                        <div class="row ">
                                            <div class="col-sm-3 text-right p-0 ">
                                                <i class="material-icons pt-16 text-custom f-20 text-right ">
                                                                calendar_today
                                                            </i>
                                            </div>
                                            <div class="col-sm-9 text-left " (click)="amcWise('amc')">
                                                <p class="mb-0 text-custom pt-16 pb-16 ">AMC Wise</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-0 p-0 ">
                                <div class="mr-8 bg-white b-a">
                                    <div class="row ">
                                        <div class="col-sm-3 text-right p-0 ">
                                            <i class="material-icons pt-12 text-custom f-20 ">
                                                                favorite
                                                            </i>
                                        </div>
                                        <div class="col-sm-9 text-left " (click)="amcWise('scheme')">
                                            <p class="mb-0 text-custom pt-16 pb-16 ">Scheme Wise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pl-0 p-0 ">
                            <div class="mr-8 bg-white b-a">
                                <div class="row ">
                                    <div class="col-sm-3 text-right p-0 ">
                                        <i class="material-icons pt-16 text-custom f-20 text-right ">
                                                                shopping_cart
                                                            </i>
                                    </div>
                                    <div class="col-sm-9 text-left " (click)="amcWise('client')">
                                        <p class="mb-0 text-custom pt-16 pb-16 ">Client Wise</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 ">
                        <div class="bg-white b-a">
                            <div class="row ">
                                <div class="col-sm-3 text-right p-0 ">
                                    <i class="material-icons pt-16 text-custom f-20 text-right ">
                                                                dehaze
                                                            </i>
                                </div>
                                <div class="col-sm-9 text-left " (click)="amcWise('applicant')">
                                    <p class="mb-0 text-custom pt-16 pb-16 ">Applicant Wise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-12">
            <img src="https://res.cloudinary.com/futurewise/image/upload/v1566296616/chart_gasc6r.png " class="w-100 h-365">
        </div>
    </div>
    <div class="col-md-3 p-0">

        <div id="siptabs1">
            <mat-tab-group class="h-300 bg-white b-a ">
                <mat-tab label="Clients">
                    <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Top Clients </h6>

                    <div class="b-white">
                        <div class="row bb-dotted">
                            <div class="col-md-7 p-0 ">
                                <p class="mb-0 f-bold f-13 p-8 "></p>
                            </div>
                            <div class="col-md-5 p-0 ">
                                <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                </p>
                            </div>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="AMC " class="min-w140 ">
                    <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Top AMC</h6>

                    <div class="b-white ">
                        <div class="row bb-dotted ">
                            <div class="col-md-7 p-0 ">
                                <p class="mb-0 f-bold f-13 p-8 "></p>
                            </div>
                            <div class="col-md-5 p-0 ">
                                <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-12 aumtabs p-0 mt-20 " id="siptabs2">
            <mat-tab-group class="h-300 bg-white b-a ">
                <mat-tab label="Category ">
                    <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">TOP CATEGORY</h6>


                    <div class="b-white ">
                        <div class="row bb-dotted ">
                            <div class="col-md-7 p-0 ">
                                <p class="mb-0 f-bold f-13 p-8 "></p>
                            </div>
                            <div class="col-md-5 p-0 ">
                                <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                </p>
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Sub Category " class="min-w140 ">
                    <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Sub Category</h6>
                    <div class="b-white ">
                        <div class="row bb-dotted ">
                            <div class="col-md-7 p-0 ">
                                <p class="mb-0 f-bold f-13 p-8 "></p>
                            </div>
                            <div class="col-md-5 p-0 ">
                                <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>


    </div>
</div>
<div *ngIf="sipcomponentWise=='amc'">
    <app-sip-amc-wise></app-sip-amc-wise>
</div>
<div *ngIf="sipcomponentWise=='scheme'">
    <app-sip-scheme-wise></app-sip-scheme-wise>
</div>
<div *ngIf="sipcomponentWise=='client'">
    <app-sip-client-wise></app-sip-client-wise>
</div>
<div *ngIf="sipcomponentWise=='applicant'">
    <app-sip-applicant-wise></app-sip-applicant-wise>
</div>