.form-control{
    border-radius: 0px; 
}
.minheight-900{
    min-height: 900px !important;
}
.bg-white.hover:hover {
    background-color:  #E5E5E5 !important;
    cursor: pointer;
}
// ::ng-deep .mat-checkbox-inner-container-no-side-margin{
//     position: absolute;
//     top: 8%;
// }