<div class="bg-white pb-36 mt-70" id="ui-subs">
    <div class="wrapper-20">
        <div class="row">
            <div class="col-md-8 p-0">
                <h4 class="pt-8 mb-0">Subscriptions</h4>
            </div>
            <div class="col-md-4 right text-right p-0">
                <i class="material-icons mr-12 icon-light c-p v-sub">
                    search
                </i>
                <button mat-stroked-button class="btn-default addon mr-12"><i class="material-icons">filter_list</i>FILTERS</button>
                <button mat-stroked-button class="btn-primary addon"><i class="material-icons">add</i>ADD NEW</button>
            </div>
        </div>
        <div class="row pt-12">
            <div class="col-md-8 p-0 custom-tags">
                <mat-chip-list >
                    <mat-chip class="bg-white b-a c-p f-400 p-12">Live <i class="material-icons text-custom ml-12">
                                        cancel
                                        </i></mat-chip>
                    <mat-chip class="bg-white b-a c-p f-400 p-12">Started <i class="material-icons text-custom ml-12">
                                        cancel
                                        </i></mat-chip>
                    <mat-chip class="bg-white b-a c-p f-400 ">01/04/2018 - 31/03/2019 <i class="material-icons text-custom ml-12">
                                        cancel
                                        </i></mat-chip>

                </mat-chip-list>
            </div>

            <div class="col-md-4 right text-right p-0">

                <button mat-button mat-stroked-button class="br-0 text-custom pr-0" [matMenuTriggerFor]="menu">FILTERS TWO <i class="material-icons">
                                arrow_drop_down
                                </i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button mat-stroked-button class="br-0 ml-12 pr-0 text-custom" [matMenuTriggerFor]="menu">FILTERS ONE <i class="material-icons">
                                arrow_drop_down
                                </i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" id="table-low" class="mt-8">



            <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-20"> Client & Plan details </th>
                <td mat-cell *matCellDef="let element" (click)="Open('SUBSCRIPTIONS','open',element)" class="c-p t-20"> {{element.planName}} </td>
            </ng-container>
            <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-12"> Service name </th>
                <td mat-cell *matCellDef="let element" class="c-p t-12"> {{element.serviceName}} </td>
            </ng-container>
            <ng-container matColumnDef="amt">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-10"> Fee amount </th>
                <td mat-cell *matCellDef="let element" (click)="Open('modifyFees','open',element)" class="c-p t-10"> veiw details</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="sub">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-10"> Subs # </th>
                <td mat-cell *matCellDef="let element" class="t-10 c-p"> {{element.subscriptionNumber}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-10"> Status </th>
                <td mat-cell *matCellDef="let element" class="greentext t-10"> {{element.status}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="activation">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-6"> Activation... </th>
                <td mat-cell *matCellDef="let element" >
                <div *ngIf="element.startsOn!='START'"> {{element.startsOn | date:'dd/MM/yyyy'}}</div>
                <div *ngIf="element.startsOn=='START'" (click)="openPlanSlider('createSub','open')"><button mat-stroked-button class="btn-header btn-xs ml-8 br-0 btn-sm">{{element.startsOn}}</button></div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="lastbilling">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-10"> Last billing... </th>
                <td mat-cell *matCellDef="let element" class="t-10"> {{element.prevBillingDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="nextbilling">
                <th mat-header-cell *matHeaderCellDef class="f-18 text-right pr-24 t-15" > Next billing... </th>
                <td mat-cell *matCellDef="let element" class="text-right pr-8 t-15" > {{element.nextBillingDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="feemode">
                <th mat-header-cell *matHeaderCellDef class="f-18 text-right pr-24 t-12"> Fee mode</th>
                <td mat-cell *matCellDef="let element" class="text-right pr-8 t-12"> {{element.feeMode}} </td>
            </ng-container>
            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef class="f-18 t-2"> </th>
                <td mat-cell *matCellDef="let element" class="t-2"><i class="material-icons c-p iconscolors" [matMenuTriggerFor]="menu">
                    more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item (click)="Open('modifyFees','open')" >View & Modify fee structure</a>
                        <a mat-menu-item class="bt-1" (click)="Open('billerSettings','open')">Change Biller</a>
                        <a mat-menu-item (click)="Open('changePayee','open')">Change Payee</a>
                        <a mat-menu-item class="bt-1" (click)="delete('cancelSubscription')">Cancel subscription</a>
                        <a mat-menu-item (click)="deleteModal('SUBSCRIPTION')">Delete subscription</a>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>