<div class="full-lights pb-36" id="ui-subscription-completeness">
    <div class="wrapper-20">
        <div class="row">
            <div class="col-md-12">
                <h4 class="pt-28 mb-0">Subscription completeness</h4>
            </div>
        </div>
        <div class="wrapper-4">
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="mt-12">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="material-icons done-icons">
                                        done
                                        </i>
                            </div>
                            <div class="col-md-10 p-0" (click)="goToSelectivePage()">
                                <h4 class="mb-0">Create Plans, Services & Documents</h4>
                                <p class="text-primitive mb-0 f-14 pt-8">Adding these will set up the foundation for your RIA practice.</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mt-20">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="material-icons default-icons">
                                        more_horiz
                                        </i>
                            </div>
                            <div class="col-md-10 p-0">
                                <h4 class="mb-0">Set up your Biller profile</h4>
                                <p class="text-primitive mb-0 f-14 pt-8">These details show up in the invoices your clients will receive.</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mt-20">
                        <div class="row">
                            <div class="col-md-2 pt-8">
                                <i class="material-icons default-icons">
                                        more_horiz
                                        </i>
                            </div>
                            <div class="col-md-10 p-0" (click)="currentTabs('client')">
                                <h4 class="mb-0">Add Plan to a client</h4>
                                <p class="text-primitive mb-0 f-14 pt-8">Kickstart your core workflow with a client and unfold the magic. Add a Plan to take things forward.</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mt-20">
                        <div class="row">
                            <div class="col-md-2 pt-8">
                                <i class="material-icons default-icons">
                                        more_horiz
                                        </i>
                            </div>
                            <div class="col-md-10 p-0">
                                <h4 class="mb-0">Send Quotation to a client</h4>
                                <p class="text-primitive mb-0 f-14 pt-8">Once you’ve added a Plan, you can send out a Quotation to the client, get their approval before the actual billing starts.</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mt-20">
                        <div class="row">
                            <div class="col-md-2 pt-8">
                                <i class="material-icons default-icons">
                                        more_horiz
                                        </i>
                            </div>
                            <div class="col-md-10 p-0">
                                <h4 class="mb-0">Send Document for eSign</h4>
                                <p class="text-primitive mb-0 f-14 pt-8">Email documents to client with one click. Client can review them and proceed for e-singing using Aadhaar based eSign.</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mt-20">
                        <div class="row">
                            <div class="col-md-2 pt-8">
                                <i class="material-icons default-icons">
                                        more_horiz
                                        </i>
                            </div>
                            </div>
                    </mat-card>

                    </div>
                    <div class="col-md-6 pt-12">
                        <div class="b-a">
                            <img src="assets/images/svg/Dashboard1.svg" class="w-100">
                            <p class="f-22">What is Subscriptions?</p>
                            <h5>Subscriptions is carefully designed for RIAs. You can define your core offerings, fee structure, deliverables, agreements and automate the whole process around it. This will act as a foundation for your RIA practice.</h5>

                        </div>
                        <div class="text-center">
                            <p class="pt-72 text-black">For more help, checkout our complete FAQ on how Subscriptions work.</p>
                            <button mat-stroked-button class="text-primary br-0 mt-20 w-110">READ ON</button>
                        </div>
                        

                    </div>
                    <div class="col-md-6 pt-12">
                        <div class="b-a">
                            <img src="../assets/images/svg/Dashboard1.svg" class="w-100">
                            <p class="f-22">What is Subscriptions?</p>
                            <h5>Subscriptions is carefully designed for RIAs. You can define your core offerings, fee structure, deliverables, agreements and automate the whole process around it. This will act as a foundation for your RIA practice.</h5>

                        </div>
                        <div class="text-center">
                            <p class="pt-72 text-black">For more help, checkout our complete FAQ on how Subscriptions work.</p>
                            <button mat-stroked-button class="text-primary br-0 mt-20 w-110">READ ON</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>